<template>
  <div class="download-wrapper">
    <div class="page-box">
      <div class="download-header">
        <router-link class="download-logo" to="/index/index"></router-link>
      </div>
      <div class="download-container">
        <img class="download-iphone" src="/images/download/europe-iphone.png"/>
        <div class="download-detail">
          <h3 class="download-title">Download the Multilotto APP now and play the world’s biggest lotteries</h3>
          <p class="download-stress">Anytime, Anywhere!</p>
          <div class="download-qrcode-wrapper">
            <img class="download-qrcode" src="/images/download/com_QRcode.png"/>
            <ul class="download-qrcode-list">
              <li>
                <span class="download-qrcode-icon android"></span>
                <p class="download-qrcode-text">Android</p>
              </li>
              <li>
                <span class="download-qrcode-icon ios"></span>
                <p class="download-qrcode-text">App Store</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import './index.scss'
	export default {
    data(){
      return{
        ticketList:[]
      }
    },
    components:{
    },
    mounted(){
      // this.getTicketList();
    },
    methods:{
      // getTicketList(){
      //   this.axios.get('/api/ajax/get-gluck-ticket-games',{
      //     params:{
      //       page:1,
      //       pageSize:4,
      //       homePage:1
      //     }
      //   }).then((response)=>{
      //     let res = response.data;
      //     this.ticketList = res.list;
      //   })
      // }
    }
	}
</script>