@charset "utf-8";

.download-wrapper {
  height: 100vh;
  background: url('/images/download/bg.png') center center;
  background-size: 100% 100%;
}

.download-header {
  padding: 15px 0 0 0;
}

.download-logo {
  @extend %inline-block;
  width: rem(110);
  height: rem(68);
  @include imageUrl('download/logo.png');
}

.download-container {
  display: flex;
  align-items: center;
}

.download-iphone {
  margin-right: 30px;
  width: 436px;
}

.download-detail {
  flex: 1;
}

.download-title {
  font-size: 18px;
  line-height: 24px;
  font-family: Muli-ExtraBold,Muli;
  font-weight: 800;
  text-shadow: 0 6px 6px rgba(0,0,0,.1);
  color: #fff;
}

.download-stress {
  margin-top: 4px;
  margin-bottom: 15px;
  font-size: 48px;
  line-height: 62px;
  font-family: Muli-ExtraBold,Muli;
  font-weight: 800;
  text-shadow: 0 6px 6px rgba(0,0,0,.1);
  color: #fff;
}

.download-qrcode-wrapper {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.download-qrcode {
  margin-right: 30px;
  width: 130px;
  height: 130px;
  border: solid 6px $white;
}

.download-qrcode-list {
  >li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 46px;
    background: rgba(0,0,0,.3);
    font-size: 12px;
    font-family: Montserrat-Medium,Montserrat;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    + li {
      margin-top: 15px;
    }
  }
}

.download-qrcode-icon {
  margin-right: 7px;
  width: 34px;
  height: 34px;
  &.android {
    @include imageUrl('download/icon-android.png');
  }
  &.ios {
    @include imageUrl('download/icon-ios.png');
  }
}

.download-qrcode-text {
  font-size: 18px;
  line-height: 24px;
  font-family: Montserrat-SemiBold,Montserrat;
  font-weight: 600;
  color: #fff;
}