<template>
  <div class="trading-wrapper">
  	<div class="trading-mobile">
      <div class="trading-con-wrap">
        <div class="trading-con" style="display:block">
          <div class="single-head">
            <div class="left">
              <img class="icon-pb1" :src="ticket.logo" :alt="ticketName">
              <div class="head-text">
                <p class="head-text-name">{{ticketName}}</p>
                <span class="money">{{ticket.user_currency}} {{ticketPrice}}</span>
                <span class="time">{{ticket.draw_day}}</span>
              </div>
            </div>
            <div class="right">
              <van-switch v-model="ticketstatus" />
            </div>
          </div>
          <div class="single-body">
            <ul class="single-list">
              <li v-for="(item,index) in pickList" :key="item.id">
                <span v-if="item.frontPickList" v-for="n in item.frontPickList">{{n}}</span>
                <span v-if="item.backPickList" v-for="n in item.backPickList" class="special">{{n}}</span>
                <a href="javascript:;" class="del" @click="delOneLine(index)"></a>
              </li>
            </ul>
            <div class="add-pick">
              <a href="javascript:;" class="add" @click="addOneLine">
                <i class="icon-add"></i>
                <span>Add ONE LINE</span>
              </a>
              <!-- <a href="javascript:;" class="pick" @click="showPickModal=true">Pick</a> -->
              <a href="javascript:;" class="pick" @click="openPickModal">Pick</a>
            </div>
          </div>
        </div>
      </div>
      <p class="rish-text">The minimum and Mamixum lines you can play for single game at a time are 1 and 20 respectively</p>
      <div class="choose-draws">
        <h2 class="draw-title">Choose draws</h2>
        <van-radio-group v-model="pickedDraw">
          <van-radio v-for="item in drawsList" :name="item" :key="item">
            <div class="detail">
              <h5>{{item}} draw</h5>
              <p>Just {{item}} draw. Remember to play again in the next draw.</p>
            </div>
          </van-radio>
        </van-radio-group>
      </div>
      <van-collapse v-model="aboutIndex">
        <van-collapse-item v-for="(item,index) in aboutList" :title="item.title" :name="index" :key="item.id">
          <div class="about-article">
            <h3>{{item.title}}</h3>
            <p>{{item.text}}</p>
          </div>
        </van-collapse-item>
      </van-collapse>
    </div>
    <div class="shop-mobile-total">
      <div class="shop-mtotal-checkbox">
        <span class="shop-dtotal-subtotal">Subtotal: <b class="js-price-total">€40.00</b></span> 
        <span class="js-rate-price-total shop-dtotal-currency"></span> 
        <span class="shop-dtotal-discounted" style="display: none;">You save: <b class="js-price-discount"></b></span>
      </div> 
      <div class="shop-mtotal-group">
        <van-button type="primary">PLAY NOW</van-button>
      </div>
    </div>
    <div class="modal-trading-select-wrap" v-bind:class="{'active':showPickModal}">
      <div class="modal-trading-select">
        <a href="javascript:;" class="modal-close" @click="closePickModal"></a>
        <div class="select-nums">
          <span v-for="item in frontPickList" :key="item">{{item}}</span>
          <span v-for="item in backPickList" class="special">{{item}}</span>
        </div>
        <div class="select-item">
          <div class="select-head">
            <a href="javascript:;" class="del" @click="delPickList"></a>
            <a href="javascript:;" class="random" @click="setPickList">Random</a>
          </div>
          <div class="select-body">
            <p>Pick {{frontPickNum}} numbers</p>
            <van-checkbox-group v-model="frontPickList" :max="frontPickNum">
              <van-checkbox v-for="n in frontTotalNum" :name="n" :key="n" shape="square">{{n}}</van-checkbox>
            </van-checkbox-group>
            <p>Pick {{backPickNum}} bonus number</p>
            <van-checkbox-group v-model="backPickList" :max="backPickNum">
              <van-checkbox v-for="n in backTotalNum" :name="n" :key="n" shape="square">{{n}}</van-checkbox>
            </van-checkbox-group>
          </div>
          <van-button type="info" block @click="updatePickList">ok</van-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import './index.scss'
  import './theme.scss'
  import { getTicket } from '@/api/data'
  import { fixedAppView, formatMoney, produceRndArr } from '@/lib/tools'
	export default {
    data() {
      return {
        ticket: {},
        ticketstatus: false,
        showPickModal: false,
        pickList: [],
        maxPickNum: 20,
        minPickNum: 5,
        backPickList: [],
        frontPickList: [],
        pickedDraw: 4,
        drawsList: [1,4,8,16],
        aboutIndex: ['1'],
        aboutList: [
          {
            'id':'10001',
            'title':'About Eurojackpot',
            'text':'Eurojackpot is one of the biggest lotteries in Europe which can be accessed through various platforms. By playing Eurojackpot, you have a better chance of winning. The lottery provides you with bigger prizes that range in the millions of euros with better odds that other famous lotteries in the world does not offer.'
          },
          {
            'id':'10002',
            'title':'How to play the Eurojackpot',
            'text':'Select 5 numbers between 1-50 and 2 bonus numbers from 1-10. Complete as many entries as you like and click the green ‘Add to cart’ button to complete your transaction.'
          },
          {
            'id':'10003',
            'title':'How to Receive FREE Eurojackpot Results',
            'text':'Hot numbers are the lottery numbers that appear the most, and Eurojackpot s hot numbers 49,19,35,40,7. Cold numbers are the numbers that appear infrequently. The Eurojackpot lottery cold numbers are 5,50,37,27,48. Over due is the number that has not appeared in consecutive draw recently, the number that overdue most recently is 31(277 days),6(235 days),14(165 days),9(158 days),45(130 days). Some lotto fans choose them specifically because of this, believing that their reappearance in Eurojackpot results is only a matter of time, while others stay clear.'
          }
        ]
      }
    },
    watch: {
      '$route': {
        immediate: true,
        handler() {
          this.initTicket()
        }
      }
    },
    methods: {
      async initTicket() {
        let response = await getTicket(this.$route.params.id);

        this.setTicket(response);
        
        this.initPickList();
        
        this.setTicketstatus();
      },
      setTicket(response) {
        let data = response && response.data;
        for (let key in data) {
          this.$set(this.ticket,key,data[key]);
        }
      },
      setTicketstatus() {
        if (this.isBoostOpen) {
          this.ticketstatus = true;
        } else {
          this.ticketstatus = false;
        }
      },
      getRndPickList() {
        let backPickList = produceRndArr(this.backTotalNum,this.backPickNum);
        let frontPickList = produceRndArr(this.frontTotalNum,this.frontPickNum);
        return {
          'backPickList':backPickList,
          'frontPickList':frontPickList
        }
      },
      addOneLine() {
        if (this.pickListNum==this.maxPickNum) return;
        let pickList = this.getRndPickList();
        this.pickList.push({
          'id':(((1+Math.random())*0x10000)|0).toString(16).substring(1),
          'frontPickList':pickList.frontPickList,
          'backPickList':pickList.backPickList
        })
      },
      initPickList() {
        this.pickList.length = 0;
        for (let i = 0; i < this.minPickNum; i++) {
          let pickList = this.getRndPickList();
          this.pickList.push({
            'id':(((1+Math.random())*0x10000)|0).toString(16).substring(1),
            'frontPickList':pickList.frontPickList,
            'backPickList':pickList.backPickList
          })
        }
      },
      delOneLine(index) {
        this.pickList.splice(index,1);
      },
      delPickList() {
        this.backPickList = [];
        this.frontPickList = [];
      },
      setPickList() {
        let { frontPickList, backPickList } = this.getRndPickList();
        for (let i = 0; i < frontPickList.length; i++) {
          this.$set(this.frontPickList,i,frontPickList[i]);
        }
        for (let i = 0; i < backPickList.length; i++) {
          this.$set(this.backPickList,i,backPickList[i]);
        }
      },
      updatePickList() {
        if (!this.isAllPick) {
          this.$toast.fail('Added fail...');
          return false;
        } else {
          this.$toast.success('Added successfully...');
          this.showPickModal = false;
          fixedAppView(false);
          this.addOneLine();
        }
      },
      openPickModal() {
        fixedAppView(true);
        this.showPickModal = true;
      },
      closePickModal() {
        fixedAppView(false);
        this.showPickModal = false;
      }
    },
    computed: {
      ticketName() {
        if (typeof this.ticket.name != 'undefined') {
          return this.ticket.name;
        } else {
          return 'powerball';
        }
      },
      hasBoost() {
        if (typeof this.ticket.boost != 'undefined') {
          if (this.ticket.boost) {
            return true;
          } else {
            return false;
          }
        }
      },
      isBoostOpen() {
        if ((typeof this.ticket.boost != 'undefined')&&(typeof this.ticket.boost_open != 'undefined')) {
          if ((this.ticket.boost)&&(this.ticket.boost_open)) {
            return true;
          } else {
            return false
          }
        }
      },
      unitPrice() {
        if (typeof this.ticket.unit_price != 'undefined') {
          return this.ticket.unit_price;
        } else {
          return 0;
        }
      },
      boostUnitPrice() {
        if (typeof this.ticket.unit_jackpot_price != 'undefined') {
          return this.ticket.unit_jackpot_price;
        } else {
          return 0;
        }
      },
      ticketUnitPrice() {
        if (this.ticketstatus) {
          return this.boostUnitPrice;
        } else {
          return this.unitPrice;
        }
      },
      jackpotPrice() {
        if (typeof this.ticket.jackpot != 'undefined') {
          return this.ticket.jackpot;
        } else {
          return 0;
        }
      },
      boostJackpotPrice() {
        if (typeof this.ticket.boost_jackpot != 'undefined') {
          return this.ticket.boost_jackpot;
        } else {
          return 0;
        }
      },
      ticketPrice() {
        if (this.ticketstatus) {
          return formatMoney(this.boostJackpotPrice,2);
        } else {
          return formatMoney(this.jackpotPrice,2);
        }
      },
      frontPickNum() {
        if (typeof this.ticket.front_pick_number != 'undefined') {
          return this.ticket.front_pick_number;
        }
      },
      frontTotalNum() {
        if (typeof this.ticket.front_number != 'undefined') {
          return this.ticket.front_number;
        }
      },
      frontListNum() {
        return this.frontPickList.length;
      },
      backPickNum() {
        if (typeof this.ticket.back_pick_number != 'undefined') {
          return this.ticket.back_pick_number;
        }
      },
      backTotalNum() {
        if (typeof this.ticket.back_number != 'undefined') {
          return this.ticket.back_number;
        }
      },
      backListNum() {
        return this.backPickList.length;
      },
      pickListNum() {
        return this.pickList.length;
      },
      isFrontPickAll() {
        if (this.frontPickNum == this.frontListNum) {
          return true;
        } else {
          return false;
        }
      },
      isBackPickAll() {
        if (this.backPickNum == this.backListNum) {
          return true;
        } else {
          return false;
        }
      },
      isAllPick() {
        if (this.isFrontPickAll && this.isBackPickAll) {
          return true;
        } else {
          return false;
        }
      }
    }
	}
</script>