@charset "utf-8";

/**
*
* @module Theme color configuration
*
*/
$lotteries: (
	euromillions:#4844d6,
	mega-millions:#f89b00,
	la-primitiva:#02870f,
	superenalotto:#f26d16,
	florida-lotto:#187257,
	california-superlotto:#0086e9,
	australia-powerball:#073bc1,
	powerball:#da3c37,
	uk-national-lottery:#2d5877,
	sweden-lotto:#0058c5,
	new-york-lotto:#0058c5,
	indiana-hoosier-lotto:#1c886e,
	illinois-lotto:#f89b00,
	belgium-lotto:#c71c1c,
	mega-sena:#4da01d,
	norway-lotto:#3d36ac,
	austria-lotto:#036694,
	poland-lotto:#ca2242,
	finland-lotto:#1355a3,
	canada-lotto-649:#013b87,
	eurojackpot:#aa7800,
	australia-saturday-lotto:#2d5877,
	bonoloto:#2d5877,
	el-gordo:#aa261c,
	france-lotto:#e0231e,
	australia-oz-lotto:#1c8732,
	germany-lotto:#F7DC32,
	new-zealand-powerball:#013782,
	hungary-otoslotto:#13a321,
	irish-lotto:#13a321,
	new-jersey-pick-six:#0072af,
	italy-superstar:#6310b2,
	oregon-megabucks:#f03338,
	ukraine-megalot:#e0231e,
	ukraine-super-loto:#f1540d,
	russia-gosloto-645:#3638b5,
	russia-gosloto-749:#3638b5,
	sweden-viking-lotto:#b81f2a,
	ontario-49:#aa261c,
	uk-thunderball:#3218af,
	romania-lotto-649:#037946,
	south-africa-lotto:#f89b00,
	canada-lotto-max:#013b87,
	quebec-49:#0c62d8,
	greece-lotto:#da7b02,
	hong-kong-mark-six:#ce2432,
	israel-double-lotto:#096ce3,
	japan-loto-6:#e92251,
	mexico-melate:#5e00ac,
	turkey-lotto-649:#e93d34,
	washington-lotto:#4da01d,
	baloto-colombia:#d33a05,
	greece-joker:#0086e9,
	cash4life:#2c7cc8,
	el-gordo-navidad:#f75329,
	mini-lotto:#ca2242,
	bitcoin-jackpot:#9c5002,
	mega-millions-max:#f89b00,
	eurojackpot-max:#aa7800,
	usa-powerball-max:#da3c37,
	swiss-lotto:#3218af,
	gold-lottery:#93712a,
	staatsloterij:#f89b00,
	christmas-lottery:#d53e30,
	lotto2020:#f89b00
);

@each $lottery, $color in $lotteries {
	.trade-outer-wrapper.#{$lottery} {
		background: rgba($color, 0.85) url('/images/trade/trade_bg.png') 0 0 no-repeat;
	  background-size: contain;
	  .trade-header-wrapper {
	  	background-color: $color;
	  	.trade-header-add>li {
	  		&:hover {
	  			color: $color;
	  		};
	  	}
	  }
	  .trade-list-wrapper{
	  	>li,.trade-pick-card {
	  		.item-tool {
					.quick-pick {
						background: $color;
						&:hover {
							background: rgba($color, 0.7);
						}
					}
				}
	  		&.focus {
					.item-inner {
						border-color: $color;
					}
					.trade-list-ball {
						>li {
							color: $color;
						}
					}
				}
				&.finish {
					.item-inner {
						&:before {
							background: rgba($color, 0.05);
						}
					}
				}
				.trade-list-ball {
					>li {
						&:hover {
							border: 2px solid $color;
							color: $color;
						}
						&.on {
							border-color: $color;
							background: $color;
							color: #fff;
						}
					}
				}
				&.inactive {
					.item-inner {
						border-color: #d0d4df;
					}
					ul {
						li {
							cursor: default;
							color: #cbcfdb;
							&:hover, &.on {
								border: solid 1px #d0d4df;
								color: #cbcfdb;
								cursor: default;
								background: transparent;
							}
						}
					}
				}
	  	}
	  }
	}
}