@charset "utf-8";

.minapp-wrapper {
	@extend %relative;
	display: flex;
	justify-content: space-between;
	margin-top: 0.15rem;
	padding: 0 0.1rem;
	min-height: 1.6rem;
	background: url('/images/minapp/bg.png') 0 0 no-repeat;
	background-size: cover;
}

.minapp-box {
	display: flex;
	align-items: center;
}

.minapp-iphone {
	margin-top: -0.3rem;
	width: 1.8rem;
}

.minapp-main {
	margin-left: 0.1rem;
	color: $white;
	h3 {
		font-size: 0.26rem;
		line-height: 1;
    font-family: Helvetica;
	}
	p {
    font-size: 12px;
    line-height: 14px;
    font-family: Helvetica;
	}
}

.minapp-aside {
	display: flex;
	align-items: center;
}

.minapp-code {
	margin-right: 0.1rem;
  width: 1.2rem;
  border: solid 4px $white;
}

.minapp-list {
	>li {
		@extend %relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 0.32rem;
    background: rgba(0,0,0,0.3);
    font-size: 12px;
    font-family: Helvetica;
    color: $white;
    line-height: 14px;
    + li {
    	margin-top: 2px;
    }
	}
}

.minapp-link {
	@extend %absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}