<template>
	<div class="minapp-wrapper">
	  <div class="minapp-box">
	  	<img class="minapp-iphone" src="/images/minapp/iphone.png" alt="">
	  	<div class="minapp-main">
	  		<h3>Have you downloaded the new Multilotto app?</h3>
	  		<p>Customized lotto results. Better experience</p>
	  	</div>
	  </div>
	  <div class="minapp-aside">
	  	<img class="minapp-code" src="/images/minapp/code.png" alt="">
	  	<ul class="minapp-list">
	  		<li>
	  			<span class="minapp-android">Android</span>
	  		</li>
	  		<li>
	  			<span class="minapp-ios">App Store</span>
	  		</li>
	  	</ul>
	  </div>
	  <router-link to="/download" class="minapp-link"></router-link>
	</div>
</template>
<script>
	import './index.scss'
	export default {
		name: 'minapp'
	}
</script>