@charset "utf-8";

/**
*
* @module header-wrapper
*
*/
.header-wrapper {
  @extend %fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  box-shadow: 0 0 10px rgba(22,34,29,0.3);
  z-index: 3;
  @extend %flex;
  align-items: center;
  justify-content: space-between;
  height: 0.88rem;
  padding: 0 0.15rem;
  max-width: 7.5rem;
  margin: auto;
}

.header-box {
  @extend %flex;
  align-items: center;
  justify-content: space-between;
  height: 0.88rem;
}

.header-logo {
  display: block;
  margin-left: 0.15rem;
  margin-right: auto;
  height: 0.6rem;
  width: 1rem;
  @include imageUrl('header/logo-mm.png');
}

.header-menu {
  &.is-active {
    > .line {
      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
  > .line {
    display: block;
    margin: 3px auto;
    width: 0.4rem;
    height: 3px;
    background-color: #33373a;
    transition: all 0.2s ease-in-out;
  }
}

.header-login-wrapper {
  display: flex;
  align-items: center;
}

.header-login-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.1rem;
  height: 0.56rem;
  min-width: 1.6rem;
  font-size: 0.28rem;
  border-radius: 0.28rem;
  color: #fff;
  font-family: 'mu sb';
  background: $blue;
  + .header-sign-btn {
    margin-left: 0.1rem;
  }
}

.header-sign-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.1rem;
  height: 0.56rem;
  min-width: 1.6rem;
  font-size: 0.28rem;
  border-radius: 0.28rem;
  color: #fff;
  font-family: 'mu sb';
  background: $green;
}

.header-user-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-user-box {
  @extend %relative;
  display: flex;
  align-items: center;
  margin-right: 0.2rem;
  cursor: pointer;
  height: 100%;
}

.header-user-balance {
  line-height: 1;
  text-align: right;
  >li {
    font-family: "mu r";
    color: #9195a0;
    span {
      padding-left: 5px;
      color: $black;
    }
  }
}

.header-user-avator {
  margin-left: 0.1rem;
  width: 0.5rem;
  height: 0.5rem;
  @include imageUrl('header/header-user-avator.png');
  @extend %radius;
}

.header-user-info {
  display: flex;
  flex-direction: column;
  margin-left: 0.1rem;
  font-family: "mu b";
}

.header-user-name {
  font-size: 0.24rem;
  color: $black;
}

.header-user-nationality {
  font-size: 0.24rem;
  color: #9195a0;
}