<template>
  <div class="header-wrapper">
    <div @click="openHeadMenu" class="header-menu" v-bind:class="{'is-active':openMenu}">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <router-link class="header-logo" to="/index"></router-link>
    <div v-show="hasGetInfo!=1" class="header-login-wrapper">
      <router-link class="header-login-btn" to="/login">Log In</router-link>
      <router-link class="header-sign-btn" to="/register">Sign Up</router-link>
    </div>
    <div v-show="hasGetInfo==1" class="header-user-wrapper">
      <div class="header-user-box">
        <ul class="header-user-balance">
          <li>real_balance:<span>€{{realMoney}}.00</span></li>
          <li>lotto_balance:<span>€{{lottoMoney}}.00</span></li>
          <li>casino_balance:<span>€{{casinoMoney}}.00</span></li>
        </ul>
        <span class="header-user-avator"></span>  
      </div>
    </div>
  </div>
</template>
<script>
  import { mapState } from 'vuex'
  import './index.scss'
  export default {
    name: 'nav-header',
    props: {
      openMenu: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      ...mapState({
        realMoney: state => state.realMoney,
        lottoMoney: state => state.lottoMoney,
        casinoMoney: state => state.casinoMoney,
        hasGetInfo: state => Number(state.hasGetInfo)
      })
    },
    methods: {
      openHeadMenu() {
        this.$emit('openHeadMenu');
      }
    }
  }
</script>