@charset "utf-8";

*,*:before,*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/*html {
  font-size: calc(100vh / 7.5);
}*/

html,body {
  overflow-x: hidden; 
}
body {
  font-size: 0.24rem;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

em,i {
  font-style: normal;
}

b,strong {
  font-weight: bold;
}

body,dd,dl,h1,h2,h3,h4,h5,h6,p,ul,ol,form {
  margin: 0;
}

ul,ol,li {
  padding-left: 0; 
  list-style: none;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

img {
  display: inline-block;
  border: 0;
  vertical-align: middle;
}

a,img { 
  -webkit-touch-callout: none; 
}

a[class="blue"][href] {
  color: #00a9e9;
  &:hover {
    text-decoration: underline;
  };
}

input,textarea,select {
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  outline: none;
  border: none;
  resize: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}