@charset "utf-8";

.mquick-show-btn {
	@extend %table;
	margin: 0 auto;
	padding: 0.2rem 0;
	font-size: 0.28rem;
	font-family: 'mu sb';
	font-weight: 600;
	color: rgba(0,169,233,1);
	text-decoration: underline;
	&:hover {
		color: rgba(0,169,233,1);
	  text-decoration: underline;
	};
}

.mquick-nav-wrapper {
	display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
	height: 1rem;
	font-size: 0.36rem;
	background: #0c5294;
	font-family: 'mu eb';
	font-weight: 800;
	color: rgba(255,255,255,1);
	&.fixed {
		@extend %fixed;
		top: 1rem;
		left: 0;
		right: 0;
		z-index: 1;
	}
}

.mquick-nav-back {
	@extend %absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0.42rem;
	&:after {
		@extend %absolute;
		top: 0;
		left: 0.3rem;
		bottom: 0;
		margin: auto;
	  width: 0.32rem;
	  height: 0.32rem;
	  transform: rotate(45deg);
	  border-left: solid 2px rgba(255,255,255,0.5);
	  border-bottom: solid 2px rgba(255,255,255,0.5);
	  pointer-events: none;
	  content: '';
	}
}

.mquick-mapp-wrapper {
	margin-left: -0.15rem;
	margin-right: -0.15rem;
}

.mquick-lottery-wrapper {
	padding: 0 0.3rem;
	background: #00488d;
}

/**
*
* @module mquick-lotto
*
*/
.mquick-lotto-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mquick-lotto-box {
	display: flex;
	align-items: center;
}

.mquick-lotto-logo {
	width: 0.72rem;
}

.mquick-lotto-name {
	font-size: 0.36rem;
	line-height: 0.48rem;
	font-family: 'mu eb';
	font-weight: 800;
	color: rgba(255,255,255,1);
}

.mquick-lotto-bet {
	padding: 0.1rem 0;
	font-size: 0.24rem;
	line-height: 0.32rem;
	font-family: 'mu sb';
	font-weight: 600;
	color: rgba(255,255,255,1);
}

.mquick-draw-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.1rem 0.2rem;
	min-height: 1rem;
	background: rgba(0,0,0,0.2);
	border-radius: 0.24rem 0.24rem 0 0;
}

.mquick-draw-info {
	font-size: 0.24rem;
	line-height: 0.32rem;
	font-family: 'mu sb';
	font-weight: 600;
	color: rgba(255,255,255,1);
}

.mquick-draw-time {
	font-size: 0.32rem;
	line-height: 0.4rem;
	font-family: 'mu eb';
	font-weight: 800;
	color: rgba(255,255,255,1);
}

.mquick-draw-result {
	position: relative;
	padding-right: 0.6rem;
}

.mquick-draw-date {
	font-size: 0.24rem;
	line-height: 0.32rem;
	font-family: 'mu sb';
	font-weight: 600;
	color: rgba(255,255,255,0.6);
}

.mquick-draw-list {
	display: flex;
	align-items: center;
	margin-top: 2px;
	>li {
		width: 0.44rem;
		height: 0.44rem;
		line-height: 0.44rem;
		font-size: 0.24rem;
		text-align: center;
		background: rgba(255,255,255,0.1);
		font-family: 'mu r';
		font-weight: 400;
		color: rgba(255,255,255,0.8);
		border-radius: 50%;
		+ li {
			margin-left: 0.1rem;
		}
	}
}

.mquick-draw-state {
	margin-top: 2px;
	font-size: 0.24rem;
	font-family: 'mu r';
	font-weight: 400;
	color: rgba(255,255,255,0.8);
}

.mquick-draw-btn {
	@extend %absolute;
	top: 0;
	right: -0.2rem;
	bottom: 0;
	margin: auto;
	width: 1rem;
	height: 1rem;
	&:after {
		@extend %absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		margin: auto;
		width: 0.26rem;
		height: 0.14rem;
		pointer-events: none;
		@include bgImg('mquick/mquick-draw-arrow.png');
	}
}


/**
*
* @module mquick-picker-wrapper
*
*/
.mquick-picker-wrapper {
	position: relative;
	margin: 0 -0.3rem;
	padding: 0.3rem;
	background: rgba(20,49,78,1);
	height: calc(100vh - 170px);
	box-shadow: 0 0px 0.24rem rgba(0,0,0,0.2);
}

.mquick-picker-header {
	margin-bottom: 0.75rem;
}

.mquick-picker-nav {
	display: flex;
	height: 0.8rem;
	border-radius: 0.4rem;
	background: rgba(0,132,255,0.1);
	>li {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
		font-size: 0.28rem;
		font-family: 'mu sb';
		font-weight: 600;
		color: rgba(255,255,255,0.8);
		transition: all 0.3s ease;
		&.on {
			color: rgba(255,255,255,1);
			background: rgba(0,132,255,0.5);
			border-radius: 0.4rem;
		}
	}
}

.mquick-picker-tips {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0.24rem;
	font-size: 0.28rem;
	line-height: 0.32rem;
	font-family: 'mu r';
	font-weight: 400;
	color: rgba(255,255,255,0.6);
}

.mquick-picker-anchor {
	display: inline-block;
	margin-left: 0.1rem;
	width: 0.28rem;
	height: 0.28rem;
	border-radius: 50%;
	background: rgba(255,255,255,0.6);
	color: #14314E;
	text-align: center;
	background: linear-gradient(180deg,rgba(0,132,255,0.5) 0%,rgba(0,108,255,0.5) 100%);
	background: url('/images/mquick/mquick-picker-anchor.png');
	background-size: 100% 100%;
}

.mquick-picker-body {
	.van-checkbox-group {
		display: flex;
    justify-content: center;
		flex-wrap: wrap;
		margin: 0 auto;
    width: 6.44rem;
	}
	.van-checkbox {
		position: relative;
		margin-right: 0.28rem;
		border-radius: 50%;
		&:nth-child(6) {
			margin-right: 0;
		};
		&:nth-child(n+7) {
			margin-top: 14px;
			margin-top: 0.28rem;
		};
	}
	.van-checkbox__icon {
		width: 0.84rem;
		height: 0.84rem;
		background: linear-gradient(180deg,rgba(255,255,255,0.2) 0%,rgba(220,220,220,0.2) 100%);
	}
	.van-checkbox__icon .van-icon {
		width: 100%;
		height: 100%;
		border: none;
	}
	.van-checkbox__icon--checked .van-icon {
		background: #0084FF;
	}
	.van-checkbox__label {
		@extend %absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin-left: 0;
		font-size: 0.4rem;
		line-height: 0.84rem;
		font-family: 'mu sb';
		font-weight: 600;
		text-align: center;
		color: rgba(255,255,255,0.3);
	}
	.van-checkbox__icon--checked + .van-checkbox__label {
		color: rgba(255,255,255,1);
	}
	.van-icon-success::before {
		content: '';
	}
}

.mquick-picker-btns {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0.3rem;
}

.mquick-picker-check {
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 0.4rem;
	background: linear-gradient(180deg,rgba(0,132,255,0.5) 0%,rgba(0,108,255,0.5) 100%);
	background: url('/images/mquick/mquick-picker-check.png');
	background-size: 100% 100%;
}

.mquick-picker-add {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 0.2rem;
	min-width: 2.4rem;
	padding: 0 0.4rem;
	height: 0.8rem;
	font-size: 0.28rem;
	border-radius: 0.4rem;
	font-family: 'mu sb';
	font-weight: 600;
	color: rgba(255,255,255,0.3);
	background: rgba(0,0,0,0.3);
	&:hover {
  	color: rgba(255,255,255,0.3);
  }
	&.on {
	  cursor: pointer;
  	color: rgba(255,255,255,0.8);
	  background: linear-gradient(180deg,rgba(0,132,255,0.5) 0%,rgba(0,108,255,0.5) 100%);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    &:hover {
    	color: rgba(255,255,255,0.8);
    }
  }
}

.mquick-picker-explain {
	margin-top: 1rem;
	font-size: 0.24rem;
	line-height: 0.32rem;
	font-family: 'mu r';
	font-weight: 400;
	color: rgba(255,255,255,0.5);
	text-align: center;
}

.mquick-unsales-state {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	@extend %absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0,19,37,0.8);
}

.mquick-unsales-avator {
	display: inline-block;
	width: 2.6rem;
	height: 1.6rem;
	@include bgImg('quick/quick-unsales-avator.png');
}

.mquick-unsales-text {
	margin: 0.48rem auto 0;
	font-size: 0.32rem;
	line-height: 0.4rem;
	font-family: 'mu sb';
	font-weight: 600;
	color: rgba(255,255,255,0.8);
}

/**
*
* @module mquick-fixed-wrapper
*
*/
.mquick-fixed-wrapper {
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0;
  left: 0;
  right: 0;
	height: 1rem;
	z-index: 1;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
}

.mquick-fixed-del {
	@extend %relative;
	width: 1rem;
	height: 100%;
	background: #4D6378;
	&:after {
		@extend %absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 0.4rem;
		height: 0.4rem;
		content: '';
		@include bgImg('quick/card-del.png');
	}
}

.mquick-fixed-play {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 0.32rem;
	font-family: 'mon sb';
	font-weight: 600;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
	background: rgba(3,200,90,1);
	&.disabled {
		position: relative;
		cursor: no-drop;
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			background: rgba(0,0,0,0.4);
		}
    &:hover {
    	background: #03c85a;
		}
	}
	&:hover {
		color: rgba(255,255,255,1);
	}
}

/**
*
* @module mquick-result-wrapper
*
*/
.mquick-result-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	transition: all 0.3s ease;
  transform: translateY(100%);
  background: rgba(0,0,0,0.6);
	&.show {
    transform: translateY(0);
	}
}

.mquick-result-wrapper {
	position: fixed;
	left: 0.3rem;
	right: 0.3rem;
	top: 0.88rem;
	bottom: 0;
	padding: 0.4rem 0.2rem 0 0.2rem;
	border-radius: 0.24rem 0.24rem 0 0;
	height: calc(100vh - 0.88rem);
	background: rgba(8, 57, 106,0.8);
}

.mquick-result-title {
	@extend %relative;
	padding: 0 0.3rem 0.2rem 0.3rem;
	font-size: 0.32rem;
	height: 0.6rem;
	border-bottom: solid 1px rgba(255,255,255,0.3);
	font-family: 'mu eb';
	font-weight: 800;
	color: rgba(255,255,255,1);
}

.mquick-result-close {
	@extend %absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 1rem;
	height: 1rem;
	&:after {
		@extend %absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		content: '';
		width: 0.26rem;
		height: 0.14rem;
		pointer-events: none;
		@include bgImg('mquick/mquick-draw-arrow.png');
	}
}

.mquick-result-unit {
	max-height: calc(100vh - 1.88rem);
	overflow-x: hidden;
	overflow-y: auto;  
}

.mquick-result-unit::-webkit-scrollbar {
	width: 0;
}

.mquick-result-list {
	>li {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.36rem 0.3rem;
	  border-bottom: solid 1px rgba(0,0,0,0.2);
	}
}

.mquick-result-draw {
	font-size: 0.28rem;
	line-height: 0.36rem;
	font-family: 'mu b';
	font-weight: bold;
	color: rgba(255,255,255,0.8);
}

.mquick-result-date {
	font-size: 0.24rem;
	line-height: 0.32rem;
	font-family: 'mu r';
	font-weight: 400;
	color: rgba(255,255,255,0.5);
}

.mquick-result-state {
	font-size: 0.36rem;
	line-height: 0.48rem;
	font-family: 'mu black';
	font-weight: 900;
	&.wait {
		color: rgba(255,155,0,1);
	}
	&.accet {
		color: rgba(0,137,230,1);
	}
}

.mquick-result-ball {
	display: flex;
	align-items: center;
	>li {
		width: 0.56rem;
		height: 0.56rem;
		line-height: 0.56rem;
		font-size: 0.28rem;
		text-align: center;
		font-family: 'mu r';
		font-weight: 400;
		color: rgba(255,255,255,0.8);
		background: rgba(0,132,255,0.3);
		border-radius: 50%;
		+ li {
			margin-left: 0.1rem;
		}
	}
}

/**
*
* @module mquick-picker-slip
*
*/
.mquick-slip-wrapper {
	display: flex;
	flex-direction: column;
	@extend %fixed;
	top: 45px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background: #021e40;
}

.mquick-slip-add {
	@extend %relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.2rem 0.3rem 0;
	height: 0.8rem;
	font-size: 0.24rem;
	font-weight: 600;
	color: rgba(255,255,255,0.8);
	font-family: 'mu sb';
	background: #2b4663;
}

.mquick-slip-across {
	@extend %inline-block;
	@extend %relative;
	margin-right: 0.1rem;
	width: 0.28rem;
	height: 0.28rem;
	border-radius: 50%;
	background: #2b4663;
	@include bgImg('mquick/mquick-slip-across.png');
}

.mquick-slip-empty {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 0.3rem;
	height: calc(100vh - 1.88rem);
}

.mquick-empty-avator {
	display: block;
	margin: 0 auto 0.28rem;
	width: 5.2rem;
	height: 3.6rem;
	@include bgImg('mquick/mquick-empty-avator.png');
}

.mquick-empty-text {
	margin-bottom: 0.6rem;
	font-size: 0.28rem;
	line-height: 0.36rem;
	font-family: 'mu sb';
	font-weight: 600;
	color: rgba(255,255,255,0.5);
}

.mquick-empty-add {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 3.4rem;
	padding: 0 0.2rem;
	height: 0.8rem;
	border-radius: 0.4rem;
	font-size: 0.24rem;
	background: linear-gradient(180deg,rgba(0,132,255,1) 0%,rgba(0,108,255,1) 100%);
	font-family: 'mu sb';
	font-weight: 600;
	color: rgba(255,255,255,0.8);
}

.mquick-slip-load {
	display: flex;
	align-items: center;
	justify-content: center;
	@extend %fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,0.2);
	transition: all 0.3s ease;
	z-index: 1;
	.van-loading__text {
		letter-spacing: 1px;
		color: #fff;
	}
}

.mquick-slip-list {
	flex: 1;
	overflow-y: auto; 
  overflow-x: hidden;
	padding: 0 0.3rem;
	margin: 0.2rem 0;
	> li {
		position: relative;
		border-radius: 4px;
		padding: 0.3rem 0.4rem;
		min-height: 2rem;
		background: #2c4563;
		+ li {
			margin-top: 0.2rem;
		}
	}
}

.mquick-slip-list {
	.van-stepper {
		display: inline-flex;
  }
  .van-stepper__minus {
		width: 0.64rem;
		height: 0.64rem;
		border-radius: 2px;
		background: rgba(0,0,0,0.3);
  }
  .van-stepper__input {
  	margin: 0;
		width: 2rem;
  	padding: 0 0.3rem;
		height: 0.64rem;
		font-size: 0.28rem;
		font-family: 'mu sb';
		font-weight: 600;
		color: rgba(255,255,255,0.8);
		background: #23364d;
		&:focus {
			color: #fff;
		};
  }
  .van-stepper__plus {
		width: 0.64rem;
		height: 0.64rem;
		border-radius: 2px;
		background: rgba(0,0,0,0.3);
  }
  .van-stepper__minus::before, 
  .van-stepper__plus::before {
  	height: 3px;
  }
  .van-stepper__minus::after, 
  .van-stepper__plus::after {
  	width: 3px;
  }
  .van-stepper__minus::after, 
  .van-stepper__minus::before, 
  .van-stepper__plus::after, 
  .van-stepper__plus::before {
  	background: #707f8a;
  }
}

.mquick-slip-del {
	@extend %absolute;
	top: 0;
	bottom: 0;
	margin: auto;
  right: 0.4rem;
	width: 0.52rem;
  height: 0.52rem;
  border-radius: 50%;
  background: #405a73;
  @include bgImg('mquick/mquick-slip-del.png');
}

.mquick-slip-ball {
	display: flex;
	align-items: center;
	margin-bottom: 0.2rem;
	> li {
		width: 0.6rem;
		height: 0.6rem;
		line-height: 0.6rem;
		font-size: 0.28rem;
		text-align: center;
		font-family: 'mu sb';
		font-weight: 600;
		border-radius: 50%;
		color: rgba(255,255,255,1);
		background: rgba(0,132,255,1);
		+ li {
			margin-left: 0.2rem;
		}
	}
}

.mquick-stepper-wrapper {
	display: inline-flex;
	position: relative;
}

.mquick-front-symbol {
	display: flex;
	align-items: center;
	@extend %absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0.72rem;
	color: rgba(255,255,255,0.8);
}

.mquick-back-symbol {
	display: flex;
	align-items: center;
	@extend %absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 0.72rem;
	color: rgba(255,255,255,0.8);
}

.mquick-slip-pay {
	display: flex;
	height: 1rem;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
}

.mquick-slip-draw {
	display: flex;
	align-items: center;
	height: 1rem;
	padding: 0 0.3rem;
	font-size: 0.32rem;
	background: #11263f;
	font-family: 'mu r';
	font-weight: 400;
	color: rgba(255,255,255,1);
	.van-radio-group {
		display: flex;
		margin-left: 0.2rem;
	}
	.van-radio {
    position: relative;
		display: flex;
    width: 1.2rem;
    height: 0.48rem;
    align-items: center;
    border-radius: 2px;
    transition: all 0.3s ease;
    border: 1px solid rgba(255,255,255,0.2);
    + .van-radio {
    	margin-left: 0.1rem;
    }
	}
	.van-radio__icon {
		margin-left: 0.1rem;
		width: 0.28rem;
		height: 0.28rem;
		border-radius: 100%;
		background: rgba(255,255,255,0.1);
	}
	.van-radio__icon--round .van-icon {
		width: 100%;
		height: 100%;
		border: none;
	}
	.van-icon-success::before {
		content: '';
	}
	.van-radio__label {
		font-size: 0.32rem;
		font-family: 'mu sb';
		font-weight: 600;
		color: rgba(255,255,255,0.4);
	}	
	.van-radio__icon--checked .van-radio__label {
		color: rgba(255,255,255,0.8);
	}
	.van-radio__icon--checked .van-icon {
		@include bgImg('quick/slip-active-radio.png');
	}
}

[aria-checked=true]{
	background: rgba(255,255,255,0.1);
}

.mquick-slip-cartdraw {
	display: flex;
	align-items: center;
	line-height: 1;
}

.mquick-slip-help {
	position: relative;
	display: inline-block;
	margin-left: 4px;
	width: 0.48rem;
	height: 0.48rem;
	line-height: 0.48rem;
	border-radius: 50%;
	color: #10273e;
	font-size: 0.32rem;
	font-weight: bold;
	background: rgba(255,255,255,0.2);
	cursor: pointer;
	text-align: center;
}

/**
*
* @module mquick-tabs-wrapper
*
*/
.mquick-slip-modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,19,37,0.9);
	opacity: 0;
  pointer-events: none;
  &.show {
  	opacity: 1;
  	pointer-events: auto;
  }
}

.mquick-modal-wrapper {
	width: 83%;
}

.mquick-modal-box {
	padding: 0.6rem 0.3rem;
	background: rgba(255,255,255,0.15);
	border-radius: 0px 4px 4px 4px;
	text-align: center;
}

.mquick-modal-icons {
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	&.fail {
		@include bgImg('mquick/mquick-slip-fail.png');
	}
	&.successful {
		@include bgImg('mquick/mquick-slip-successful.png');
	}
}

.mquick-modal-text {
	margin-top: 0.2rem;
	font-size: 0.32rem;
	line-height: 0.4rem;
	font-family: 'mu sb';
	font-weight: 600;
	color: rgba(255,255,255,1);
}

.mquick-modal-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0.8rem;
	font-size: 0.32rem;
	background: rgba(3,200,90,1);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
	border-radius: 0px 0px 4px 4px;
	font-family: 'mu eb';
	font-weight: 800;
	color: rgba(255,255,255,1);
}

/**
*
* @module mquick-tabs-wrapper
*
*/
.mquick-tabs-wrapper {
	padding-top: 0.2rem;
	background: #021e40;
	>li {
		transition: all .3s ease;
		+ li {
			margin-top: 1px;
		}
	}
}

.tabsBox-enter-active,
.tabsBox-leave-active {
	opacity: 0;
  transition: all .3s ease;
}

.mquick-tabs-box {
	padding: 0.2rem 4%;
	transition: all .3s ease;
	transform-origin: top;
}

.mquick-tabs-title {
	@extend %relative;
	display: flex;
	align-items: center;
	height: 1.2rem;
	padding: 0 0.2rem;
	background: #162f4d;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
	font-size: 0.32rem;
	font-family: 'mu black';
	font-weight: 900;
	color: rgba(255,255,255,1);
	&.on {
		.mquick-tabs-across {
		  transform: rotate(135deg);
		}
	}
}

.mquick-tabs-across {
	@extend %absolute;
	top: 0;
	right: 0.3rem;
	bottom: 0;
	margin: auto;
	width: 0.24rem;
	height: 0.24rem;
	transform: rotate(-45deg);
	border-left: solid 2px rgba(255,255,255,0.8);
	border-bottom: solid 2px rgba(255,255,255,0.8);
	transition: all 0.3s ease;
}

.mquick-payouts-ball {
	display: flex;
	margin-bottom: 0.2rem;
	>li {
		display: inline-flex;
    align-items: center;
    justify-content: center;
		width: 0.56rem;
		height: 0.56rem;
		background: rgba(255,255,255,0.08);
		font-size: 0.28rem;
		font-family: 'mu r';
		font-weight: 400;
		color: rgba(255,255,255,0.8);
		border-radius: 50%;
		+ li {
			margin-left: 0.1rem;
		}
	}
}

.mquick-payouts-datetime {
	display: flex;
	align-items: center;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	.van-picker__confirm {
		color: #0084FF;
	}
}

.mquick-payouts-select {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: start;
	min-width: 2.4rem;
	padding: 0 0.3rem;
	height: 0.6rem;
	font-size: 0.24rem;
	line-height: 0.32rem;
	background: #1a3652;
	border-radius: 2px;
	font-weight: 600;
	-webkit-appearance: button;
	color: rgba(255,255,255,0.8);
	&:after {
		@extend %absolute;
		top: 0;
		right: 0.3rem;
		bottom: 0;
		margin: auto;
		width: 0.14rem;
		height: 0.14rem;
		transform: rotate(-45deg);
		border-left: solid 2px rgba(255,255,255,0.8);
		border-bottom: solid 2px rgba(255,255,255,0.8);
		content: '';
	}
	> option {
		background: #122c46;
	}
}

.mquick-payouts-date {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: start;
	margin-left: 0.16rem;
	min-width: 2.4rem;
	padding: 0 0.3rem;
	height: 0.6rem;
	font-size: 0.24rem;
	line-height: 0.32rem;
	border-radius: 2px;
	background: #1a3652;
	font-weight: 600;
	color: rgba(255,255,255,0.8);
	&:after {
		@extend %absolute;
		top: 0;
		right: 0.3rem;
		bottom: 0;
		margin: auto;
		width: 0.14rem;
		height: 0.14rem;
		transform: rotate(-45deg);
		border-left: solid 2px rgba(255,255,255,0.8);
		border-bottom: solid 2px rgba(255,255,255,0.8);
		content: '';
	}
}

.mquick-payouts-nav {
	>li {
		display: flex;
		padding: 0.2rem 0;
		border-bottom: solid 1px rgba(255,255,255,0.08);
		>div {
			width: 25%;
			font-size: 0.24rem;
			line-height: 0.32rem;
			font-weight: 600;
			text-align: center;
			font-family: 'mu sb';
			color: rgba(255,255,255,1);
		}
	}
}

.mquick-payouts-table {
	>li {
		display: flex;
		padding: 0.1rem 0;
		border-bottom: solid 1px rgba(255,255,255,0.08);
		>div {
			width: 25%;
			font-size: 0.24rem;
			font-family: 'mu r';
			font-weight: 600;
			color: rgba(255,255,255,0.6);
			text-align: center;
		}
	}
}

.mquick-payouts-list {
	>li {
		+ li {
			margin-top: 0.16rem;
		}
		h5 {
			font-size: 0.32rem;
			line-height: 0.4rem;
			font-family: 'mu sb';
			font-weight: 600;
			color: rgba(255,255,255,0.8);
		}
		p {
			margin-top: 0.14rem;
			font-size: 0.28rem;
			line-height: 0.36rem;
			font-family: 'mu r';
			font-weight: 400;
			color: rgba(255,255,255,0.6);
		}
	}
}

/**
*
* @module mquick-bets-wrapper
*
*/
.mquick-bets-wrapper {
  display: flex;
  flex-direction: column;
  @extend %fixed;
  top: 0.88rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
	background: #14314e;
}

.mquick-bets-list {
	flex: 1;
	overflow-y: auto; 
  overflow-x: hidden;
}

.mquick-bets-empty {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 0.3rem;
	height: calc(100vh - 95px);
}

.mquick-bets-load {
	padding: 0.5rem 0.3rem;
	>li {
		padding: 0.36rem 0.2rem 0;
		+ li {
			margin-top: 0.3rem;
		}
		>div {
			&:first-child {
				margin-bottom: 0.16rem;
				height: 0.6rem;
				width: 65%;
				background: rgba(255,255,255,0.05);
			}
			&:last-child {
				height: 0.28rem;
				background: rgba(255,255,255,0.05);
			}
		}
	}
}

.mquick-bets-ul {
	padding: 0.1rem 0.3rem;
  >li {
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
    border-bottom: solid 1px #2b4660;
    &.state-pend {
      .mquick-bets-state {
        color: #FF9B00;
      }
    }
    &.state-receive {
      .mquick-bets-time,
      .mquick-bets-price,
      .mquick-bets-state {
        font-family: 'mu b';
        font-weight: bold;
        color: rgba(3,200,90,1);
      }
    }
  }
}

.mquick-bets-ball {
  display: flex;
  margin-bottom: 0.12rem;
  >li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 0.6rem;
    height: 0.6rem;
    font-size: 0.28rem;
    font-family: 'mu sb';
    font-weight: 600;
    color: rgba(255,255,255,0.5);
    background: #2c4765;
    border-radius: 50%;
    &.on {
      color: rgba(255,255,255,1);
      background: #0084FF;
    }
    + li {
      margin-left: 0.2rem;
    }
  }
}

.mquick-bets-unit {
  display: flex;
  align-items: center;
}

.mquick-bets-time {
  width: 60%;
  font-size: 0.24rem;
  line-height: 0.32rem;
  font-family: 'mu sb';
  font-weight: 600;
  color: rgba(255,255,255,0.5);
}

.mquick-bets-price {
  font-size: 0.24rem;
  line-height: 0.32rem;
  font-family: 'mu sb';
  font-weight: 600;
  color: #fff;
}

.mquick-bets-state {
  margin-left: auto;
  font-size: 0.28rem;
  line-height: 0.36rem;
  font-family: 'mu sb';
  font-weight: 600;
  color: rgba(255,255,255,0.5);
}

.mquick-loading {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 45px;
	left: 0;
	right: 0;
	bottom: 0;
	background: #14314e;
	z-index: 2;
	.van-loading__circular circle {
		color: #2d8cf0;
	}
	.van-loading__text {
		color: #2d8cf0;
	}
	.van-loading--vertical .van-loading__text {
		margin: 0.1rem 0 0;
	}
}

.new-modal-wrapper {
	margin-top: 0.94rem;
}

.new-modal-close {
	top: 0.2rem;
  right: 0.2rem;
  width: 0.3rem;
  height: 0.3rem;
}

.new-modal-btns {
	margin-top: 0.4rem;
}

.mquick-betsLoad-wrapper {
	.van-loading__circular circle {
		color: #2d8cf0;
	}
	.van-loading__text {
		color: #2d8cf0;
	}
	.van-loading--vertical .van-loading__text {
		margin: 0.1rem 0 0;
	}
}