<template>
  <div class="mquick-mapp-wrapper">
    <!--mquick-lottery-page-->
    <div class="mquick-lottery-wrapper" v-show="(pageName === 'lottery')">
      <div class="mquick-lottery-box">
        <!--lotto/draw -->
        <div class="mquick-lotto-wrapper">
          <div class="mquick-lotto-box">
            <img class="mquick-lotto-logo" v-lazy="lottoInfo.logo" :alt="lottoInfo.name">
            <h3 class="mquick-lotto-name" v-text="lottoInfo.name"></h3>
          </div>
          <a @click="skipPage('bets')" class="mquick-lotto-bet">My Bets</a>
        </div>
        <div class="mquick-draw-wrapper">
          <div class="mquick-draw-info">
            Draws: <span>10/10 15:35</span>
            <p class="mquick-draw-time">02:25</p>
          </div>
          <div class="mquick-draw-result">
            <p class="mquick-draw-date">10/10 15:20</p> 
            <ul class="mquick-draw-list"><li>5</li><li>7</li><li>9</li><li>11</li><li>10</li></ul>
            <a @click="openResultModal" class="mquick-draw-btn"></a>
          </div>
        </div>
        <!--/lotto/draw -->

        <!-- mquick-picker-wrapper -->
        <div class="mquick-picker-wrapper">
          <div class="mquick-picker-header">
            <ul class="mquick-picker-nav">
              <li @click="togglePlayType(index)" :value="index" v-bind:class="{'on':playIndex===index}" v-for="(item,index) in playType" :key="item.id" v-text="item.name"></li>
            </ul>
            <div v-for="(item,index) in playType" class="mquick-picker-tips" v-show="playIndex===index">
              {{item.description}}
              <a @click="slideUpOdds" class="mquick-picker-anchor"></a>
            </div>
          </div>

          <div class="mquick-picker-body">
            <van-checkbox-group v-model="numList" @change="pickNum">
              <van-checkbox v-for="num in pickNumbers" :key="num" :label="num" :name="num">{{num}}</van-checkbox>
            </van-checkbox-group>
            <div class="mquick-picker-btns">
              <a @click="autoPickNumList" class="mquick-picker-check"></a>
              <a @click="sendNumList" v-bind:class="{'on':isAddFinish}" class="mquick-picker-add">Add To Payment Slip</a>
            </div>
            <p class="mquick-picker-explain">If you use lotto bonus money, only 1/4 of the bonus money will be counted as turn over money, please check TC for details</p>
          </div>
          
          <!--mquick-unsales-state-->
          <div style="display:none;" class="mquick-unsales-state">
            <div class="mquick-unsales-box">
              <span class="mquick-unsales-avator"></span>
              <p class="mquick-unsales-text">Oops! The current draw of this lottery has stop accepting bets and is waiting for results, but don't worry, you can find some other exciting Lotteries or Casino games to play.</p>
            </div>
          </div>
          <!--/mquick-unsales-state-->
        </div>
        <!-- /mquick-picker-wrapper -->
      </div>
      <!--index mquick-fixed-->
      <div class="mquick-fixed-wrapper">
        <a class="mquick-fixed-play" v-if="cartList.length == 0" v-bind:class="{'disabled':!isAddFinish}" @click="sendNumList">
          <i>play</i>
        </a>
        <a class="mquick-fixed-play" v-if="cartList.length > 0" @click="skipPage('carts')">
          <i>buy (<span v-text="cartList.length"></span>) lines</i>
        </a>
      </div>
      <!--/index mquick-fixed-->

      <!--result module-->
      <div class="mquick-result-container" v-bind:class="{'show':showResultModal}">
        <div class="mquick-result-wrapper">
          <h3 class="mquick-result-title">Recently Results<a class="mquick-result-close" @click="closeResultModal"></a></h3> 
          <div class="mquick-result-unit">
            <ul class="mquick-result-list">
              <li v-for="item in resultList" :key="item.drawid">
                <div class="mquick-result-box">
                  <h3 class="mquick-result-draw">Draw <span>{{item.drawid}}</span></h3> 
                  <p class="mquick-result-date">{{item.draw_time}}</p>
                </div> 
                <div class="mquick-result-box">
                  <p class="mquick-result-state" v-if="[-100,-200].indexOf(item.status)>-1">Cancel</p>
                  <p class="mquick-result-state accet" v-else-if="item.current_draw == 1">Accepting bets</p>
                  <p class="mquick-result-state wait" v-else-if="(item.current_draw==0)&&((item.numbers).length==0)">Waiting for results</p>
                  <ul v-if="item.numbers.length>0" class="mquick-result-ball">
                    <li v-for="num in item.numbers">{{num}}</li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--/result module--> 
    </div>
    <!--/mquick-lottery-page-->

    <!--payment slip page-->
    <div class="mquick-slip-wrapper" v-show="pageName === 'carts'">
      <div class="mquick-slip-header">
        <div class="mquick-nav-wrapper">
          <a class="mquick-nav-back" @click="skipPage('lottery')"></a>Payment Slip
        </div>
        <div class="mquick-slip-add" v-show="cartList.length > 0" @click="skipPage('lottery')"><i class="mquick-slip-across"></i>Random Pick</div>
      </div>

      <!--mquick-slip-empty-->
      <div class="mquick-slip-empty" v-show="cartList.length==0" >
        <div class="mquick-empty-wrapper">
          <span class="mquick-empty-avator"></span>
          <p class="mquick-empty-text">Your cart is empty</p>
          <a class="mquick-empty-add" @click="skipPage('lottery')"><i class="mquick-slip-across"></i>Random Pick</a>
        </div>
      </div>
        
      <!--mquick-slip-load-->
      <div class="mquick-slip-load" v-show="cartState == 1">
        <div class="van-loading van-loading--circular van-loading--vertical">
          <span class="van-loading__spinner van-loading__spinner--circular" style="width: 36px; height: 36px;">
            <svg viewBox="25 25 50 50" class="van-loading__circular">
              <circle cx="50" cy="50" r="20" fill="none"></circle>
            </svg>
          </span>
          <span class="van-loading__text">Loading…</span>
        </div>
      </div>

      <!--mquick-slip-list-->
      <ul id="refs_carts" v-show="cartList.length>0" ref="carts" class="mquick-slip-list">
        <li v-for="(item,index) in cartList" :key="item.id">
          <ul class="mquick-slip-ball">
            <li v-for="items in item.list" v-text="items"></li>
          </ul> 
          <a @click="delCartItem(index)" class="mquick-slip-del"></a> 
          <div class="mquick-stepper-wrapper">
            <span v-if="currencysymbollocation=='before'" class="mquick-front-symbol" v-text="currencysymbol"></span> 
            <span v-if="currencysymbollocation=='after'" class="mquick-back-symbol" v-text="currencysymbol"></span> 
            <van-stepper v-model="item.amount" :step="lottoInfo.defaultprice" :decimal-length="2" :min="lottoInfo.minprice" :disable-minus="item.amount <= lottoInfo.minprice" id="search-input"/>
          </div>
        </li>
      </ul>

      <div class="mquick-slip-footer" v-show="cartList.length > 0">
        <div class="mquick-slip-draw ">
          <div class="mquick-slip-cartdraw">Draws<span class="mquick-slip-help">?</span></div>
          <van-radio-group v-model="cartDraw">
            <van-radio v-for="item in drawList" :label="item" :name="item">{{item}}</van-radio>
          </van-radio-group> 
        </div>
        <div class="mquick-slip-pay"><a @click="delCartList" class="mquick-fixed-del"></a><a class="mquick-fixed-play">Pay {{totalMoney}}</a></div>
      </div>
    </div>
    <!--/payment slip page-->

    <!--my bets modal-->
    <div v-show="(pageName === 'bets')" class="mquick-bets-wrapper">
      <div class="mquick-nav-wrapper">
        <a @click="skipPage('lottery')" class="mquick-nav-back"></a>My Bets
      </div>
      <div class="mquick-bets-list">
        <!--bets empty-->
        <div style="display:none;" v-show="mobileBetsList.length==0" class="mquick-bets-empty">
          <div class="mquick-empty-wrapper">
            <span class="mquick-empty-avator"></span>
            <p class="mquick-empty-text">You have no history orders here</p>
          </div>
        </div>
        
        <!--bets list-->
        <ul class="mquick-bets-ul " style="">
          <li class="state-cancel">
            <ul class="mquick-bets-ball">
              <li class="on">3</li>
              <li class="on">4</li>
              <li class="">9</li>
            </ul> 
            <div class="mquick-bets-unit">
              <span class="mquick-bets-time">Draw <span>1016344 | 10/10 15:00</span></span> 
              <span class="mquick-bets-price">$0.50</span> 
              <span class="mquick-bets-state">$0.00</span>
            </div>
          </li>
          <li class="state-cancel">
            <ul class="mquick-bets-ball">
              <li class="on">3</li>
              <li class="on">4</li>
              <li class="">9</li>
            </ul> 
            <div class="mquick-bets-unit">
              <span class="mquick-bets-time">Draw <span>1016344 | 10/10 15:00</span></span> 
              <span class="mquick-bets-price">$0.50</span> 
              <span class="mquick-bets-state">$0.00</span>
            </div>
          </li>
          <li class="state-cancel">
            <ul class="mquick-bets-ball">
              <li class="on">3</li>
              <li class="on">4</li>
              <li class="">9</li>
            </ul> 
            <div class="mquick-bets-unit">
              <span class="mquick-bets-time">Draw <span>1016344 | 10/10 15:00</span></span> 
              <span class="mquick-bets-price">$0.50</span> 
              <span class="mquick-bets-state">$0.00</span>
            </div>
          </li>
          <li class="state-cancel">
            <ul class="mquick-bets-ball">
              <li class="on">3</li>
              <li class="on">4</li>
              <li class="">9</li>
            </ul> 
            <div class="mquick-bets-unit">
              <span class="mquick-bets-time">Draw <span>1016344 | 10/10 15:00</span></span> 
              <span class="mquick-bets-price">$0.50</span> 
              <span class="mquick-bets-state">$0.00</span>
            </div>
          </li>
          <li class="state-cancel">
            <ul class="mquick-bets-ball">
              <li class="on">3</li>
              <li class="on">4</li>
              <li class="">9</li>
            </ul> 
            <div class="mquick-bets-unit">
              <span class="mquick-bets-time">Draw <span>1016344 | 10/10 15:00</span></span> 
              <span class="mquick-bets-price">$0.50</span> 
              <span class="mquick-bets-state">$0.00</span>
            </div>
          </li>
          <li class="state-cancel">
            <ul class="mquick-bets-ball">
              <li class="on">3</li>
              <li class="on">4</li>
              <li class="">9</li>
            </ul> 
            <div class="mquick-bets-unit">
              <span class="mquick-bets-time">Draw <span>1016344 | 10/10 15:00</span></span> 
              <span class="mquick-bets-price">$0.50</span> 
              <span class="mquick-bets-state">$0.00</span>
            </div>
          </li>
          <li class="state-cancel">
            <ul class="mquick-bets-ball">
              <li class="on">3</li>
              <li class="on">4</li>
              <li class="">9</li>
            </ul> 
            <div class="mquick-bets-unit">
              <span class="mquick-bets-time">Draw <span>1016344 | 10/10 15:00</span></span> 
              <span class="mquick-bets-price">$0.50</span> 
              <span class="mquick-bets-state">$0.00</span>
            </div>
          </li>
          <li class="state-cancel">
            <ul class="mquick-bets-ball">
              <li class="on">3</li>
              <li class="on">4</li>
              <li class="">9</li>
            </ul> 
            <div class="mquick-bets-unit">
              <span class="mquick-bets-time">Draw <span>1016344 | 10/10 15:00</span></span> 
              <span class="mquick-bets-price">$0.50</span> 
              <span class="mquick-bets-state">$0.00</span>
            </div>
          </li>
        </ul>

        <a v-show="(betsMore&&betsLoad==false)" class="mquick-show-btn" @click="getBetList('more')">show more</a>
        
        <div style="display:none;" v-show="betsLoad == true" class="mquick-betsLoad-wrapper">
          <div class="van-loading van-loading--circular van-loading--vertical">
            <span class="van-loading__spinner van-loading__spinner--circular" style="width: 36px; height: 36px;">
              <svg viewBox="25 25 50 50" class="van-loading__circular">
                <circle cx="50" cy="50" r="20" fill="none"></circle>
              </svg>
            </span>
            <span class="van-loading__text">loading...</span>
          </div>
        </div>
      </div>
    </div>
    <!--/my bets modal-->

    <!--odds&payouts-->
    <ul ref="modds" class="mquick-tabs-wrapper">
      <li>
        <h3 @click="oddsShow=!oddsShow" class="mquick-tabs-title" v-bind:class="{'on':oddsShow}">Odds&amp;Payouts<a class="mquick-tabs-across"></a></h3> 
        <div v-show="oddsShow" class="mquick-tabs-box">
          <ul class="mquick-payouts-ball "><li>3</li><li>10</li><li>9</li><li>5</li><li>7</li></ul> 
          <div class="mquick-payouts-datetime ">
            <a class="mquick-payouts-select">15:15</a>
            <a class="mquick-payouts-date">2020/10/10</a>
          </div> 
          <ul class="mquick-payouts-nav">
            <li><div>Divisions</div><div>Match</div><div>Probability</div><div>Odds</div></li>
          </ul>
          <ul class="mquick-payouts-table ">
            <li><div>1</div><div>3</div><div>1:18</div><div>10</div></li>
            <li><div>2</div><div>4</div><div>1:67</div><div>40</div></li>
            <li><div>3</div><div>5</div><div>1:462</div><div>280</div></li>
          </ul>
        </div>
      </li> 
      <li>
        <h3 @click="aboutShow=!aboutShow" class="mquick-tabs-title" v-bind:class="{'on':aboutShow}">About Lotto 5/11<a class="mquick-tabs-across"></a></h3> 
        <div v-show="aboutShow" class="mquick-tabs-box">
          <ul class="mquick-payouts-list">
            <li>
              <h5>Lotto 5/11</h5>
              <p>Lotto 5/11——This is a popular Keno style lottery game in Nigeria, known as its 62% RTP and free tax!</p>
            </li> 
            <li>
              <h5>What's the minimum stake for Lotto 5/11?</h5>
              <p>Lotto 5/11 drawings are held every 5 minutes. the minimum stake of Lotto5/11 costs € 0.1 via the Multilotto platform. Bet on more stakes and you can get more winnings if you win!</p>
            </li>
            <li>
              <h5>How to play Lotto5/11 online?</h5>
              <p>You can choose 3 or 4 or 5 numbers from 1 to 11, and the draw result consists of 5 numbers. When the numbers you pick is exactly contained by the result, you can get the corresponding winnings (winnings = stake * odds) !&nbsp;</p>
            </li> 
            <li>
              <h5>How to claim a Lotto5/11 prize?</h5>
              <p>Multilotto are registered and regulated by the Curacao Gaming <span>Authority</span>. For us to retain this license and keep giving you opportunities to win on lotteries, we need to ensure that we can always pay out winnings. Small prizes are paid out directly through the sale of lotteries, and for the bigger jackpots, we have an insurance which is used to pay for your enormous winnings.</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <!--/odds&payouts-->
  </div>
</template>
<script>
  import './index.scss'
  import { fixedAppView } from '@/lib/tools'
  import { getQuickInfo, getNoticeList, getWinList, getResultList, getOrderList, getPayoutInfo, getPayoutList, getPayoutNumber, getWeekList, getBetsList, addBetsList } from '@/api/data'
  export default {
    name: 'quick',
    data() {
      return {
        numList: [],
        cartDraw: 1,
        drawList: [],
        currency: '',
        currencysymbol: '',
        currencysymbollocation: '',
        numMin: 1,
        numMax: 11,
        playIndex: 0,
        playType: [],
        lottoInfo: {},
        pageName: 'lottery',
        mobileBetsList: [],
        betsMore: false,
        betsLoad: false,
        cartList: [],
        cartState: 0,
        resultList: [],
        showResultModal: false,
        oddsShow: false,
        aboutShow: false
      }
    },
    computed: {
      isAddFinish() {
        if (typeof this.playType[this.playIndex] != 'undefined') {
          return this.numList.length === Number(this.playType[this.playIndex].numbers);
        } else {
          return '';
        }
      },
      pickNumbers() {
        let numbers = [];
        for (let i = this.numMin; i <= this.numMax; i++) {
          numbers.push(i.toString());
        }
        return numbers;
      },
      playTypeNum() {
        if (typeof this.playType[this.playIndex] != 'undefined') {
          return Number(this.playType[this.playIndex].numbers);
        } else {
          return '';
        }
      },
      playTypeID() {
        if (typeof this.playType[this.playIndex] != 'undefined') {
          return Number(this.playType[this.playIndex].id);
        } else {
          return '';
        }
      },
      playTypeName() {
        if (typeof this.playType[this.playIndex] != 'undefined') {
          return this.playType[this.playIndex].name;
        } else {
          return '';
        }
      },
      pricePerDraw() {
        let price_per_draw = 0;
        for (let i=0; i<this.cartList.length; i++) {
          price_per_draw += parseInt(this.cartList[i].amount * 100);
        }
        return price_per_draw/100;
      },
      totalMoney() {
        return (this.pricePerDraw * this.cartDraw).toFixed(2);
      },
    },
    watch: {
      playIndex: function(newValue,oldValue) {
        this.autoPickNumList();
      },
      cartDraw: function(newValue,oldValue) {
        if (this.drawList.indexOf(newValue)>-1) {
          localStorage.setItem('cartDraw',newValue);
        };
      }
    },
    mounted() {
      this.initNumList();

      this.getQuickInfo();

      this.getResultList();
    },
    methods: {
      initNumList() {
        this.autoPickNumList();
      },
      pickNum() {

      },
      togglePlayType(index) {
        this.playIndex = index;
      },
      slideUpOdds() {
        if (this.$refs.modds) {
          let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
          if (this.$refs.modds.offsetTop - scrollTop > 100) {
            const timeTop = setInterval(()=>{
              document.body.scrollTop = document.documentElement.scrollTop = (scrollTop += 10);
              if (this.$refs.modds.offsetTop - scrollTop <= 100) {
                clearInterval(timeTop);
              }
            },10)
          }
        }
        this.oddsShow = true;
      },
      async getQuickInfo() {
        let response = await getQuickInfo();
        let data = response && response.data;
        for (let key in data) {
          if ('draws' == key) {
            this.drawList = data[key];
          } else if ('currency' == key) {
            this.currency = data[key];
          } else if ('currencysymbol' == key) {
            this.currencysymbol = data[key];
          } else if ('currencysymbollocation' == key) {
            this.currencysymbollocation = data[key];
          } else if ('numbermin' == key) {
            this.numMin = data[key];
          } else if ('numbermax' == key) {
            this.numMax = data[key];
          } else if ('playtype' == key) {
            this.playType = data[key];
          } else {
            this.$set(this.lottoInfo,key,data[key]);
          }
        }
      },
      produceRandArr(min,max,len) {
        let arr = [], tmp = [];
        for (let i = min; i <= max; i++) {
          arr.push(i.toString());
        }
        for (let j = 0; j < len; j++) {
          let n = Math.floor(Math.random() * arr.length);
          tmp.push(arr[n]);
          arr.splice(n,1);
        }
        return tmp;
      },
      autoPickNumList() {
        let count = 0;
        let timer = setInterval(()=>{
          let numList = [];
          const randNumArr = this.produceRandArr(this.numMin,this.numMax,this.playTypeNum);
          for (let i = 0; i < randNumArr.length; i++) {
            numList.push(randNumArr[i]);
          }
          this.numList = numList;
          if (++count>3) {
            clearInterval(timer);
          }
        },150);
      },
      sendNumList() {
        if ( this.isAddFinish ) {
          this.skipPage('carts');
          
          setTimeout(() => {
            this.numList.sort(function(a,b){return a - b;});

            this.cartList.unshift({
              'id': (((1+Math.random())*0x10000)|0).toString(16).substring(1),
              'playid': this.playTypeID,
              'name': this.playTypeName,
              'amount': this.lottoInfo.defaultprice,
              'list': this.numList
            });

            localStorage.setItem('cartList', JSON.stringify(this.cartList));
            
            this.autoPickNumList();
          }, 10);
        }
      },
      delCartItem(index) {
        this.cartList.splice(index,1);

        localStorage.setItem('cartList', JSON.stringify(this.cartList));
      },
      delCartList() {
        this.cartList = [];
        this.cartDraw = 1;
        localStorage.removeItem('cartDraw');
        localStorage.removeItem('cartList');
      },
      getBetList() {

      },
      skipPage(pageName) {
        this.pageName = pageName;
      },
      openResultModal() {
        fixedAppView(true);
        this.showResultModal = true;
      },
      closeResultModal() {
        fixedAppView(false);
        this.showResultModal = false;
      },
      async getResultList() {
        let response = await getResultList();
        let resultList = response && response.data && response.data.list;
        for (let i = 0; i < resultList.length; i++) {
          this.$set(this.resultList,i,resultList[i]);
        }
      }
    }
  }
</script>