<template>
  <div class="inner-wrapper">
    <div class="page-box">
      <div class="artice-container">

        <!--the first type solution-->
        <!-- <ul class="artice-aside-wrapper playcenter-state-list">
          <li v-for="(state,index) in stateList" :key="index">
            <h3 class="playcenter-state-title">{{state.name}}</h3>
            <ul class="playcenter-nation-list">
              <li v-for="(nation,index) in state.nation" :key="nation.name">
                <h5 class="playcenter-nation-title" :class="{'active':nation.expand}" @click="expandLotto(nation)">{{nation.name}}</h5>
                <ul class="playcenter-lottery-list" v-show="nation.expand" :key="index">
                  <li v-for="(lotto,index) in nation.lotto">{{lotto}}</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul> -->

        <!--the second type solution-->
        <ul class="artice-aside-wrapper playcenter-state-list">
          <li v-for="(state,index) in stateList" :key="index">
            <h3 class="artice-aside-title">{{state.name}}</h3>
            <template>
              <Collapse accordion>
                <Panel v-for="(nation,index) in state.nation" :key="nation.name">
                  {{nation.name}}
                  <ul slot="content" class="playcenter-lottery-list">
                    <li v-for="(lotto,index) in nation.lotto">{{lotto}}</li>
                  </ul>
                </Panel>
              </Collapse>
            </template>
          </li>
        </ul>
        <!--/the second type solution-->
        
        <div class="artice-wrapper">
          <div class="playcenter-detail-box">
            <h5>Eurojackpot Introduction</h5>
            <p>Eurojackpot is a transnational lottery that was first drawn in 2012. Officially, there are 18 participating European countries—only 1 of which, Spain, is also a participant in the EuroMillions—but players around the world can also play online.</p>
            <p>Eurojackpot is a transnational lottery that was first drawn in 2012. Officially, there are 18 participating European countries—only 1 of which, Spain, is also a participant in the EuroMillions—but players around the world can also play online.</p>
            <p>Eurojackpot is a transnational lottery that was first drawn in 2012. Officially, there are 18 participating European countries—only 1 of which, Spain, is also a participant in the EuroMillions—but players around the world can also play online.</p>
            <p>Eurojackpot is a transnational lottery that was first drawn in 2012. Officially, there are 18 participating European countries—only 1 of which, Spain, is also a participant in the EuroMillions—but players around the world can also play online.</p>
            <h5>Eurojackpot Introduction</h5>
            <p>Eurojackpot is a transnational lottery that was first drawn in 2012. Officially, there are 18 participating European countries—only 1 of which, Spain, is also a participant in the EuroMillions—but players around the world can also play online.</p>
            <p>Eurojackpot is a transnational lottery that was first drawn in 2012. Officially, there are 18 participating European countries—only 1 of which, Spain, is also a participant in the EuroMillions—but players around the world can also play online.</p>
            <p>Eurojackpot is a transnational lottery that was first drawn in 2012. Officially, there are 18 participating European countries—only 1 of which, Spain, is also a participant in the EuroMillions—but players around the world can also play online.</p>
            <p>Eurojackpot is a transnational lottery that was first drawn in 2012. Officially, there are 18 participating European countries—only 1 of which, Spain, is also a participant in the EuroMillions—but players around the world can also play online.</p>
            <h5>Eurojackpot Introduction</h5>
            <p>Eurojackpot is a transnational lottery that was first drawn in 2012. Officially, there are 18 participating European countries—only 1 of which, Spain, is also a participant in the EuroMillions—but players around the world can also play online.</p>
            <p>Eurojackpot is a transnational lottery that was first drawn in 2012. Officially, there are 18 participating European countries—only 1 of which, Spain, is also a participant in the EuroMillions—but players around the world can also play online.</p>
            <p>Eurojackpot is a transnational lottery that was first drawn in 2012. Officially, there are 18 participating European countries—only 1 of which, Spain, is also a participant in the EuroMillions—but players around the world can also play online.</p>
            <p>Eurojackpot is a transnational lottery that was first drawn in 2012. Officially, there are 18 participating European countries—only 1 of which, Spain, is also a participant in the EuroMillions—but players around the world can also play online.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import './index.scss'
  import { getPlayState } from '@/api/data'
	export default {
    data(){
      return{
        stateList:[],
        expand:false
      }
    },
    mounted(){
      this.getPlayState();
    },
    methods:{
      getPlayState(){
        getPlayState().then((response)=>{
          let res = response.data;
          this.stateList = res.state;
        })
      },
      expandLotto(nation){
        this.stateList.forEach((state,index)=>{
          state.nation.forEach((item,index)=>{
            if (item.name === nation.name) {
              item.expand = !item.expand;
            }
          })
        })
      }
    }
	}
</script>