@charset "utf-8";

.navbar-wrapper {
  display: flex;
  height: rem(60);
  background: $white;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
}

.guide-menu-list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0.2rem 0;
  >li {
    @extend %relative;
    @extend %flexCenter;
    font-size: 0.26rem;
    color: $black;
    font-family: "mu sb";
    text-decoration: none;
    text-align: center;
    cursor: pointer;
		height: 0.48rem;
		padding: 0 0.2rem;
		border-radius: 0.3rem;
		line-height: 1;
    &.on {
	    color: #fff;
      background: #00a9e9;
    }
  }
}

.guide-swiper-container {
	margin-top: 0.15rem;
	>.swiper-wrapper {
		display: flex;
		>.swiper-slide {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: auto;
			width: auto;
			height: 0.8rem;
			&.swiper-slide-active {
				border-top: solid 3px #00a9e9;
		    border-left: solid 1px #e5e5e5;
		    border-right: solid 1px #e5e5e5;
		    color: #00a9e9;
		    border-radius: 3px;
			}
		}
	}
}

.navbar-wrapper {
  margin-bottom: 15px;
}
  
.playcenter-menu {
	display: flex;
	background: #fff;
	border-radius: 2px;
	transition: all 0.3s ease;
}

.playcenter-country {
	margin-right: 10px;
	font-size: 14px;
	color: #33373a;
}

.playcenter-select {
	>li {
		display: inline-block;
		margin: 5px;
		padding: 0 12px;
		border-radius: 10px;
		font-size: 14px;
	  color: #33373a;
	  cursor: pointer;
		&:hover,&:active,&.active {
			color: #fff;
			background: #00a9e9;
		}
	}
	@media (max-width: 1440px) {
		>li {
			padding: 0 9px;
			border-radius: 8px;
		}
	}
}

.playcenter-module {
	margin-top: 14px;
	@media (max-width: 1440px) {
		margin-top: 12px;
	}
}

.playcenter-module-link {
	@extend %absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.playcenter-title {
	line-height: 46px;
	@extend %fs18;
	color: $black;
	font-family: 'mu black';
	@media (max-width: 1440px) {
		line-height: 34px;
		font-size: 14px;
	}
}

.playcenter-list {
	@extend %clearfix;
	>li {
		&:hover {
			.playcenter-list-link {
				color: $blue;
		    text-decoration: underline;
			}
		};
		&:nth-child(8n+1) {
			.playcenter-list-box {
				&:after {
					background: linear-gradient(to right, #136bdd, #fc1f20);
				};
			}
		};
		&:nth-child(8n+2) {
			.playcenter-list-box {
				&:after {
					background: linear-gradient(to right, #07a11d, #176bca);
				};
			}
		};
		&:nth-child(8n+3) {
			.playcenter-list-box {
				&:after {
					background: linear-gradient(to right, #875500, #e8b400);
				};
			}
		};
		&:nth-child(8n+4) {
			.playcenter-list-box {
				&:after {
					background: linear-gradient(to right, #528afa, #4427c7);
				};
			}
		};
		&:nth-child(8n+5) {
			.playcenter-list-box {
				&:after {
					background: linear-gradient(to right, #c5cb1d, #ef0c20);
				};
			}
		};
		&:nth-child(8n+6) {
			.playcenter-list-box {
				&:after {
					background: linear-gradient(to right, #9fab15, #1b6426);
				};
			}
		};
		&:nth-child(8n+7) {
			.playcenter-list-box {
				&:after {
					background: linear-gradient(to right, #9b0020, #f33a5c);
				};
			}
		};
		&:nth-child(8n+8) {
			.playcenter-list-box {
				&:after {
					background: linear-gradient(to right, #c80331, #e07304);
				}
			}
		}
	}
}

.playcenter-list-box {
	@extend %relative;
	display: flex;
	align-items: center;
	padding: 20px 0;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
	color: $black;
	@extend %fs14;
	background: $white;
	overflow: hidden;
	transition: all 0.2s ease-out;
	&:hover {
		transform: translateY(-2px);
		box-shadow: 0 0 16px 0 rgba(0,0,0,0.3);
	};
	&:after {
		@extend %absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 4px;
		content: '';
	};
	@media (max-width: 1440px) {
		padding: 15px 0;
		box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
		font-size: 12px;
		&:after {
			height: 3px;
		}
	}
}

.playcenter-list-logo {
	margin-right: 4px;
	width: 100px;
	height: 75px;
}

.playcenter-list-detail {
	flex: 1;
	max-width: 54%;
	padding-right: 10px;
	@media (max-width: 1440px) {
		padding-right: 7px;
	}
}

.playcenter-list-title {
	margin-bottom: 2px;
	@extend %fs16;
	line-height: 24px;
	font-family: 'mu black';
	overflow: hidden;
	white-space: nowrap;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
	@media (max-width: 1440px) {
		margin-bottom: 1px;
		font-size: 12px;
		line-height: 18px;
	}
}

.playcenter-list-text {
	@extend %relative;
	margin-bottom: 14px;
	height: 40px;
	line-height: 20px;
	font-family: 'mu sb';
	color: #9195a0;
  overflow: hidden;
  &.limit {
  	&:after {
	  	@extend %absolute;
			bottom: 0;
			right: 0;
			padding: 0 20px 1px 45px;
			content: "...";
			font-weight: bold;
			background: url('../../assets/images/playcenter/ellipsis_bg.png') repeat-y;
	  };
  }
	@media (max-width: 1440px) {
		margin-bottom: 10px;
		height: 30px;
		line-height: 15px;
	}
}

.playcenter-list-num {
	line-height: 20px;
	@media (max-width: 1440px) {
		line-height: 15px;
	}
}

.playcenter-list-link {
	line-height: 20px;
	margin-top: 5px;
	color: $blue;
	text-decoration: none;
	@media (max-width: 1440px) {
		margin-bottom: 3px;
		line-height: 15px;
	}
}

.playcenter-state-list {
  .ivu-collapse {
  	background-color: #fff;
  	border: 1px solid transparent;
  	border-radius: 0;
  }
  .ivu-collapse>.ivu-collapse-item>.ivu-collapse-header{
  	padding-left: 6px;
  	color: #33373a;
    font-family: "mu eb";
    cursor: pointer;
    font-size: rem(16);
  }
  .ivu-collapse-content>.ivu-collapse-content-box {
  	padding-top: 10px;
  	padding-bottom: 10px;
  }
  .ivu-collapse>.ivu-collapse-item>.ivu-collapse-header>i {
  	margin-right: 0px;
  }
}

.artice-aside-title {
	justify-content: flex-start;
}

.playcenter-nation-list {
	padding: 15px;
	>li {
    line-height: 16px;
		+ li {
		  margin-top: 10px;
		}
	}
}

.playcenter-nation-title {
	@extend %relative;
	color: #33373a;
  padding-left: 10px;
  font-size: 12px;
  line-height: 16px;
  font-family: "mu eb";
  cursor: pointer;
  &:before {
  	@extend %absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	margin: auto;
  	content: '';
  	width: 0;
  	height: 0;
  	border-top: solid 5px transparent;
  	border-bottom: solid 5px transparent;
  	border-left: solid 6px #33373a;
  	transition: all 0.3s ease;
  };
  &.active {
  	&:before {
  		transform: rotate(90deg);
  	}
  }
}

.playcenter-lottery-list {
	>li {
    font-size: 14px;
    line-height: 22px;
    color: #9195a0;
    font-family: "mu sb";
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    &.active {
    	color: #00a9e9;
    }
	}
}

.playcenter-detail-box {
	h5 {
		margin: 0 0 14px;
    line-height: 28px;
    font-size: 18px;
    font-family: 'mu black';
	}
	p {
		margin: 0 0 20px;
    font-size: 14px;
    line-height: 20px;
	}
}