<template>
  <div class="inner-wrapper">
    <ul class="guide-menu-list">
      <li @click="toggleStateBox(item.type,index)" v-for="(item,index) in stateList" :key="item.type" :class="{'on':stateIndex == index}">{{item.name}}</li>
    </ul>
    <div class="playcenter-menu">
      <ul v-show="stateType==0" class="playcenter-select">
        <li v-for="(item,index) in nationList" :class="{'active':eurIndex == index}" :key="item.name" @click="toggleNationBox(stateType,index)">
          {{item.name}}
        </li>
      </ul>
      <ul v-show="stateType==1" class="playcenter-select">
        <li v-for="(item,index) in nationList" :class="{'active':norIndex == index}" :key="item.name" @click="toggleNationBox(stateType,index)">
          {{item.name}}
        </li>
      </ul>
      <ul v-show="stateType==2" class="playcenter-select">
        <li v-for="(item,index) in nationList" :class="{'active':oceIndex == index}" :key="item.name" @click="toggleNationBox(stateType,index)">
          {{item.name}}
        </li>
      </ul>
      <ul v-show="stateType==3" class="playcenter-select">
        <li v-for="(item,index) in nationList" :class="{'active':souIndex == index}" :key="item.name" @click="toggleNationBox(stateType,index)">
          {{item.name}}
        </li>
      </ul>
    </div>
    <div class="playcenter-module">
      <ul class="playcenter-list">
        <li v-for="(item,index) in lottoList" :key="item.name">
          <div class="playcenter-list-box">
            <img class="playcenter-list-logo" v-lazy="{src:item.logo, error:loadImages.error, loading:loadImages.loading}">
            <div class="playcenter-list-detail">
              <h5 class="playcenter-list-title">{{item.name}}</h5>
              <p class="playcenter-list-text">{{item.describe}}</p>
              <p class="playcenter-list-num">{{item.format}}</p>
              <a class="playcenter-list-link" href="">Read More</a>
            </div>
            <a class="playcenter-module-link" href="#"></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
  import './index.scss'
  import { getPlayInfo } from '@/api/data'
  export default {
    name: 'play_index',
    data() {
      return {
        stateType: 0,
        stateIndex: 0,
        stateList: [],
        eurIndex: 0,
        norIndex: 0,
        oceIndex: 0,
        souIndex: 0,
        lottoList: [],
        loading: false,
        loadImages: {
          error: '../../images/public/lotto.png',
          loading: '../../images/public/lotto.png'
        },
        nationList: []
      }
    },
    mounted() {
      this.getStateList();
      this.getNationList(0);
      this.getLottoList();
    },
    methods: {
      setStateList(response) {
        let stateList = response && response.data && response.data.state;
        for (let i = 0; i < stateList.length; i++) {
          this.$set(this.stateList,i,stateList[i])
        }
      },
      setStateType(response) {
        let stateList = response && response.data && response.data.state;
        stateList.forEach((item, index) => {
          if (!item.isDefault) return;
          this.stateIndex = index;
          this.stateType = item.type;
        })
      },
      async getStateList() {
        let response = await getPlayInfo();

        this.setStateList(response);
        
        this.setStateType(response);
      },
      toggleStateBox(stateType, index) {
        this.stateIndex = index;
        this.stateType = stateType;
        this.getNationList(stateType);
        this.getLottoList(stateType, this.setNationIndex(index));
      },
      setNationIndex(index) {
        let rules = [this.eurIndex,this.norIndex,this.oceIndex,this.souIndex];
        for (let i = 0; i < rules.length; i++) {
          if (i === index) return rules[i];
        }
      },
      toggleNationBox(stateType, index) {
        this.toggleNationIndex(index);
        this.getLottoList(stateType, index);
      },
      toggleNationIndex(index) {
        let rules = [
          {
            match: ()=>{ return this.stateIndex == 0; },
            action: (index)=>{ this.eurIndex = index; }
          },
          {
            match: ()=>{ return this.stateIndex == 1; },
            action: (index)=>{ this.norIndex = index; }
          },
          {
            match: ()=>{ return this.stateIndex == 2; },
            action: (index)=>{ this.oceIndex = index; }
          },
          {
            match: ()=>{ return this.stateIndex == 3; },
            action: (index)=>{ this.souIndex = index; }
          }
        ];
        for (let i = 0; i < rules.length; i++) {
          if (rules[i].match()) return rules[i].action(index);
        }
      },
      async getLottoList(type = 0, checkIndex = 0) {
        let response = await getPlayInfo();
        let data = response && response.data && response.data.lottery;
        data.forEach((item, index) => {
          if (type !== item.type) return;
          let array = item.list;
          array.forEach((items, itemsIndex) => {
            if (checkIndex !== itemsIndex) return;
            let lottoList = items.list;
            this.lottoList.length = 0;
            for (let i = 0; i < lottoList.length; i++) {
              this.$set(this.lottoList,i,lottoList[i]);
            }
          })
        })
      },
      async getNationList(stateType) {
        let response = await getPlayInfo();
        let nation = response.data && response.data.nation;
        nation.forEach((item,index)=>{
          if (stateType != item.type) return;
          let array = item.list;
          this.nationList.length = 0;
          for (let i = 0; i < array.length; i++) {
            this.$set(this.nationList,i,array[i]);
          }
        })
      }
    }
  }
</script>