@charset "utf-8";

.btn-group {
  text-align: center;
}

.btn {
  padding: 0 0.1rem;
  border: none;
  cursor: pointer;
  font-family: "mon sb";
  transition: all 0.4s ease;
  + .btn {
    margin-left: 0.2rem;
  }
  &:hover {
    text-decoration: underline;
  };
}

[type="inlineblock"] {
  @extend %inlineflexCenter;
}

[type="block"] {
  @extend %flexCenter;
  width: 100%;
}

[size="min-small"] {
  min-width: 1.2rem;
  height: 0.4rem;
  font-size: 0.24rem;
  border-radius: 0.2rem;
}

[size="small"] {
  min-width: 1.8rem;
  height: 0.48rem;
  font-size: 0.26rem;
  border-radius: 0.24rem;
}

[size="middle"] {
  min-width: 2.4rem;
  height: 0.68rem;
  font-size: 0.28rem;
  border-radius: 0.34rem;
}

[size="large"] {
  min-width: 3rem;
  height: 0.6rem;
  font-size: 0.32rem;
  border-radius: 0.3rem;
}

[theme="blue"] {
  color: $white;
  background-color: #00a9e9;
  &:hover {
    color: $white;
    background-color: #007ebe;
  };
}

[theme="green"] {
  color: $white;
  background-color: #03c85a;
  &:hover {
    color: $white;
    background-color: #009c44;
  };
} 

[theme="disable"]{
  color: #fff;
  cursor: no-drop;
  background-color: #cbcfdb;
  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: #cbcfdb;
  };
}