<template>
  <div class="inner-wrapper">
    <div class="artice-detail-box">
      <h3 class="artice-detail-title">{{newsInfo.title}}</h3>
      <img class="artice-detail-logo" v-lazy="newsInfo.maxlogo" alt="">
      <p class="artice-detail-time">{{newsInfo.time}}</p>
      <p class="artice-detail-text">{{newsInfo.text}}</p>
    </div>
  </div>
</template>
<script>
  import './index.scss'
  import { getNewsDetail } from '@/api/data'
	export default {
    data() {
      return {
        newsInfo: {}
      }
    },
    mounted() {
      this.getNewsDetail();
    },
    methods: {
      async getNewsDetail() {
        let response = await getNewsDetail(this.$route.params.id);
        let data = response && response.data;
        for (let key in data) {
         this.$set(this.newsInfo,key,data[key]);
        }
      }
    }
	}
</script>