@charset "utf-8";

.news-list-wrapper {
  >li {
    padding: 0.3rem 0;
    &:not(:last-child) {
      border-bottom: solid 1px rgba(224, 230, 238, 1);
    };
  }
}

.news-list-box {
  @extend %block;
  text-decoration: none;
  &:hover {
    .news-list-title,
    .news-list-text {
      color: #00a0d2;
    }
  };
}

.news-list-title {
  margin-bottom: 0.1rem;
  font-size: 0.32rem;
  font-family: 'mu eb';
  font-weight: 800;
  color: rgba(51,55,58,1);
  overflow: hidden;
}

.news-list-text {
  font-family: 'mon r';
  font-weight: 400;
  color: rgba(51,55,58,1);
}

.news-list-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.news-list-time {
  font-family: 'mu r';
  font-weight: 400;
  color: rgba(145,149,160,1);
}

.index-news-share {
  display: inline-flex;
  align-items: center;
  >li {
    cursor: pointer;
    &:not(:first-child) {
      margin-left: 0.2rem;
    };
    &.facebook {
      width: 10px;
      height: 20px;
      background: url('/images/public/sprites.png') no-repeat;
      background-position: -91px -194px;
    }
    &.twitter {
      width: 20px;
      height: 20px;
      background: url('/images/public/sprites.png') no-repeat;
      background-position: -129px -194px;
    }
    &.link {
      width: 20px;
      height: 20px;
      background: url('/images/public/sprites.png') no-repeat;
      background-position: -174px -194px;
    }
  }
}

.artice-detail-box {
  padding-top: 0.3rem;
}

.artice-detail-title {
  color: #000;
  font-size: 0.32rem;
  font-weight: bold;
  font-family: "Montserra"
}

.artice-detail-logo {
  display: block;
  max-width: 100%;
  margin: 0.2rem auto;
}

.artice-detail-time {
  margin: 0.1rem 0;
  color: #a8a8a8;
}

.artice-detail-text {
  color: #464646;
  line-height: 1.5;
}