<template>
  <div class="inner-wrapper">
    <div class="news-list-container">
      <ul class="news-list-wrapper">
        <li v-for="item in newsList" :key="item.id">
          <router-link class="news-list-box" :to="{name:'newsdetail', params:{id:item.id}}">
            <h3 class="news-list-title">{{item.title}}</h3>
            <p class="news-list-text">{{item.describe}}</p>
          </router-link>
          <div class="news-list-footer">
            <ul class="index-news-share">
              <li class="facebook"></li>
              <li class="twitter"></li>
              <li class="link"></li>
            </ul>
            <span class="news-list-time">{{item.time}}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
  import './index.scss'
  import { getNewsInfo } from '@/api/data'
	export default {
    data() {
      return {
        newsList: []
      }
    },
    mounted() {
      this.getNewsList();
    },
    methods: {
      async getNewsList() {
        let response = await getNewsInfo();
        let newsList = response && response.data;
        for (let i = 0; i < newsList.length; i++) {
          this.$set(this.newsList,i,newsList[i]);
        }
      }
    }
	}
</script>