<template>
  <div class="inner-wrapper">
    <div class="page-box">
      <div class="deposit-wrapper">
        <div class="deposit-status-wrapper">
          <div class="deposit-status-ok">
            <div class="deposit-status-icon"></div>
            <div class="deposit-status-detail">Deposit Complete!</div>
            <div class="deposit-status-notice">€50.00 was successfully deposited to your Multilotto account</div>
            <div class="btn-group">
              <a class="btn" type="inlineblock" size="large" theme="green" href="">Play Lotto</a>
              <a class="btn" type="inlineblock" size="large" theme="green" href="">Play Casino</a>
            </div>
          </div>
          <div style="display: none;" class="deposit-status-fail">
            <div class="deposit-status-icon"></div>
            <div class="deposit-status-detail">Insufficient balance, confirm and try again!</div>
            <div class="btn-group">
              <a class="btn" type="inlineblock" size="large" theme="green" href="">Back</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import './index.scss'
  export default {
    data(){
      return{
        ticketList:[]
      }
    },
    components:{
    },
    mounted(){
      // this.getTicketList();
    },
    methods:{
      // getTicketList(){
      //   this.axios.get('/api/ajax/get-gluck-ticket-games',{
      //     params:{
      //       page:1,
      //       pageSize:4,
      //       homePage:1
      //     }
      //   }).then((response)=>{
      //     let res = response.data;
      //     this.ticketList = res.list;
      //   })
      // }
    }
  }
</script>