<template>
  <div class="inner-wrapper">
    <div class="page-box">
      <div class="deposit-wrapper">
        <ul class="deposit-process-list">
          <li class="on">Choose bonus to use</li>
          <li>Payment</li>
          <li>Complete</li>
        </ul>
        <div class="deposit-process-choose">
          <div class="deposit-module-wrapper">
            <ul class="deposit-bonus-list">
              <li>
                <img class="deposit-empty-bonus" src="/images/deposit/deposit/defray-bonus-list-nobonus.png">
                <div class="deposit-bonus-box">
                  <h3 class="deposit-bonus-title">Deposit only</h3>
                  <p class="deposit-bonus-text">Just deposit directly if you don't want a bonus.</p>
                </div>
                <a class="deposit-bonus-btn yellow" href="" title="">Deposit directly</a>
              </li>
            </ul>
          </div>
          <div class="deposit-module-wrapper">
            <h3 class="deposit-module-title">Deposit only</h3>
            <ul class="deposit-bonus-list">
              <li>
                <img class="deposit-nomal-bonus" src="/images/deposit/deposit/defray-bonus-list-lotto.png">
                <div class="deposit-bonus-box">
                  <h3 class="deposit-bonus-title">test deposit bonus 2 login </h3>
                  <p class="deposit-bonus-text">Just deposit directly if you don't want a bonus.</p>
                  <p class="deposit-bonus-tip">The total amount (bonus and deposit) needs to be turned over once before a withdrawal is possible.</p>
                </div>
                <a class="deposit-bonus-btn blue" href="" title="">Deposit directly</a>
              </li>
              <li>
                <img class="deposit-nomal-bonus" src="/images/deposit/deposit/defray-bonus-list-lotto.png">
                <div class="deposit-bonus-box">
                  <h3 class="deposit-bonus-title">test deposit bonus 2 login </h3>
                  <p class="deposit-bonus-text">Just deposit directly if you don't want a bonus.</p>
                  <p class="deposit-bonus-tip">The total amount (bonus and deposit) needs to be turned over once before a withdrawal is possible.</p>
                </div>
                <a class="deposit-bonus-btn blue" href="" title="">Deposit directly</a>
              </li>
              <li>
                <img class="deposit-nomal-bonus" src="/images/deposit/deposit/defray-bonus-list-lotto.png">
                <div class="deposit-bonus-box">
                  <h3 class="deposit-bonus-title">test deposit bonus 2 login </h3>
                  <p class="deposit-bonus-text">Just deposit directly if you don't want a bonus.</p>
                  <p class="deposit-bonus-tip">The total amount (bonus and deposit) needs to be turned over once before a withdrawal is possible.</p>
                </div>
                <a class="deposit-bonus-btn blue" href="" title="">Deposit directly</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import './index.scss'
	export default {
    data(){
      return{
        ticketList:[]
      }
    },
    components:{
    },
    mounted(){
      // this.getTicketList();
    },
    methods:{
      // getTicketList(){
      //   this.axios.get('/api/ajax/get-gluck-ticket-games',{
      //     params:{
      //       page:1,
      //       pageSize:4,
      //       homePage:1
      //     }
      //   }).then((response)=>{
      //     let res = response.data;
      //     this.ticketList = res.list;
      //   })
      // }
    }
	}
</script>