<template>
  <div class="inner-wrapper">
    <div class="page-box">
      <div class="deposit-wrapper">
        <ul class="deposit-process-list">
          <li class="on">Choose bonus to use</li>
          <li>Payment</li>
          <li>Complete</li>
        </ul>
        <div class="deposit-invest-form">
          <h3 class="deposit-invest-title">How much would you like to deposit?</h3>
          <ul class="deposit-invest-list">
            <li class="on"><span>$20.00</span></li>
            <li><span>$50.00</span></li>
            <li><span>$100.00</span></li>
            <li><span>$250.00</span></li>
            <li><span>$300.00</span></li>
          </ul>
          <div class="btn-group">
            <a class="btn" type="inlineblock" size="large" theme="green" href="">Deposit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import './index.scss'
  export default {
    data(){
      return{
        ticketList:[]
      }
    },
    components:{
    },
    mounted(){
      // this.getTicketList();
    },
    methods:{
      // getTicketList(){
      //   this.axios.get('/api/ajax/get-gluck-ticket-games',{
      //     params:{
      //       page:1,
      //       pageSize:4,
      //       homePage:1
      //     }
      //   }).then((response)=>{
      //     let res = response.data;
      //     this.ticketList = res.list;
      //   })
      // }
    }
  }
</script>