@charset "utf-8";

/**
*
* @login-main-wrapper
*
*/
.form-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: 0.88rem;
	.sub-header-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		width: 100%;
	}
}

.form-box {
	margin-top: 0.4rem;
	.van-cell {
		padding: 0;
		flex-direction: column;
		&::after {
			display: none;
		}
	}
	.van-field__label {
		width: auto;
		margin-right: 0;
	}
	.van-field__body {
		padding: 0.2rem;
		transition: all 0.3s ease;
		border: 1px solid #ebedf0;
	}
	.van-field--error .van-field__body {
		border-color: #ee0a24;
	}
	.van-button {
		margin-top: 0.2rem;
	}
	.van-field__control::placeholder,
	.van-field--error .van-field__control::placeholder {
		color: #ddd;
	}
	.van-field--error .van-field__control {
		color: #323233;
	}
}

.login-logo {
	display: flex;
	margin: 0 auto;
}

.login-forgot-btn {
	display: inline-flex;
	margin-top: 0.2rem;
	color: #00a9e9;
}