<template>
	<div class="form-wrapper">
    <subheader>
      <router-link slot="subHeaderLink" class="sub-header-text" to="/register">Sign Up</router-link>
    </subheader>
    <div class="inner-wrapper form-box">
      <img class="login-logo" src="/images/header/logo-mm.png"/>
      <van-form ref="form" @failed="onFailed" @submit="onSubmit">
         <van-field
          v-model="email"
          name="email"
          label="email"
          placeholder="please enter your email"
          clearable
          error-message
          :rules="rules.email"
        />
        <van-field
          v-model="password"
          type="password"
          name="password"
          label="password"
          placeholder="please enter your password"
          clearable
          error-message
          :rules="rules.password"
        />
        <router-link class="login-forgot-btn" to="/forgot">Forgot your password?</router-link>
        <van-button block type="info" native-type="submit">Log In</van-button>
        <van-button @click="handleReset" block type="default" native-type="button">reset</van-button>
      </van-form>
    </div>
    <nav-footer></nav-footer>
	</div>
</template>
<script>
  import './index.scss'
  import { mapActions } from 'vuex'
  import { rules } from '@/lib/utils'
	export default {
    data() {
      return {
        email: '',
        password: '',
        rules: rules()
      }
    },
    methods: {
      ...mapActions(['handleLogin']),
      onFailed(errorInfo) {
        console.log(errorInfo);
      },
      async onSubmit(value) {
        await this.handleLogin(value);

        this.$toast.success({
          forbidClick: true,
          message: 'login success...'
        });
        
        const preRoute = this.$route.query.path || '/';
        
        this.$router.push({path: preRoute});
      },
      handleReset() {
        this.$refs.form.resetValidation();
      }
    }
	}
</script>