<template>
	<div class="artice-container">
		<div class="artice-wrapper">
			<minapp></minapp>
      <div class="result-lotto-wrapper">
        <h3 class="result-lotto-title">{{lottoName}} Results For All Of {{lottoDate}}</h3>
        <ul class="result-lotto-list">
          <li v-for="item in lottoInfo">
            <h3 class="result-lotto-name">{{lottoName}}</h3>
            <p class="result-lotto-time">{{item.date}}</p>
            <div class="result-lotto-ul">
              <ul class="result-lotto-number" v-if="(item.ball_number).length>0">
                <li v-for="items in item.ball_number">{{items}}</li>
              </ul>
              <ul class="result-lotto-number extra" v-if="(item.extra_number).length>0">
                <li v-for="items in item.extra_number">{{items}}</li>
              </ul>
              <ul class="result-lotto-number bonus" v-if="(item.bonus_number).length>0">
                <li v-for="items in item.bonus_number">{{items}}</li>
              </ul>
            </div>
            <router-link :to="{path:'/result/resdraw', query:{name:formateLowercase(lottoName),date:item.date}}" class="result-lotto-link"></router-link>
          </li>
        </ul>
        <quick></quick>
      </div>
		</div>
	</div>
</template>
<script>
  import './index.scss'
  import mixin from '@/mixins/mixin'
  import { getResultState, getResultDraw, getLottoInfo } from '@/api/data'
  export default {
    name: 'result_detail',
    mixins: [ mixin ],
    data() {
      return {
        stateList: [],
        lottoList: [],
        lottoName: '',
        lottoDate: '',
        lottoInfo: []        
      }
    },
    mounted() {
      this.getResultState();

      this.getResultDraw();
      
      this.getLottoInfo();
    },
    methods: {
      async getLottoInfo() {
        let response = await getLottoInfo();
        let data = response && response.data;
        data.forEach((item)=>{
          if ( 0===item.type ) {
            let array = (item.list).slice(0,3);
            for (let i = 0; i < array.length; i++) {
              this.$set(this.lottoList,i,array[i]);
            }
          }
        })
      },
      async getResultState() {
        let response = await getResultState();
        let data = response && response.data;
        for (let i = 0; i < data.length; i++) {
          this.$set(this.stateList,i,data[i]);
        }
      },
      async getResultDraw() {
        let response = await getResultDraw(this.$route.query.name);
        let data = response && response.data;
        for (let key in data) {
          if ('date' == key) {
            this.lottoDate = data[key];
          } else if ('name' == key) {
            this.lottoName = data[key];
          } else if ('list' == key) {
            let array = data[key].slice(0,4);
            for (let i = 0; i < array.length; i++) {
              this.$set(this.lottoInfo,i,array[i]);
            }
          }
        }
      }
    }
  }
</script>