<template>
  <div class="result-draw-wrapper">
    <subscribe></subscribe>
    <h3 class="result-draw-title">{{drawName}} Results - {{drawDate}}</h3>
    <h3 class="result-draw-title">Winning numbers</h3>
    <div class="result-draw-ball">
      <ul v-if="ballNumber.length>0" class="result-ball-list">
        <li v-for="item in ballNumber">{{item}}</li>
      </ul>
      <ul v-if="extraNumber.length>0" class="result-ball-list extra">
        <li v-for="item in extraNumber">{{item}}</li>
      </ul>
      <ul v-if="bonusNumber.length>0" class="result-ball-list bonus">
        <li v-for="item in bonusNumber">{{item}}</li>
      </ul>
    </div>
    <table class="result-draw-table">
      <thead>
        <tr>
          <td>Divisions</td>
          <td>Match</td>
          <td>Winning odds</td>
          <td>Prize money</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in drawInfo">
          <td>{{index+1}}</td>
          <td>{{item.match}}</td>
          <td>{{item.odds}}</td>
          <td>{{item.prize}}</td>
        </tr>
      </tbody>
    </table>
    <quick></quick>
  </div>
</template>
<script>
  import './index.scss'
  import { getLottoInfo, getResultDetail } from '@/api/data'
  export default {
    name:'result_draw',
    data() {
      return {
        drawName: '',
        drawDate: '',
        drawInfo: [],
        lottoList: [],
        ballNumber: [],
        extraNumber: [],
        bonusNumber: []
      }
    },
    mounted() {
      this.getLottoInfo();

      this.getResultDetail();
    },
    methods: {
      async getLottoInfo() {
        let response = await getLottoInfo();
        let data = response && response.data;
        data.forEach((item)=>{
          if (0 !== item.type) return;
          let array = (item.list).slice(0,3);
          for (let i = 0; i < array.length; i++) {
            this.$set(this.lottoList,i,array[i]);
          }
        })
      },
      setDrawInfo(data,key) {
        let array = data[key];
        for (let i = 0; i < array.length; i++) {
          this.$set(this.drawInfo,i,array[i]);
        }
      },
      setNumberList(data,key) {
        let ballNumList = data[key].ball_number;
        for (let i = 0; i < ballNumList.length; i++) {
          this.$set(this.ballNumber,i,ballNumList[i]);
        }

        let bonusNumList = data[key].bonus_number;
        for (let i = 0; i < bonusNumList.length; i++) {
          this.$set(this.bonusNumber,i,bonusNumList[i]);
        }

        let extraNumList = data[key].extra_number;
        for (let i = 0; i < extraNumList.length; i++) {
          this.$set(this.extraNumber,i,extraNumList[i]);
        }
      },
      async getResultDetail() {
        let response = await getResultDetail(this.$route.query);
        let data = response && response.data;
        for (let key in data) {
          if ('name' == key) {
            this.drawName = data[key];
          } else if ('draw_date' == key) {
            this.drawDate = data.draw_date; 
          } else if ('draw_info' == key) {
            this.setDrawInfo(data,key);
          } else if ('number' == key) {
            this.setNumberList(data,key);
          }
        }
      }
    }
  }
</script>