@charset "utf-8";

.result-outer-list {
	>li {
		+ li {
		  margin-top: 0.2rem;
		}
	}
}

.result-inner-title {
	color: $black;
	font-size: 0.2rem;
}

.result-inner-list {
	margin-top: 6px;
	>li {
		color: $blue;
		font-size: 0.18rem;
		line-height: 1.4;
	}
}

.result-inner-link {
	color: $blue;
	text-decoration: underline;
}

/**
*
* @module result-lotto-wrapper
*
*/
.result-lotto-wrapper {
	margin-top: 0.2rem;
}

.result-lotto-title {
	color: $black;
}

.result-lotto-list {
	margin-top: 0.2rem;
	>li {
		position: relative;
    margin-bottom: 0.1rem;
    padding: 0.2rem;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
	}
}

.result-lotto-name {
 	font-size: 18px;
  font-weight: bold;
}

.result-lotto-time {
  color: #a8a8a8;
}

.result-lotto-ul {
	display: flex;
}

.result-lotto-number {
	margin-top: 0.1rem;
	+ .result-lotto-number {
		margin-left: 0.1rem;
	}
	&.extra {
		>li {
			background: #a8a8a8;
		}
	}
	&.bonus {
		>li {
			background: #ffbe0a;
		}
	}
	> li {
		position: relative;
	  display: inline-block;
	  margin-bottom: 4px;
	  width: 32px;
	  height: 32px;
	  line-height: 22px;
	  border: 5px solid transparent;
	  font-size: 14px;
	  font-weight: normal;
	  text-align: center;
	  border-radius: 30px;
	  color: #fff;
	  background: #00a0d2;
	  + li {
	  	margin-left: 0.1rem;
	  }
	}
}

.result-lotto-link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	&:after {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0.2rem;
		margin: auto;
		content: '';
		width: 0.2rem;
		height: 0.2rem;
		transform: rotate(-45deg); 
		border-right: solid 3px #00a0d2;
		border-bottom: solid 3px #00a0d2;
	}
}

/**
*
* @module result-referee-wrapper
*
*/
.result-referee-wrapper {
	margin-top: 0.3rem;
}

.result-referee-title {
	display: flex;
	align-items: center;
  color: $white;
  padding: 0 0.1rem;
  height: 0.8rem;
  font-size: 0.32rem;
  background-color: $blue;
}

.result-referee-list {
	text-align: center;
	border: solid 1px #e7e7e7;
  >li {
    padding: 0.3rem 0;
    &:nth-child(even) {
    	background: #f5f5f5;
    }
  }
}

.result-referee-logo {
  width: 2.4rem;
}

.result-referee-price {
  font-size: 0.32rem;
  color: #162136;
}

.result-referee-time {
  margin-top: 6px;
  margin-bottom: 0.1rem;
  color: #a8a8a8;
  font-family: "Muli","Source Sans Pro",Arial,Verdana,sans-serif;
  font-weight: normal;
  text-decoration: none
}

.result-draw-wrapper {
	.result-referee-wrapper {
		background-color: $white;
	}
}

.result-draw-title {
	font-size: 0.32rem;
	color: $blue;
	font-family: "mu eb";
	+ .result-draw-title {
		margin-top: 0.1rem;
	}
}

.result-draw-ball {
	display: flex;
	align-items: center;
	margin-top: 0.1rem;
}

.result-ball-list {
	display: flex;
	align-items: center;
	&.extra {
		>li {
			background-color: #a8a8a8;
		}
	}
	&.bonus {
		>li {
			background-color: #ffbe0a;
		}
	}
	+ .result-ball-list {
		margin-left: 0.1rem;
	}
	>li {
		display: inline-flex;
	  align-items: center;
	  justify-content: center;
		width: 0.48rem;
		height: 0.48rem;
		border-radius: 50%;
		color: $white;
		background-color: $blue;
		+ li {
			margin-left: 0.1rem;
		}
	}
}

.result-draw-table {
	margin-top: 0.3rem;
	width: 100%;
	border: solid 1px #e7e7e7;
	text-align: center;
	background-color: $white;
	> thead {
		tr {
			background-color: $blue;
			td {
	      padding: 0.1rem 0;
				width: 30%;
				color: $white;
	      font-weight: bold;
	      font-size: 0.24rem;
	      &:first-child {
	      	width: 10%;
	      }
			}
		}
	}
	> tbody {
		tr {
			&:nth-child(even) {
				background-color: #f5f5f5;
			};
			td {
				padding: 0.1rem 0;
				width: 30%;
				color: $black;
				font-size: 0.28rem;
				&:first-child {
	      	width: 10%;
	      }
			}
		}
	}
}