<template>
	<div class="artice-wrapper">
    <subscribe></subscribe>
    <div class="result-lotto-wrapper">
      <h3 class="result-lotto-title">Results For All Of {{resultDate}}</h3>
      <ul class="result-lotto-list">
        <li v-for="item in resultList">
          <h3 class="result-lotto-name">{{item.name}}</h3>
          <p class="result-lotto-time">{{item.date}}</p>
          <div class="result-lotto-ul">
            <ul class="result-lotto-number" v-if="(item.ball_number).length>0">
              <li v-for="items in item.ball_number">{{items}}</li>
            </ul>
            <ul class="result-lotto-number extra" v-if="(item.extra_number).length>0">
              <li v-for="items in item.extra_number">{{items}}</li>
            </ul>
            <ul class="result-lotto-number bonus" v-if="(item.bonus_number).length>0">
              <li v-for="items in item.bonus_number">{{items}}</li>
            </ul>
          </div>
          <router-link :to="{path:'/result/resdraw', query:{name:formateLowercase(item.name),date:item.draw_date}}" class="result-lotto-link"></router-link>
        </li>
      </ul>
    </div>
    <quick></quick>
  </div>
</template>
<script>
  import './index.scss'
  import mixin from '@/mixins/mixin'
  import { getResultInfo, getLottoInfo } from '@/api/data'
	export default {
		name: 'result_index',
    mixins: [ mixin ],
    data() {
      return {
        resultDate: '',
        resultList: [],
        lottoList: []
      }
    },
    mounted() {
      this.getLottoList();
      this.getResultList();
    },
    methods: {
      async getResultList() {
        let response = await getResultInfo();
        let data = response && response.data;
        this.resultDate = data.date;
        let resultList = (data.list).splice(0,4);
        for (let i = 0; i < resultList.length; i++) {
          this.$set(this.resultList,i,resultList[i]);
        }
      },
      async getLottoList() {
        let response = await getLottoInfo();
        let data = response && response.data;
        data.forEach((item)=>{
          if (0 !== item.type) return;
          let list = (item.list).slice(0,3);
          for (let i = 0; i < list.length; i++) {
            this.$set(this.lottoList,i,list[i])
          }
        })
      }
    }
	}
</script>