@charset "utf-8";

/**
*
* @module page
*
*/
html,body {
  overflow-x: hidden; 
}

.fixed {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app-casino {
  background: #1B1A1F; 
}

.outer-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 0.88rem;
  max-width: 7.5rem;
  margin: auto;
}

.inner-wrapper {
  padding: 0 0.15rem;
  &.is-active {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }
}

.page-link {
  @extend %absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.page-boost-box {
  @extend %relative;
  display: inline-block;
}

.page-lotto-boost {
  @extend %absolute;
  @extend %flexCenter;
  top: 0;
  left: 100%;
  padding: 0 0.2rem;
  background: $orange;
  height: 0.4rem;
  border-radius: 0.2rem;
  font-size: 0.2rem;
  text-align: center;
  color: $white;
  font-weight: bold;
}

/**
*
* @module artice
*
*/
.artice-container {
  display: flex;
  justify-content: space-between;
}

.artice-wrapper {
  background-color: $white;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
}