@charset "utf-8";

.form-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 0.88rem;
  .sub-header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
  }
}

.form-box {
  margin-top: 0.4rem;
  .van-cell {
    padding: 0;
    flex-direction: column;
    &::after {
      display: none;
    }
  }
  .van-field__label {
    width: auto;
    margin-right: 0;
  }
  .van-field__body {
    padding: 0.2rem;
    border: 1px solid #ebedf0;
  }
  .van-button {
    margin-top: 0.2rem;
  }
  .van-field__control::placeholder,
  .van-field--error .van-field__control::placeholder {
    color: #ddd;
  }
  .van-field--error .van-field__control {
    color: #323233;
  }
  .van-radio {
    + .van-radio {
      margin-left: 0.2rem;
    }
  }
}

.form-box-row {
  display: flex;
  align-items: center;
  margin: 0.2rem 0;
}

.form-box-label {
  margin-right: 0.1rem;
}