<template>
	<div class="form-wrapper">
		<subheader>
      <router-link to="/login" slot="subHeaderLink" class="sub-header-text">Log In</router-link>
    </subheader>
    <div class="inner-wrapper form-box">
      <van-form ref="form" @failed="onFailed" @submit="onSubmit">
        <van-field
          v-model="userName"
          name="userName"
          label="name"
          placeholder="userName"
          clearable
          error-message
          :rules="rules.userName"
        />
        <van-field
          v-model="password"
          type="password"
          name="password"
          label="password"
          placeholder="password"
          clearable
          error-message
          :rules="rules.password"
        />
        <van-field
          v-model="email"
          name="email"
          label="email"
          placeholder="email"
          clearable
          error-message
          :rules="rules.email"
        />
        <van-field
          v-model="phone"
          name="phone"
          label="phone"
          placeholder="phone"
          clearable
          error-message
          type="tel"
          :rules="rules.phone"
        />
        <van-field name="gender" label="Gender" :rules="rules.gender">
          <template #input>
            <van-radio-group v-model="gender" direction="horizontal">
              <van-radio name="male">Male</van-radio>
              <van-radio name="female">Female</van-radio>
            </van-radio-group>
          </template>
        </van-field>
        <van-field name="protocol" label="Protocol" :rules="rules.protocol">
          <template #input>
            <van-checkbox v-model="protocol" shape="square">I agree to the Terms&Conditions and Privacy Policy.</van-checkbox>
          </template>
        </van-field>
        <van-button block type="info" native-type="submit">sign up</van-button>
        <van-button @click="handleReset" block type="default" native-type="button">reset</van-button>
      </van-form>
    </div>
    <nav-footer></nav-footer>
	</div>
</template>
<script>
  import './index.scss'
  import { mapActions } from 'vuex'
  import { rules } from '@/lib/utils'
	export default {
    data() {
      return {
        userName:'',
        password: '',
        email: '',
        phone: '',
        gender:'male',
        protocol: true,
        rules: rules()
      }
    },
    methods: {
      ...mapActions(['handleLogon']),
      onFailed(errorInfo) {
        console.log(errorInfo);
      },
      async onSubmit(value) {
        await this.handleLogon(value);

        this.$toast.success({
          forbidClick: true,
          message: 'logon success...'
        });
        
        const preRoute = this.$route.query.path || '/';
        
        this.$router.push({path: preRoute});
      },
      handleReset() {
        this.$refs.form.resetValidation();
      }
    }
	}
</script>
