<template>
  <div class="casino-index-module">
    <div class="casino-module-top">
      <h3><i class="casino-module-square"></i>{{gameInfo.type}}</h3>
      <a v-if="gameList.length>5" class="casino-module-link" v-bind:class="{'active':showAllList}" @click="toggleGameList()">
        <b v-show="showAllList">Show Less</b>
        <b v-show="!showAllList">Show All</b>
        <i class="casino-module-arrow"></i>
      </a>
    </div>
    <ul class="casino-module-list">
      <li v-for="(item,index) in gameListFilter" :key="item.name">
        <img :alt="item.name" v-lazy="item.logo">
        <p>{{item.name}}</p>
        <router-link class="casino-module-mask" :to="{name:'casino_play',params:{id:item.play_url}}">
          <p>{{item.provider}}</p>
          <h3>{{item.name}}</h3>
          <span v-if="hasGetInfo==1" class="casino-module-btn">play now</span>
          <span v-else class="casino-module-btn">Try it out</span>
        </router-link>
        <router-link class="casino-module-help" :to="{name:'casino_introduce',params:{id:item.play_url}}"></router-link>
      </li>
    </ul>
  </div>
</template>
<script>
  import { mapState } from 'vuex'
  export default {
    name: "game_list",
    props: {
      gameInfo: {
        type: Object,
        default () {
          return {}
        }
      },
      gameList: {
        type: Array,
        default () {
          return []
        }
      }
    },
    computed: {
      ...mapState({
        hasGetInfo: state => Number(state.hasGetInfo)
      }),
      gameListNum() {
        return this.gameList.length;
      },
      showAllList() {
        return (this.initListNum>5)?true:false;
      },
      gameListFilter() {
        return this.gameList.slice(0,this.initListNum);
      }
    },
    data() {
      return {
        initListNum: 5
      }
    },
    methods: {
      toggleGameList() {
        this.initListNum = (this.initListNum===5)? this.gameListNum:5;
      }
    }
  }
</script>