@charset "utf-8";

.casino-index-container {
	padding-bottom: rem(30);
	background: rgba(27, 26, 31, 1);
	min-height: calc(100vh - 136px);
	@media (max-width: 1440px) {
		min-height: calc(100vh - 102px);
	}
}

.casino-index-wrapper {
	display: flex;
	width: rem(1280);
	margin: 0 auto;
	padding-left: rem(280);
	&.casino-index-active {
		padding-left: 0;
		.casino-index-menu {
			display: flex;
      flex-direction: column;
			position: relative;
			top: 0;
			right: 0;
			height: auto;
			margin-right: 0;
			overflow: hidden;
		}
	}
}

/**
*
* casino-index-menu
*
*/
.casino-index-menu {
	position: fixed;
	top: rem(136);
	right: 50%;
	margin-right: rem(360);
	width: rem(280);
	padding: rem(20) rem(10);	
	height: calc(100vh - 136px);
	min-height: calc(100vh - 136px);
	overflow-y: auto; 
	overflow-x: hidden;
	background: #101012;
	box-shadow: rem(10) 0px rem(10) 0px rgba(0, 0, 0, 0.5);
	@media (max-width: 1440px) {
		height: calc(100vh - 102px);
		min-height: calc(100vh - 102px);
	}
}

.casino-index-menu::-webkit-scrollbar {
  width: 0;
}

.casino-menu-group {
	position: relative;
	+ .casino-menu-group {
		margin-top: rem(20);
	}
	&:first-child {
		margin-top: auto;
		&:before {
			position: absolute;
			bottom: rem(-160);
			left: rem(-50);
			right: rem(-60);
			content: '';
			height: rem(320);
			background: rgba(27, 26, 31, 1);
			transform: rotate(90deg) skewX(45deg);
		}
	}
	> h3 {
		position: relative;
		padding: 0 rem(15);
		line-height: 20px;
		font-size: 16px;
		font-family: 'mu b';
		font-weight: bold;
		text-transform: uppercase;
		color: rgba(255,255,255,0.4);
	}
	@media (max-width: 1440px) {
		> h3 {
			line-height: 18px;
		  font-size: 14px;
		}
	}
}

.casino-menu-group {
	.ivu-radio-group {
		display: block;
		padding: rem(5) rem(15) rem(10);
	}
	.ivu-radio-inner {
		background-color: rgba(255,255,255,0.7)
	}
	.casino-menu-text {
		margin-left: 5px;
	  margin-right: auto;
	}
	.ivu-radio-group-vertical .ivu-radio-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: rem(36);
		font-size: 14px;
		margin-right: 0;
		font-family: 'mu sb';
		font-weight: 600;
		cursor: pointer;
		color: rgba(255,255,255,0.7);
	}
	.ivu-checkbox-group {
		padding: rem(5) rem(15) rem(10);
	}
	.ivu-checkbox-group-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: rem(36);
		font-size: 14px;
		margin-right: 0;
		font-family: 'mu sb';
		font-weight: 600;
		cursor: pointer;
		color: rgba(255,255,255,0.7);
	}
}

.casino-menu-list {
	position: relative;
	padding: rem(5) rem(25) rem(10);
	&:after {
		position: absolute;
		height: 1px;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		width: 100%;
		background: linear-gradient(270deg, rgba(1, 102, 218, 0) 0%, #0166DA 52%, rgba(1, 102, 218, 0) 100%);
	}
	> li {
		display: flex;
		align-items: center;
		height: rem(36);
		font-size: 14px;
		font-family: 'mu sb';
		font-weight: 600;
		cursor: pointer;
		color: rgba(255,255,255,0.7);
		&.active {
			color: rgba(255,255,255,1);
			.casino-menu-checkbox {
				border-color: #0166DA;
				&:after {
					transform: scale(1);
				}
			}
		}
	}
	@media (max-width: 1440px) {
		> li {
			font-size: 13px;
		}
	}
}

.casino-menu-search {
	position: relative;
	margin-bottom: rem(20);
	height: rem(40);
}

.casino-menu-input {
	display: flex;
	width: 100%;
	padding: 0 rem(43) 0 rem(25);
	height: rem(40);
	font-size: 16px;
	border-radius: rem(27);
	transition: all 0.3s ease;
  font-family: 'mu sb';
	color: rgba(255, 255, 255, 0.4);
	background: rgba(255,255,255,0.1);
	caret-color: rgba(255, 255, 255, 0.4);
	box-shadow: 0px 0px rem(8) 0px rgba(0, 0, 0, 0.1);
	&.active {
		color: #fff;
		background: #3C3C3D;
		border-radius: rem(10);
	  border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	@media (max-width: 1440px) {
		font-size: 14px;
	}
}

.casino-menu-input::-webkit-input-placeholder {
  font-family: 'mu sb';
	color: rgba(255, 255, 255, 0.4);
}

.casino-index-search {
	position: absolute;
	top: 0;
	right: rem(17);
	bottom: 0;
	margin: auto;
	width: rem(26);
	height: rem(26);
	@include bgImg('casino/index-search-btn.png');
}

.casino-search-container {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	width: 100%;
	max-height: rem(480);
	overflow: auto;
	padding: 0 rem(10) rem(20);
	z-index: 1;
	opacity: 0;
	border-radius: rem(10);
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	background: #3C3C3D;
	pointer-events: none;
	transition: all 0.3s ease;
	box-shadow: 0px 0px rem(8) 0px rgba(0, 0, 0, 0.1);
	transform: translate(0,-10px);
	&.active {
		opacity: 1;
	  pointer-events: auto;
	  transform: translate(0,0);
	}
}

.casino-search-container::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

.casino-no-result {
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: solid 1px rgba(255,255,255,0.4);
	min-height: rem(200);
	line-height: 22px;
	font-size: 18px;
	font-family: 'mu sb';
	text-align: center;
	color: rgba(255, 255, 255, 1);
}

.casino-search-list {
	>li {
		position: relative;
		display: flex;
		align-items: center;
		padding: rem(10) rem(15);
		&:first-child {
			border-top: solid 1px rgba(255, 255, 255, 0.4);
		};
		&.active,&:hover {
			cursor: pointer;
			background: linear-gradient(270deg, rgba(1, 102, 218, 0) 0%, rgba(1, 102, 218, 0.6) 49%, rgba(1, 102, 218, 0) 100%);
			.casino-search-result {
				>h3 {
					color: rgba(255,255,255,1);
				}
				>p {
					color: rgba(255,255,255,0.5);
				}
			}
		}
		>img {
			width: rem(80);
		}
	}
}

.casino-search-result {
	flex: 1;
	margin-left: 10px;
	>h3 {
		margin-bottom: 7px;
		line-height: 22px;
		font-size: 16px;
		font-family: 'mu sb';
		font-weight: 600;
		color: rgba(255,255,255,0.7);
	}
	>p {
		line-height: 17px;
		font-size: 14px;
		font-weight: 400;
		font-family: 'mu r';
		color: rgba(255,255,255,0.3);
	}
}

.casino-search-link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/**
*
* @description add for casino menu list Logo configuration
* @author yuany
*
*/
$casinoMenuListMap:(
  (name: all, width: 18px, height: 14px, maxwidth: 56px, maxheight: 56px),
  (name: new, width: 18px, height: 18px, maxwidth: 56px, maxheight: 56px),
  (name: slots, width: 15px, height: 14px, maxwidth: 56px, maxheight: 56px),
  (name: jackpot, width: 15px, height: 18px, maxwidth: 56px, maxheight: 56px),
  (name: games, width: 18px, height: 12px, maxwidth: 56px, maxheight: 56px),
  (name: instant, width: 14px, height: 18px, maxwidth: 56px, maxheight: 56px),
  (name: live, width: 18px, height: 14px, maxwidth: 56px, maxheight: 56px)
);

@for $i from 1 through length($casinoMenuListMap) {
  $item: nth($casinoMenuListMap, $i);
  .active {
  	.casino-menu-icons {
	  	&.#{map-get($item,name)} {
		  	&:after {
		  		transform: scale(1);
		  	}
		  }
	  }
  }
  .casino-menu-icons {
  	&.#{map-get($item,name)} {
	  	display: flex;
	  	align-items: center;
	  	justify-content: center;
	  	position: relative;
	  	width: 18px;
	  	height: 18px;
	  	margin-right: rem(12);
	  	&:before {
	  		content: '';
	  		width: #{map-get($item,width)};
			  height: #{map-get($item,height)};
			  @include bgImg("casino/index-menu-#{map-get($item,name)}.png");
	  	}
	  	&:after {
	  		position: absolute;
	  		top: 50%;
	  		left: 50%;
	  		margin: -28px;
	  		content: '';
	  		transform: scale(0);
	  		transition: all 0.3s ease;
	  		width: #{map-get($item,maxwidth)};
			  height: #{map-get($item,maxheight)};
			  @include bgImg("casino/index-menu-active-#{map-get($item,name)}.png");
	  	}
	  }
  }
}

.on {
	.casino-menu-icons {
		@media (max-width: 1440px) {
			&:after {
				width: 48px;
				height: 48px;
				margin: -24px;
			}
		}
	}
}

.casino-menu-checkbox {
	position: relative;
	margin-right: rem(15);
	width: rem(16);
	height: rem(16);
	border: 1px solid #464646;
	transition: all 0.3s ease;
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		margin: auto;
		right: 0;
		bottom: 0;
		content: '';
		width: rem(8);
		height: rem(8);
		border-radius: 1px;
		transform: scale(0);
		transition: all 0.3s ease;
		background: linear-gradient(147deg, #00A9E9 0%, #0079E9 100%);
	};
}

.casino-menu-num {
	margin-left: auto;
	margin-right: 0;
	font-size: 14px;
	font-family: 'mu r';
	font-weight: 400;
	color: rgba(255,255,255,0.4);
	@media (max-width: 1440px) {
		font-size: 12px;
	}
}

.casino-menu-footer {
	margin-top: rem(-16);
	> li {
		display: flex;
		align-items: center;
		height: rem(40);
		padding: 0 rem(25);
		cursor: pointer;
		background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255,255,255,0.1) 49%, rgba(255, 255, 255, 0) 100%);
		+ li {
			margin-top: rem(5);
		}
		&:hover {
			background: linear-gradient(270deg, rgba(1, 102, 218, 0) 0%, rgba(1, 102, 218, 0.5) 49%, rgba(1, 102, 218, 0) 100%);
		}
		> a {
			display: flex;
			font-size: 16px;
			font-family: 'mu b';
			font-weight: bold;
			color: rgba(255,255,255,0.7);
			text-decoration: none;
		}
	}
	@media (max-width: 1440px) {
		> li {
			> a {
				font-size: 14px;
			}
		}
	}
}

/**
*
* casino-index-slider
*
*/
.casino-index-box {
	flex: 1;
}

.casino-swiper-container {
	width: rem(1000);
	overflow: hidden;
	> .swiper-pagination-bullets {
		text-align: right;
		.swiper-pagination-bullet {
		  margin: 0 rem(10);
		  border-width: 2px;
		  transition: all 0.3s ease;
		  border-color: transparent;
		  &:after {
				width: 6px;
				height: 6px;
				opacity: 0.5;
				transition: all 0.3s ease;
				background: linear-gradient(180deg, #3B96FF 0%, #0166DA 100%);
			}
		}
		.swiper-pagination-bullet-active {
			border-color: rgba(59, 150, 255, 1);
			&:after {
				background: transparent;
			}
		}
	}
	@media (max-width: 1440px) {
		> .swiper-pagination-bullets {
			.swiper-pagination-bullet {
			  &:after {
					margin: 1px;
				}
			}
		}
	}
}

.casino-index-slider {
	position: relative;
	height: rem(380);
	> img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.casino-slider-box {
	display: flex;
	flex-direction: column;
	@extend %absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: rem(20) rem(30);
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
	> h3 {
		margin-top: auto;
		margin-bottom: rem(6);
		line-height: rem(52);
		font-size: rem(42);
		font-family: 'mu b';
		font-weight: bold;
		color: #fff;
	}
	> p {
		margin-bottom: rem(24);
		line-height: rem(24);
		font-size: rem(18);
		font-family: 'mu r';
		font-weight: 400;
		color: #fff;
	}
}

.casino-slider-footer {
	display: flex;
}

.casino-slider-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 rem(10);
	min-width: rem(140);
	width: max-content;
	height: 42px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	font-family: 'mu b';
	border-radius: rem(4);
	text-decoration: none;
	transition: all 0.3s ease;
	background: rgba(1, 102, 218, 0.5);
	+ .casino-slider-btn {
		margin-left: rem(20);
	}
	&.grey {
		background: rgba(255, 255, 255, 0.3);
	}
	@media (max-width: 1440px) {
		height: 36px;
		font-size: 14px;
	}
}

/**
*
* casino-index-recently
*
*/
.casino-index-recently {
	display: flex;
	margin-top: rem(10);
	padding-bottom: rem(20);
	justify-content: space-between;
	background: rgba(1, 102, 218, 0.1); 
}

.casino-recently-side {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 rem(30);
	width: rem(293);
	height: rem(280);
	@include bgImg('casino/index-played-bg.png');
	> p {
		margin-bottom: rem(16);
		margin-top: rem(36);
		line-height: rem(50);
		font-size: rem(40);
		font-family: 'mu b';
		font-weight: bold;
		color: #fff;
	}
}

.casino-recently-show {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto auto 0;
	height: 42px;
	padding: 0 rem(10);
	min-width: rem(205);
	border-radius: 21px;
	font-family: 'mu sb';
	font-weight: 600;
	color: #181818;
	text-decoration: none;
	background: rgba(255,255,255,0.9);
	&:hover {
		color: #181818;
	}
	@media (max-width: 1440px) {
		height: 36px;
	  font-size: 14px;
		border-radius: 20px;
	}
}

.casino-recently-arrow {
	position: absolute;
	right: rem(26);
	top: 0;
	bottom: 0;
	margin: auto;
	width: 14px;
	height: 11px;
	transition: all 0.3s ease;
	@include bgImg('casino/index-icons-guide.png');
}

.casino-recently-list {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	margin-left: rem(27);
	> li {
		display: flex;
		align-items: center;
		&:nth-child(n+3) {
			margin-top: rem(30);
		}
		&:nth-child(odd) {
			margin-right: rem(60);
		}
		> img {
			margin-right: rem(24);
			width: rem(150);
			height: rem(115);
			border-radius: 4px;
		}
	}
}

.casino-recently-box {
	flex: 1;
	max-width: rem(100);
	> h3 {
		margin-bottom: rem(16);
		line-height: rem(24);
		font-size: rem(18);
		font-family: 'mu b';
		font-weight: bold;
		color: #fff;
	}
	> p {
		margin-bottom: 3px;
		line-height: rem(20);
		font-size: rem(16);
		font-family: 'mu sb';
		font-weight: 600;
		color: rgba(255,255,255,0.5);
	}
}

.casino-recently-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 rem(10);
	min-width: rem(90);
	height: 30px;
	background: #0166DA;
	border-radius: 4px;
	font-size: 14px;
	font-family: 'mu b';
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	transition: all 0.3s ease;
	@media (max-width: 1440px) {
		height: 28px;
		font-size: 12px;
	}
}

/**
*
* casino-index-module
*
*/
.casino-index-module {
	margin-top: rem(30);
	padding-left: rem(30);
	+ .casino-index-module {
		margin-top: rem(30);
	}
}

.casino-module-top {
	display: flex;
  align-items: center;
  justify-content: space-between;
	margin-bottom: rem(16);
	> h3 {
		display: inline-flex;
	  align-items: center;
		font-size: 22px;
		font-family: 'mu b';
		font-weight: bold;
		color: #fff;
	}
	@media (max-width: 1440px) {
		> h3 {
			font-size: 18px;
		}
	}
}

.casino-module-square {
	display: inline-block;
	margin-right: rem(20);
	width: 18px;
	height: 18px;
	border-radius: 4px;
	box-shadow: 0 0 rem(8) #0166da;	
	background: linear-gradient(135deg, #3B96FF 0%, #0166DA 100%);
	@media (max-width: 1440px) {
		width: 16px;
		height: 16px;
	}
}

.casino-module-link {
	display: inline-flex;
	align-items: center;
	font-size: 18px;
	font-family: 'mu sb';
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(255,255,255,0.5);
	&.active {
		.casino-module-arrow {
		  transform: rotate(270deg);
		}
	}
	@media (max-width: 1440px) {
		font-size: 12px;
	}
}

.casino-module-arrow {
	display: inline-block;
	margin-left: rem(10);
	width: rem(28);
	height: rem(28);
	transform: rotate(90deg);
	transition: all 0.3s ease;
	@include bgImg('casino/index-icons-arrow.png');
}

.casino-module-list {
	display: flex;
	flex-wrap: wrap;
	&.jackpot {
		@media (max-width: 767px) {
			display: none;
		}
	}
	> li {
		position: relative;
		min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
		width: 19%;
		text-align: center;
		&:not(:nth-child(5n)) {
			margin-right: calc(5% / 4);
		}
		&:nth-child(n+6) {
			margin-top: 10px;
		};
		&:hover {
			.casino-module-mask {
				opacity: 1;
	      pointer-events: auto;
			}
		}
		> img {
			max-width: 100%;
			border-radius: 4px;
		}
		> p {
			margin-top: rem(10);
			line-height: 20px;
			font-size: 16px;
			font-family: 'mu r';
			font-weight: 400;
			color: rgba(255,255,255,0.5);
		}
	}
	@media (max-width: 1440px) {
		> li {
			> p {
				line-height: 18px;
				font-size: 14px;
			}
		}
	}
	@media (max-width: 767px) {
		> li {
			width: 48%;
			&:not(:nth-child(5n)) {
				margin-right: 0;
			}
			&:not(:nth-child(2n)) {
				margin-right: 4%;
			}
			&:hover {
				.casino-module-mask {
					opacity: 0;
		      pointer-events: auto;
				}
			}
			&:nth-child(n+3) {
				margin-top: 15px;
			}
			> img {
				width: 100%;
				height: auto;
			}
			> p {
				margin-top: 7px;
			}
		}
	}
}

.casino-module-mask {
	display: flex;
  flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: rem(10);
	border-radius: rem(4);
	opacity: 0;
	pointer-events: none;
	text-decoration: none;
	transition: all 0.3s ease;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
	> h3 {
		display: block;
		width: 100%;
		line-height: 20px;
		font-size: 16px;
		font-family: 'mu b';
		font-weight: bold;
		color: #fff;
	}
	> p {
		display: block;
		width: 100%;
		margin-top: auto;
		line-height: 16px;
		font-size: 12px;
		font-family: 'mu r';
		font-weight: 400;
		color: rgba(255,255,255,0.7);
	}
	@media (max-width: 1440px) {
		> h3 {
			line-height: 18px;
			font-size: 14px;
		}
		> p {
			line-height: 14px;
		}
	}
}

.casino-module-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: rem(10);
	width: 100%;
	height: 30px;
	background: #0166DA;
	border-radius: 4px;
	line-height: 18px;
	font-size: 14px;
	font-family: 'mu b';
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	transition: all 0.3s ease;
	&:hover {
		color: #80bbea;
	}
	@media (max-width: 1440px) {
		height: 28px;
		line-height: 16px;
	  font-size: 12px;
	}
}

.casino-module-help {
	position: absolute;
	top: rem(10);
	right: rem(10);
	width: rem(16);
	height: rem(16);
  text-decoration: none;
	@include bgImg("casino/index-help-btn.png");
}