@charset "utf-8";

// mon
@font-face {
  font-family: 'mon black';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'mon eb';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'mon b';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'mon m';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'mon sb';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'mon r';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'mon l';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'mon t';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'mon el';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
}

// muli
@font-face {
  font-family: 'mu black';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Muli/Muli-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'mu eb';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Muli/Muli-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'mu b';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Muli/Muli-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'mu sb';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Muli/Muli-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'mu r';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Muli/Muli-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'mu l';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Muli/Muli-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'mu el';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Muli/Muli-ExtraLight.ttf') format('truetype');
}