@charset "utf-8";

/**
*
* @sub-header-wrapper
*
*/
.sub-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 0.88rem;
  padding: 0 0.1rem;
  background-color: $white;
  border-bottom: 1px solid #f0f0f0;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.sub-header-text {
  font-family: "mu b";
  font-size: 0.3rem;
  color: #00a9e9;
}