<template>
	<div class="sub-header-wrapper">
    <router-link class="sub-header-back" to="/index">
      <van-icon name="arrow-left" size="0.48rem"/>
    </router-link>
    <slot name="subHeaderLink"></slot>
  </div>
</template>
<script>
	import './index.scss'
	export default{
		name: 'sub-header'
	}
</script>