<template>
  <div class="inner-wrapper">
    <div class="page-box">
    <div class="checkout-wrapper">
      <div class="checkout-status-ok">
        <div class="checkout-status-icon"></div>
          <div class="checkout-status-detail">Checkout Complete!</div>
          <div class="checkout-status-time">Draw On<span>Wed 03 Feb 08:30</span></div>
          <div class="checkout-status-notice">Tank you for using Multilotto! We have sent an e-mail to ******@**.com confirming the details of your order.</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import './index.scss'
  export default {
    data(){
      return{
        ticketList:[]
      }
    },
    mounted(){
      // this.getTicketList();
    },
    methods:{
      // getTicketList(){
      //   this.axios.get('/api/ajax/get-gluck-ticket-games',{
      //     params:{
      //       page:1,
      //       pageSize:4,
      //       homePage:1
      //     }
      //   }).then((response)=>{
      //     let res = response.data;
      //     this.ticketList = res.list;
      //   })
      // }
    }
  }
</script>