<template>
  <div class="page-box">
		<div class="checkout-wrapper">
      <div class="checkout-header">
        <h3 class="checkout-header-title">Choose a payment method</h3>
        <p class="checkout-header-text">Please choose how you would like to pay for your order.We also offer Trustly and Paysafecard through deposits, go to My Account and choose Deposit money.</p>
      </div>
      <van-field name="methodType">
        <template #input>
          <van-radio-group v-model="methodType">
            <van-radio v-for="(item,index) in methodsList" :name="item.type" :key="item.type">
              <div class="checkout-pay-box">
                <span class="checkout-pay-icons" v-bind:class='item.icon'></span>
                <span v-if="item.name" class="checkout-pay-text">{{item.name}}</span>
                <span v-if="item.type == 'account'" class="checkout-pay-nums">{{currency + ' ' + realMoney}}</span>
                <span v-if="item.description" class="checkout-pay-description">{{item.description}}</span>
              </div>
              <div v-show="!isAccountEnabled && (item.type == 'account')" class="checkout-pay-foot">
                <p class="checkout-pay-tip">Your account balance is too low. Click <router-link class="checkout-pay-link" to="/deposit/deposit">here</router-link> to deposit money.</p>
              </div>
            </van-radio>
          </van-radio-group>
        </template>
      </van-field>
      <van-button type="info" block>pay</van-button>
    </div>
  </div>
</template>
<script>
  import './index.scss'
  import { mapState } from 'vuex'
  import { localRead } from '@/lib/tools'
  import { getLottoInfo, getGameInfo, getMethodList } from '@/api/data'
	export default {
    data() {
      return {
        ticketState: 0,
        currency: '',
        ticketName: '',
        ticketList: [],
        methodsList: [],
        totalPrice: 0.00,
        gameList: [],
        mustLottoList: [],
        methodType: 'account'
      }
    },
    computed: {
      ...mapState({
        realMoney: state => state.realMoney
      }),
      isAccountEnabled() {
        return parseInt(this.realMoney) >= parseInt(this.totalPrice);
      },
      curAccountMoney() {
        if (this.isAccountEnabled) {
          return parseInt(this.realMoney) - parseInt(this.totalPrice)
        }
      }
    },
    mounted() {
      this.getMethodList();
    },
    methods: {
      async getMethodList() {
        let response = await getMethodList();
        let data = response && response.data;
        for (let i = 0; i < data.length; i++) {
          this.$set(this.methodsList,i,data[i]);
        }
      }
    }
	}
</script>