<template>
  <div>
    <ul class="gluck-nav-menu">
      <li v-for="(item,index) in navList" :class="{'active':checkIndex == index}" :key="item.gametype" @click="toggleGameMenu(item,index)">
        <i class="gluck-nav-icon" :class="formateLowercase(item.name)"></i>{{item.name}}
      </li>
    </ul>
    <ul class="gluck-module-list">
      <li v-for="(item,index) in gamesList" :key="item.name">
        <div class="gluck-card-game">
          <img class="gluck-game-backdrop" v-bind:src="item.background">
          <img class="gluck-game-avator" v-lazy="item.logo" :alt="item.name">
          <router-link :to="item.demo_url" v-if="(item.demo_url == item.play_url)" class="page-link"></router-link>
        </div>
        <div class="gluck-card-middle">
          <p class="gluck-card-detail">
            <span class="gluck-car-name">{{item.name || 'scratchcard game'}}</span>
            <router-link :to="item.demo_url" class="gluck-car-play">play demo</router-link>
          </p>
          <h3 class="gluck-game-award">{{item.currentjackpot_str}}</h3>
        </div>
        <div class="gluck-card-operat" v-if="item.buy_scratchcard_str" v-html="item.buy_scratchcard_str"></div>
        <div class="gluck-btn-group">
          <router-link :to="item.play_bt_str?item.play_url:item.demo_url" slot="btn" class="btn" type="block" size="middle" theme="blue">
          {{(item.play_bt_str&&item.play_bt_str) || (item.play_str&&item.play_str)}}
          </router-link>
        </div>
      </li>
    </ul>
  </div>
</template>
<script>
  import './index.scss'
  import mixin from '@/mixins/mixin'
  import { getGameMenu, getGameInfo } from '@/api/data'
	export default {
    name: 'game',
    mixins: [ mixin ],
    data() {
      return {
        checkIndex: 0,
        navList: [],
        gamesList: []
      }
    },
    mounted() {
      this.getGameMenu();
      this.getGameList();
    },
    methods: {
      async getGameMenu() {
        let response = await getGameMenu();
        let navList = response && response.data;  
        for (let i = 0; i < navList.length; i++) {
          this.$set(this.navList,i,navList[i])
        }
      },
      async getGameList(type=0) {
        let response = await getGameInfo();
        let gameList = response && response.data;
        gameList.forEach((item,index)=>{
          if (type != item.gametype) return;
          let array = item.list;
          this.gamesList.length = 0;
          for (let i = 0; i < array.length; i++) {
            this.$set(this.gamesList,i,array[i])
          }
        })
      },
      toggleGameMenu(item,index) {
        this.checkIndex = index;
        this.getGameList(item.gametype);
      }
    }
	}
</script>