@charset "utf-8";

/**
*
* @gluck-nav-menu
*
*/
.gluck-nav-menu {
	@extend %relative;
	margin: 0.1rem 0;
	font-size: 0;
	background-color: $white;
	&:after {
		@extend %absolute;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		height: 6px;
		background: #e0e6ee;
	};
	>li {
		@extend %relative;
		@extend %inline-block;
		margin-right: 2px;
		padding: 0 10px;
		min-width: 100px;
		height: 64px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		cursor: pointer;
		font-size: 12px;
		text-align: center;
		font-family: 'mu b';
		color: $black;
		&:hover {
			color: $white;
			background: rgba(#00a9e9,0.3);
		}
		&.active {
			color: $white;
			background: #00a9e9;
		}
	}
	@media (max-width: 1440px) {
		>li {
			margin-right: 1px;
			padding: 0 7px;
			min-width: 75px;
			height: 48px;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
		}
		&:after {
			height: 4px;
		};
	}
}

.gluck-new-icon {
	@extend %absolute;
	top: 5px;
	right: -36px;
	width: 48px;
	height: 16px;
	line-height: 17px;
	background-image: linear-gradient(90deg, #ff9000 0%, #ff3f00 100%), linear-gradient(#ff003c, #ff003c);
	box-shadow: 0px 2px 2px 0px rgba(255, 66, 0, 0.16);
	border-radius: 2px;
	font-family: "mu eb";
	color: $white;
	font-size: 12px;
	transform: skewX(-7deg);
	em {
		@extend %absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		transform: skewX(7deg);
	}
	@media (max-width: 1440px) {
		top: 2px;
		right: -20px;
		width: 30px;
		em {
			transform: skewX(7deg) scale(0.85);
		}
	}
}

.gluck-nav-icon {
	@extend %relative;
	@extend %block;
	margin: 0 auto;
	width: 34px;
	height: 38px;
	@media (max-width: 1440px) {
		width: 25px;
		height: 28px;
	}
}

$scratchcardsIconMap: (
	'all': all,
	'popular': popular,
	'lottery': lottery,
	'new': new,
	'discounts': discounts,
	'millionaire': millionaire,
	'budget': budget,
	'special': special,
	'other': other
);

@each $key, $values in $scratchcardsIconMap {
	.gluck-nav-menu {
		>li {
			&:hover {
				.gluck-nav-icon {
					&.#{$key} {
						@include imageUrl('gluck/nav/gluck-icon-#{$values}.png');
					}
				}
			}
			.gluck-nav-icon {
				&.#{$key} {
					&:after {
						content: '';
						@include imageUrl('gluck/nav/gluck-icon-#{$values}.png');
					}
				};
			}
			&.active {
				.gluck-nav-icon {
					&.#{$key} {
						@include imageUrl('gluck/nav/gluck-icon-#{$values}.png');
					}
				}
			}
		}
	}
}

@each $key, $values in $scratchcardsIconMap {
	.gluck-nav-icon {
		&.#{$key} {
			@include imageUrl('gluck/nav/gluck-icon-default-#{$values}.png');
		}
	}
}

/**
*
* @gluck-page-wrapper
*
*/
.gluck-module-box {
	+ .index-module-box {
		margin-top: 30px;
	}
}

.gluck-module-list {
	>li {
		@extend %relative;
		padding-bottom: 10px;
		background-color: $white;
		transition: all 0.2s linear;
		box-shadow: 0 0 10px 0 rgba(7,7,7,.16);
		+ li {
			margin-top: 10px;
		}
	}
}

.gluck-card-game {
	@extend %relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 3.36rem;
}

.gluck-game-backdrop {
	@extend %absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin: auto;
}

.gluck-game-avator {
	@extend %relative;
	max-width: 100%;
}

.gluck-card-middle {
	padding: 10px 5px;
}

.gluck-card-detail {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.gluck-car-name {
	@extend %inline-block;
	font-family: 'mu r';
  font-size: 14px;
  color: $black;
  max-width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.gluck-car-play {
	font-size: 12px;
  color: #00a9e9;
  font-family: 'mu b';
  text-decoration: underline;
}

.gluck-game-award {
	margin-top: 10px;
  font-size: 16px;
  font-family: 'mon b';
  color: $black;
  max-width: 100%;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.gluck-card-operat {
	padding: 12px 0;
	border-top: solid 1px #e0e6ee;
}

.gluck-card-list {
	>li {
		cursor: pointer;
		transition: all 0.3s ease;
		&:hover,&.on {
	    background-color: #ebf8fd;
			.radio {
				&:after {
		      transform: scale(1);
				};
			}
		}
		.line-container {
			@extend %block;
			margin: 0 auto;
			width: 92%;
			text-align: justify;
		  font-size: 0;
		  height: 30px;
		  line-height: 30px;
			&:after {
				@extend %inline-block;
				vertical-align: middle;
				content: '';
				width: 100%;
			}
		}
		.linebox {
			@extend %inline-block;
			vertical-align: middle;
			font-family: 'mu r';
			font-size: 14px;
			color: $black;
		}
		.radio {
			@extend %relative;
			@extend %inline-block;
			vertical-align: middle;
			margin-right: 12px;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			border: solid 1px $black;
			&:after {
				@extend %absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				margin: auto;
				width: 8px;
	      height: 8px;
	      background-color: $black;
	      transform: scale(0);
	      transition: all 0.4s ease;
	      border-radius: 50%;
			};
		}
		.quantity {
			@extend %inline-block;
			vertical-align: middle;
		}
		.discount {
			padding-left: 4px;
			font-size: 12px;
			color: #ff003c;
		}
	}
	@media (max-width: 1440px) {
		>li {
			.line-container {
			  height: 24px;
			  line-height: 24px;
			}
			.linebox {
				font-size: 12px;
			}
			.radio {
				margin-right: 9px;
				width: 12px;
				height: 12px;
				&:after {
					width: 6px;
		      height: 6px;
				}
			}
			.discount {
				padding-left: 3px;
			}
		}
	}
}

.gluck-btn-group {
	margin: 0 5px;
}

.gluck-card-button {
	@extend %block;
	margin: 0 auto;
	width: 92%;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	border-radius: 18px;
	background-color: #00a9e9;
	font-family: 'mu eb';
	color: $white;
	text-align: center;
	transition: all 0.4s ease;
	text-decoration: none;
	&:hover {
		letter-spacing: 1px;
		color: $white;
		background-color: #007ebe;
	}
	@media (max-width: 1440px) {         
		height: 28px;
		line-height: 28px;
		font-size: 14px;
		border-radius: 14px;
	}
}