<template>
  <div class="outer-wrapper" v-bind:class="{'hasFixBar':hasFixBar}">
    <nav-header :openMenu="openMenu" @openHeadMenu="openHeadMenu"></nav-header>
    <nav-menu :openMenu="openMenu" @closeHeadMenu="closeHeadMenu"></nav-menu>
    <div class="inner-wrapper" v-bind:class="{'is-active':openMenu}">
      <router-view></router-view>
    </div>
    <nav-footer></nav-footer>
  </div>
</template>
<script>
  import './index.scss'
  import { fixedAppView } from '@/lib/tools'
  import navMenu from './components/menu/nav-menu.vue'
  import navHeader from './components/header/nav-header.vue'
  export default {
    name: 'Main',
    components: {
      navHeader,
      navMenu
    },
    watch: {
      $route: {
        immediate: true,
        handler() {
          this.updateFixBarTag();
          
          //close openMenu
          if (this.openMenu) {  
            fixedAppView(false);
            this.openMenu = false;
          }
        }
      }
    },
    data() {
      return {
        openMenu: false,
        hasFixBar: false
      }
    },
    methods: {
      openHeadMenu() {
        fixedAppView(true);
        this.openMenu = true;
      },
      closeHeadMenu() {
        fixedAppView(false);
        this.openMenu = false;
      },
      updateFixBarTag() {
        if (['ticket'].includes(this.$route.name)) {
          this.hasFixBar = true;
        } else {
          this.hasFixBar = false;
        }
      }
    }
  }
</script>