@charset "utf-8";

/**
*
* @module subscribe-wrapper
*
*/
.subscribe-form-wrapper {
  margin: 0 0 0.2rem 0;
  padding: 0.2rem;
  clear: both;
  background: rgba(66, 161, 211, 0.1);
}

.subscribe-form-header {
  margin-bottom: 10px;
}

.subscribe-form-title {
  margin-bottom: 6px;
  line-height: 20px;
  font-size: 18px;
  font-family: 'mu eb';
  font-weight: 800;
  color: #000;
}

.subscribe-form-tip {
  line-height: 16px;
  font-size: 14px;
  font-family: 'mu r';
  font-weight: 400;
  color: #000;
}

.subscribe-state-box {
  text-align: center;
}

.subscribe-state-tip {
  margin: 15px 0;
  line-height: 16px;
  font-size: 14px;
  font-family: 'mu r';
  font-weight: 400;
  color: #000;
}

.subscribe-state-avator {
  display: inline-block;  
  &.success {
    width: 108px;
    height: 80px;
    @include bgImg('public/success.png');
  }
  &.failed {
    width: 86px;
    height: 86px;
    @include bgImg('public/failed.png');
  }
}

.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  .ivu-modal {
    top: 0;
  }
}