<template>
  <div class="subscribe-form-wrapper">
    <div class="subscribe-form-header">
      <h3 class="subscribe-form-title">Get free results updates</h3>
      <p class="subscribe-form-tip">Sign up for FREE to receive receive results straight to your email</p>
    </div>
    <van-form ref="form">
      <van-field v-model="form.email" name="email" placeholder="please enter your email" :rules="rules.email"/>
      <van-cell is-link @click="showPopup=true">{{form.name}}</van-cell>
      <van-button style="margin-top:0.2rem;" block type="info" native-type="submit">Get free results</van-button>
      <van-popup v-model="showPopup" position="bottom">
        <van-picker show-toolbar :columns="lottery" :default-index="2" @confirm="updateName" @cancel="showPopup=false"/>
      </van-popup>
    </van-form>
  </div>
</template>
<script>
	import './index.scss'
  import store from '@/store'
  import { rules } from '@/lib/utils'
  import { mapActions, mapState } from 'vuex'
  import { localRead, localSave } from '@/lib/tools'
	export default {
		name: 'subscribe',
    data() {
      return {
        rules: rules(),
        showPopup: false,
        form: {
          email: '',
          protocol: true,
          name: 'Mega Millions'
        },
        lottery: ['Lotto2020','Powerball','Mega Millions','Eurojackpot Boost','Euromillions','SuperEnaLotto','Gold Lottery','Germany Lotto Boost','Australia Powerball','Finland Lotto','La Primitiva','California SuperLotto','Bitcoin jackpot','Viking Lotto','Cash4Life','Eurojackpot','Mega-Sena','New York Lotto','Canada Lotto','Swiss lotto','Norway Lotto','Germany Lotto','Austria Lotto','Christmas Lottery']
      }
    },
    computed: {
      ...mapState({
        token: state => state.token,
        email: state => state.email,
        isSubscribe: state => Number(state.isSubscribe)
      })
    },
    methods: {
      updateName(value, index) {
        this.showPopup = false;
        this.form.name = value;
      }
    }
	}
</script>