@charset "utf-8";

%fs12 {
  font-size: 12px;
}

%fs14 {
  font-size: 14px;
}

%fs16 {
  font-size: 16px;
}

%fs18 {
  font-size: 18px;
}

%fs20 {
  font-size: 20px;
}

%fs22 {
  font-size: 22px;
}

%fs24 {
  font-size: 24px;
}

%fs26 {
  font-size: 26px;
}

%fs28 {
  font-size: 28px;
}

%fs30 {
  font-size: 30px;
}

%fs32 {
  font-size: 32px;
}

%fs34 {
  font-size: 34px;
}

%fs36 {
  font-size: 36px;
}

%bold {
  font-weight: bold;
}

%vam {
  vertical-align: middle;
}

%tl {
  text-align: left;
}

%tc {
  text-align: center;
}

%tr{
  text-align: right;
}

%tj {
  text-align: justify;
}

%left {
  float: left;
}

%right {
  float: right;
}

%relative {
  position: relative;
}

%absolute {
  position: absolute;
}

%fixed {
  position: fixed;
}

%sticky {
  position: -webkit-sticky;
  position: sticky;
}

%w100 {
  width: 100%;
}

%h100 {
  height: 100%;
}

%bfc {
  overflow: hidden;
}

%none {
  display: none;
}

%block {
  display: block;
}

%inline {
  display: inline;
}

%inline-block {
  display: inline-block;
}

%table {
  display: table;
}

%table-cell{
  display: table-cell;
}

%clearfix {
  clear: both;
  &:before,&:after{
    display: block;
    height: 0;
    clear: both;
    content: '';
  }
}

%radius {
  border-radius: 50%;
}

%nowrap {
  white-space: nowrap;
}

%pointer {
  cursor: pointer;
}

%lineTextHide {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

%borderBox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

%levelCenter {
  margin-left: auto;
  margin-right: auto;
}

%tableCenter {
  @extend %table;
  @extend %levelCenter;
}

%fixedTransparentModal {
  @extend %fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

%fixedModal {
  @extend %fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  z-index: 9999;
}

%flex {
  display: -ms-flexbox;
  display: -moz-flexbox;
  display: -webkit-flex;
  display: flex;
}

%flexAuto {
  width: 0;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}

%flexCenter {
  @extend %flex;
  align-items:center;
  justify-content:center;
}

%inlineflexCenter {
  display: inline-flex;
  align-items:center;
  justify-content:center;
}

%transition {
  -webkit-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

%translate3d {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

%rotate45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
