@charset "utf-8";

@function rem($px, $base: 16) {
  @return $px/#{$base}rem;
}

@mixin imageUrl($name) {
  background: url("/images/" + $name) no-repeat;
  background-size: 100% 100%;
}

@mixin bgImg($name) {
  background: url("/images/" + $name) no-repeat;
  background-size: 100% 100%;
}

@mixin lineTextHide($var:1rem){
  display: inline-block;
  max-width:$var;
  white-space:nowrap;
  -o-text-overflow:ellipsis;
  text-overflow:ellipsis;
  overflow:hidden;
}

@mixin multilineTextHide($var:3){
  display: -webkit-box;
  display:-moz-box;
  display: -ms-box;
  display: box;
  -webkit-line-clamp:$var;
  -webkit-box-orient:vertical;
  -o-text-overflow:ellipsis;
  text-overflow:ellipsis;
  overflow:hidden;
}

@mixin radius($var:0.5rem){
  border-radius: $var;
}

@mixin stroke($var1:#feec0a,$var2:1px,$var3:1px,$var4:1px){
  -webkit-text-shadow: $var1 $var2 $var3 $var4;
  -moz-text-shadow: $var1 $var2 $var3 $var4;
  text-shadow: $var1 $var2 $var3 $var4;
}

@mixin triangle-up($var1:10px,$var2:10px,$var3:10px,$var4:#fff){
  width:0;
  height:0;
  border-left:$var1 solid transparent;
  border-right:$var2 solid transparent;
  border-bottom:$var3 solid $var4;
}

@mixin triangle-down($var1:10px,$var2:10px,$var3:10px,$var4:#f00){
  width:0;
  height:0;
  border-left:$var1 solid transparent;
  border-right:$var2 solid transparent;
  border-top:$var3 solid $var4;
}

@mixin triangle-left($var1:10px,$var2:10px,$var3:10px,$var4:#f00){
  width:0;
  height:0;
  border-top:$var1 solid transparent;
  border-bottom:$var2 solid transparent;
  border-right:$var3 solid $var4;
}

@mixin triangle-right($var1:10px,$var2:10px,$var3:10px,$var4:#f00){
  width:0;
  height:0;
  border-top:$var1 solid transparent;
  border-bottom:$var2 solid transparent;
  border-left:$var3 solid $var4;
}

@mixin triangle-topleft($var1:10px,$var2:10px,$var3:#f00){
  width: 0;
  height: 0;
  border-top: $var1 solid $var3;
  border-right: $var2 solid transparent;
}

@mixin triangle-topright($var1:10px,$var2:10px,$var3:#f00){
  width: 0;
  height: 0;
  border-top: $var1 solid $var3;
  border-left: $var2 solid transparent;
}

@mixin triangle-bottomleft($var1:10px,$var2:10px,$var3:#f00){
  width: 0;
  height: 0;
  border-bottom: $var1 solid $var3;
  border-right: $var2 solid transparent;
}

@mixin triangle-bottomright($var1:10px,$var2:10px,$var3:#f00){
  width: 0;
  height: 0;
  border-bottom: $var1 solid $var3;
  border-left: $var2 solid transparent;
}

@mixin md {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin ml {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mm {
  @media (max-width: 540px) {
    @content;
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}