<template>
	<div class="modal-wrapper" v-bind:class="{'show':show}">
	  <div class="modal-mask" @click="$emit('close')"></div>
		<div class="modal-box">
		  <a v-if="showClose" class="modal-close-btn" @click="$emit('close')"></a>
		  <h3 v-if="showTitle" class="modal-title">
		    <slot name="title"></slot>
		  </h3>
			<div class="modal-main">
			  <slot name="tip"></slot>
			</div>
			<div v-if="showGroup" class="modal-btns">
			  <slot name="btn"></slot>
			</div>
		</div>
	</div>
</template>
<script>
	import './index.scss'
	export default {
		name: 'app-modal',
		props: {
			show: {
				type: Boolean
			},
			showClose: {
				type: Boolean,
				default: true
			},
			showTitle: {
				type: Boolean,
				default: true
			},
			showGroup: {
				type: Boolean,
				default: true
			}
		}
	}
</script>