@charset "utf-8";

.modal-wrapper {
  @extend %flexCenter;
  @extend %fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 101;
  pointer-events: none;
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}

.modal-mask {
  @extend %fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal-box {
  @extend %relative;
  max-width: 92%;
  min-height: 1rem;
  padding: 0.3rem;
  background: #fff;
  border: 0.1rem solid #00a0d2;
  border-radius: 0.1rem;
  box-shadow: 0 0 0.2rem rgba(0,0,0,0.75);
}

.modal-text {
  margin-bottom: 0.3rem;
  color: #666;
  font-size: 0.28rem;
}

.modal-btns {
  display: flex;
  justify-content: center;
}

.modal-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Muli","Source Sans Pro",Arial,Verdana,sans-serif;
  font-size: 0.28rem;
  height: 0.8rem;
  min-width: 2.4rem;
  padding: 0 0.16rem;
  font-weight: bold;
  border-radius: 0.4rem;
  text-transform: none;
  color: #fff;
  transition: all 0.3s ease;
  background-color: #00a0d2;
  &:hover {
    color: #fff;
    background-color: #00799f;
  }
}