@charset "utf-8";

$black: #33373a;

$white: #fff;

$blue: #00a9e9;

$green: #03c85a;

$orange: #ff9f00;

$gray: #f0f0f0;

// color
$border: #e9e9e9;
$c1: #00a9e9;       
$c2: #03c85a;     
$c3: #ffffff;
$c4: #ff003c;
$c5: #ff9f00;
$c6: #009dd8;
$c7: #00f0ff;
$tc1: #33373a;
$tc2: #9195a0;
$tc3: #cbcfdb;
$c3-op70: rgba(255,255,255,.7);
$bc2-op50: rgba(247,247,247,0.5);

// background
$bc1: #e0e6ee;
$bc2: #f0f0f0;
$bc3: #f8f8f8;
$bc4: #8cecbc;
$bc5: #97dcf6;
$bc6: #009c44;
$bc7: #007ebe;
$bc8: #9da7c0;
$bc9: #e6e9ee;