@charset "utf-8";

// mon
$mon-black: "mon black";
$mon-eb: "mon eb";
$mon-b: "mon b";
$mon-sb: "mon sb";
$mon-r: "mon r";
$mon-l: "mon l";
$mon-m: "mon m";
$mon-t: "mon t";
$mon-el: "mon el";

// mu
$mu-black: "mu black";
$mu-eb: "mu eb";
$mu-b: "mu b";
$mu-sb: "mu sb";
$mu-r: "mu r";
$mu-l: "mu l";
$mu-el: "mu el";