@charset "utf-8";

.navbar-wrapper {
  display: flex;
  height: rem(60);
  background: $white;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
}

.navbar-list {
  display: flex;
  >li {
    @extend %relative;
    @extend %flexCenter;
    min-width: rem(240);
    border-right: 1px solid #e0e6ee;
    font-size: rem(18);
    color: $black;
    font-family: "mu sb";
    transition: all .4s;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    &:before {
      @extend %absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 4px;
      content: "";
      background: #00a9e9;
      transform: scale(0, 1);
      transition: all 0.3s ease;
    };
    &.on {
      color: #00a9e9;
      font-family: "mu eb";
      &:before {
        transform: scale(1, 1);
      }
    }
  }
}