@charset "utf-8";

.hasAppLoading {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}

.app-loading-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background: #00203F;
  pointer-events: none;
  .van-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .van-loading__text {
    margin-top: 0.2rem;
  }
}