<template>
	<div v-show="appLoading" class="app-loading-box">
    <van-loading type="spinner" color="#1989fa" size="30px">加载中...</van-loading>
  </div>
</template>
<script>
	import './index.scss'
	export default {
		name: 'load',
		props: {
			appLoading: {
				type: Boolean,
				default: false
			}
		}
	}
</script>