@charset "utf-8";

.footer-wrapper {
  margin-top: auto;
  padding: 0 0.15rem;
}

.footer-nav-wrapper {
  @extend %flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0.3rem;
  padding-bottom: 0.3rem;
  > li {
    width: 50%;
  }
}

.footer-nav-title {
  font-size: 0.24rem;
  .footer-nav-link {
    font-size: 0.32rem;
  }
}

.footer-nav-link {
  @extend %block;
  font-size: 0.28rem;
  line-height: 0.4rem;
  color: $black;
  transition: all 0.2s;
  &:hover {
    color: $blue;
    text-decoration: underline;
  };
}

.footer-copyright {
  padding: 0.2rem 0;
  line-height: 0.36rem;
  font-family: "mu r";
  color: $black;
  text-align: center;
}