<template>
  <div class="footer-wrapper">
    <div class="footer-copyright">
      <p>Gambling can be addictive. Play responsibly. <a class="blue" href="https://www.gambleaware.co.uk" target="_blank" rel="nofollow">www.gambleaware.co.uk</a>, <a href="http://www.gamcare.org.uk" target="_blank" rel="nofollow" class="blue">www.gamcare.org.uk</a>
      </p>
      <p>Use of this Website constitutes acceptance of the Multilotto.net <a class="blue" href="https://www.multilotto.net/en/terms-and-conditions">Terms and Conditions</a> and <a class="blue" href="https://www.multilotto.net/en/privacy-policy">Privacy Policy.</a></p>
      <p>© Copyright 2010 - 2019 Multi Pay N.V. All Rights Reserved.</p>
    </div>
  </div>
</template>
<script>
  import './index.scss'
  export default {
    name: 'nav-footer'
  }
</script>