<template>
  <div>
    <ul class="lotto-navbar">
      <li v-for="(item,index) in menuList" :class="{'on':checkedIndex == index}" :key="item.type" @click="toggleMenuBox(item,index)">{{item.name}}</li>
    </ul>
    <ul class="lotto-list-wrapper">
      <li v-for="(item,index) in lottoList" :key="item.name">
        <div class="lotto-list-detail">
          <div class="page-boost-box">
            <img class="lotto-list-logo" v-lazy="item.logo"/>
            <span v-show="item.boost" class="page-lotto-boost">boost</span>
          </div>
          <h3 class="lotto-list-name">{{item.name}}</h3>
          <p class="lotto-list-time">{{item.draw_date}}</p>
        </div>
        <div class="lotto-list-operate">
          <b class="lotto-list-price">{{item.user_currency}} {{item.boost_jackpot || item.jackpot}}</b>
          <span class="btn" type="inlineblock" size="small" theme="green">PLAY NOW</span>
        </div>
        <router-link :to="{name:'ticket',params:{id:formateLowercase(item.name)}}" class="lotto-list-link"></router-link>
      </li>
    </ul>
  </div>
</template>
<script>
  import './index.scss'
  import mixin from '@/mixins/mixin'
  import { getLottoMenu, getLottoInfo } from '@/api/data'
	export default {
    name: 'lotto',
    mixins: [ mixin ],
    data() {
      return {
        menuList: [],
        lottoList: [],
        checkedIndex: 0
      }
    },
    mounted() {
      this.getMenuList();
      this.getLottoList(1);
    },
    methods: {
      toggleMenuBox(item,index) {
        this.checkedIndex = index;
        this.getLottoList(item.type);
      },
      async getMenuList() {
        let response = await getLottoMenu();
        let array = response && response.data && response.data.slice(1, 4);
        for (let index = 0; index < array.length; index++) {
          this.$set(this.menuList, index, array[index]);
        }
      },
      async getLottoList(type) {
        let response = await getLottoInfo();
        let data = response && response.data;
        data.forEach((item,index)=>{
          if (type !== item.type) return;
          let lottoList = item.list;
          this.lottoList.length = 0;
          for (let i = 0; i < lottoList.length; i++) {
            this.$set(this.lottoList,i,lottoList[i]);
          }
        })
      }
    }
	}
</script>