@charset "utf-8";

.lotto-navbar {
  display: flex;
  height: 1rem;
  align-items: center;
  justify-content: space-around;
  >li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
    position: relative;
    height: 100%;
    font-size: 0.32rem;
    color: $black;
    font-family: "mu sb";
    transition: all .4s;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    &.on {
      color: #00a9e9;
      font-family: "mu eb";
    }
  }
}

.lotto-list-wrapper {
  margin-top: 0.1rem;
	>li {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
		border: 1px solid #e7e7e7;
    border-radius: 4px;
    box-shadow: 0px 2px 16px rgba(0,0,0,0.05);
    font-family: "Montserrat","Source Sans Pro",sans-serif;
    font-weight: bold;
    padding: 0.1rem;
    background-color: #fff;
    + li {
      margin-top: 0.1rem;
    }
	}
}

.lotto-list-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.lotto-list-detail {
  position: relative;
}

.lotto-list-logo {
  max-height: 1.2rem;
}

.lotto-list-name {
  margin-bottom: 4px;
	font-size: 0.28rem;
	color: #000;
}

.lotto-list-time {
  font-size: 14px;
	color: #a8a8a8;
  font-weight: normal;
}

.lotto-list-operate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.lotto-list-price {
	display: block;
  font-size: 0.28rem;
	color: #00a0d2;
  + .btn {
    width: fit-content;
  }
}