@charset "utf-8";

/**
*
* @module picker-wrapper
*
*/
.picker-wrapper {
  margin: 0.2rem 0 0.3rem;
  background: rgba(255,255,255,1);
  box-shadow: 0px 0px 0.12rem 0px rgba(0,0,0,0.2);
}

$themes:(
  (name:usa-powerball,startColor:#c80331,endColor:#3639b6),
  (name:mega-millions,startColor:#fac800,endColor:#f56200),
  (name:el-gordo,startColor:#c12a1c,endColor:#5d0000),
  (name:finland-lotto,startColor:#17997c,endColor:#194fa0),
  (name:euromillions,startColor:#528afa,endColor:#4427c7),
  (name:eurojackpot,startColor:#e8b400,endColor:#875500),
  (name:irish-lotto,startColor:#0dbb2b,endColor:#ffa200),
  (name:la-primitiva,startColor:#9fab15,endColor:#1b6426),
  (name:germany-lotto,startColor:#c80331,endColor:#e07304),
  (name:mega-millions-max,startColor:#fac800,endColor:#f56200),
  (name:super-ena-lotto,startColor:#c5cb1d,endColor:#ef0c20),
  (name:bitcoin-jackpot,startColor:#fe8900,endColor:#663102),
  (name:norway-lotto,startColor:#be0808,endColor:#3639b6),
  (name:eurojackpot-max,startColor:#e8b400,endColor:#875500),
  (name:poland-lotto,startColor:#f33a5c,endColor:#9b0020),
  (name:mega-sena,startColor:#87d419,endColor:#1b7320),
  (name:cash4life,startColor:#07a11d,endColor:#176bca),
  (name:usa-powerball-max,startColor:#c80331,endColor:#3639b6),
  (name:california-super-lotto,startColor:#00a9e9,endColor:#0079e9),
  (name:mini-lotto,startColor:#f33a5c,endColor:#9b0020),
  (name:bonoloto,startColor:#8ea6be,endColor:#255171),
  (name:new-york-lotto,startColor:#136bdd,endColor:#fc1f20),
  (name:canada-lotto-max,startColor:#014fa7,endColor:#00286a),
  (name:ontario-49,startColor:#d01f2a,endColor:#92202a),
  (name:austria-lotto,startColor:#0655cc,endColor:#0810ae),
  (name:quebec-49,startColor:#1840b1,endColor:#0084ff),
  (name:turkey-lotto-649,startColor:#2770ce,endColor:#fe3722),
  (name:uk-national-lottery,startColor:#8ea6be,endColor:#255171),
  (name:uk-thunderball,startColor:#2c19a0,endColor:#3218af),
  (name:ukraine-super-loto,startColor:#ffba00,endColor:#ea2213),
  (name:gold-lottery,startColor:#cfa42c,endColor:#93712a),
  (name:swiss-lotto,startColor:#2c19a0,endColor:#3218af),
  (name:mexico-melate,startColor:#5e00ac,endColor:#e41044),
  (name:israel-double-lotto,startColor:#1840b1,endColor:#0084ff),
  (name:colombia-baloto,startColor:#b20509,endColor:#ff8000),
  (name:florida-lotto,startColor:#2ea176,endColor:#0b5846),
  (name:hungary-otoslotto,startColor:#1ba03a,endColor:#ffcc00),
  (name:hong-kong-mark-six,startColor:#2c2ce5,endColor:#ea2213),
  (name:greece-lotto,startColor:#c35f03,endColor:#f69c00),
  (name:belgium-lotto,startColor:#e9201f,endColor:#741313),
  (name:japan-loto-6,startColor:#e3007c,endColor:#f56200),
  (name:new-jersey-pick-six,startColor:#006bbc,endColor:#008984),
  (name:greece-joker,startColor:#00a9e9,endColor:#0079e9),
  (name:indiana-hoosier-lotto,startColor:#0491e0,endColor:#20865a),
  (name:new-zealand-powerball,startColor:#014fa7,endColor:#00286a),
  (name:australia-saturday-lotto,startColor:#8ea6be,endColor:#255171),
  (name:south-africa-lotto,startColor:#ffd522,endColor:#ff7800),
  (name:washington-lotto,startColor:#87d419,endColor:#1b7320),
  (name:sweden-viking-lotto,startColor:#d01f2a,endColor:#92202a),
  (name:australia-powerball,startColor:#036694,endColor:#008c3d),
  (name:australia-oz-lotto,startColor:#ffcc00,endColor:#007e38),
  (name:sweden-lotto,startColor:#0c48ac,endColor:#047a28),
  (name:canada-lotto-649,startColor:#014fa7,endColor:#00286a),
  (name:italy-superstar,startColor:#5602b4,endColor:#7926b0),
  (name:russia-gosloto-749,startColor:#3639b6,endColor:#be0808),
  (name:russia-gosloto-645,startColor:#3639b6,endColor:#be0808),
  (name:french-lotto,startColor:#2c2ce5,endColor:#ea2213),
  (name:oregon-megabucks,startColor:#061032,endColor:#f23338),
  (name:ukraine-megalot,startColor:#3443b6,endColor:#d11017),
  (name:illinois-lotto,startColor:#fac800,endColor:#f56200),
  (name:el-gordo-navidad,startColor:#ff8b2a,endColor:#f12c28),
  (name:staatsloterij,startColor:#fac800,endColor:#f56200),
  (name:romania-lotto-649,startColor:#00a9e9,endColor:#0079e9),
  (name:christmas-lottery,startColor:#00a9e9,endColor:#0079e9),
  (name:south-africa-daily-lotto,startColor:#ffd522,endColor:#e5253a),
  (name:south-africa-powerball,startColor:#ffd522,endColor:#0590d4),
  (name:year-lottery,startColor:#5a5c65,endColor:#252734),
  (name:chile-lotto,startColor:#282828,endColor:#de1923)
);

@for $i from 1 through length($themes) {
  $item: nth($themes, $i);
  .picker-wrapper {
    .#{map-get($item,name)} {
      background: map-get($item,startColor);
      background: linear-gradient(90deg,map-get($item,startColor) 0%,map-get($item,endColor) 100%);
    }
  }
}

.picker-header {
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 0;
  min-height: 92px;
  background: #00a9e9;
  background: linear-gradient(90deg,#00a9e9 0%,#00a9e9 100%);
  .page-lotto-boost {
    top: 0;
    right: 0;
    left: auto;
  }
}

.picker-header-aside {
  @extend %relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  flex-direction: column;
}

.picker-header-avator {
  margin-top: 4px;
  width: 90px;
  height: 68px;
  min-width: auto;
}

.picker-header-box {
  flex: 1;
  width: 100%;
}

.picker-header-title {
  @extend %relative;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  font-family: "mu sb";
  font-weight: 600;
  color: rgba(255,255,255,1);
} 

.picker-header-name {
  width: 100%;
  font-size: 24px;
  line-height: 30px;
  font-family: "mu eb";
  font-weight: 800;
  color: rgba(255,255,255,1);
}

.picker-header-time {
  display: block;
  width: 100%;
  max-width: 100%;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  font-family: 'mu sb';
  color: rgba(255,255,255,0.5);
}

.picker-body {
  padding: 0.1rem;
}

.picker-body-box {
  display: flex;
  flex-direction: column;
}

.picker-body-title {
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 20px;
  font-family: "mu eb";
  font-weight: 800;
  color: rgba(0,0,0,1);
}

.picker-line-title {
  padding-bottom: 4px;
  border-bottom: solid 1px #CBCFDB;
}

.picker-operate-group {
  margin-bottom: 0.3rem;
  .van-radio {
    + .van-radio {
      margin-top: 0.1rem;
    }
  }
  .van-radio__label {
    font-family: "mu b";
    font-weight: bold;
    color: #33373a;
  }
  .van-stepper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .van-stepper--round .van-stepper__minus {
    color: #07c160;
    border: 1px solid #07c160;
  }
  .van-stepper--round .van-stepper__input {
    flex: 1;
    margin: 0 5px;
    height: 36px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    background: #ededed;
  }
  .van-stepper--round .van-stepper__plus {
    background-color: #07c160;
  }
}

.picker-select-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 6px;
  height: 42px;
  width: 100%;
  border: 1px solid rgba(208,208,208,1);
  background: rgba(255,255,255,1);
  cursor: pointer;
  font-size: 14px;
  font-family: 'mu sb';
  font-weight: 600;
  color: rgba(51,55,58,1);
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.2rem;
    margin: auto;
    content: '';
    width: 0.2rem;
    height: 0.2rem;
    transform: rotate(45deg);
    border-right: solid 2px #d0d0d0;
    border-bottom: solid 2px #d0d0d0
  }
}

.picker-operate-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.picker-line-sub {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(143,147,160,1);
  transition: background 0.3s ease;
  &.disabled {
    opacity: 0.3;
    cursor: no-drop;
  }
  &:hover {
    background: rgba(143,147,160,0.8);
    transition: background 0.3s ease;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 17px;
    height: 3px;
    content: '';
    border-radius: 1px;
    background: #fff;
  }
}

.picker-line-add {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(3,200,90,1);
  transition: background 0.3s ease;
  &:hover {
    background: #009c44;
    transition: background 0.3s ease;
    &:after {
      display: block !important;
    };
  };
  &.disabled {
    opacity: 0.3;
    cursor: no-drop;
  }
  &:before,&:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 1px;
    background: #fff;
    pointer-events: none;
    content: '';
  }
  &:before {
    width: 17px;
    height: 3px;
  };
  &:after {
    width: 3px;
    height: 17px;
  }
}

.picker-line-box {
  flex: 1;
  margin: 0 10px;
}

.picker-line-input {
  display: block;
  width: 100%;
  height: 38px;
  padding: 0 10px;
  border-radius: 19px;
  font-size: 0.4rem;
  font-family: "mu eb";
  font-weight: 800;
  color: rgba(51,55,58,1);
  background: rgba(240,240,240,1);
  text-align: center;
}

.picker-draws-total {
  margin: 0.2rem 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "mu eb";
  font-weight: 800;
  color: rgba(3,200,90,1);
  text-align: center;
}

.picker-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 0;
  padding: 0 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 20px;
  height: 34px;
  line-height: 34px;
  background: rgba(3,200,90,1);
  font-family: "mu eb";
  font-weight: 800;
  color: rgba(255,255,255,1);
  text-decoration: none;
  transition: all 0.3s ease;
  &.unabled {
    background: #e6e9ee;
    cursor: default;
  }
  &:hover {
    color: rgba(255,255,255,1);
    background: #009c44;
    transition: all 0.3s ease;
  }
}