<template>
	<div class="picker-container">
    <form class="picker-wrapper">
      <div v-for="pick in pickList" class="picker-header" v-show="pick.id===pickName" v-bind:class="pick.id" :key="pick.id">
        <img class="picker-header-avator" :src="pick.logo" alt="pick.name">
        <div class="picker-header-aside">
          <h3 class="picker-header-title">{{pick.name}}</h3>
          <p class="picker-header-name" v-text="pick.currency + pick.jackpots"></p>
          <p class="picker-header-time">{{pick.time}}</p>
          <span v-show="pick.is_boost" class="page-lotto-boost">boost</span>
        </div>
      </div>
      <div class="picker-body">
        <div class="picker-body-box">
          <div class="picker-operate-group">
            <h3 class="picker-body-title">Choose lottery</h3>
            <div class="picker-select-wrapper" @click="showPopup=true">{{pickName}}</div>
            <van-popup v-model="showPopup" position="bottom">
              <!-- <van-picker show-toolbar :columns="filterPickList" :default-index="2" @confirm="showPopup=false" @cancel="showPopup=false" @change="onChange"/> -->
              <van-picker show-toolbar :columns="filterPickList" :default-index="2" @confirm="updatePickName" @cancel="showPopup=false"/>
            </van-popup>
          </div>  
          <div class="picker-operate-group">
            <h3 class="picker-body-title picker-line-title">Choose Lines</h3>
            <van-stepper v-model.number="pickLine" integer theme="round" step="1" min="1" max="20" @overlimit="showStepperToast"/>
          </div>
          <div class="picker-operate-group">
            <h3 class="picker-body-title picker-line-title">Choose draws</h3>
            <van-radio-group v-for="pick in pickList" :key="pick.id" v-show="pick.id===pickName" v-model="pickedDraw">
              <van-radio v-for="draw in pick.draws" :name="draw" :key="draw">
                <span v-text="draw + ' draws ' + pick.currency + pick.draw_price"></span>
              </van-radio>
            </van-radio-group>
          </div>
        </div>
        <p class="picker-draws-total" v-text="pickTotalText"></p>
        <van-button type="primary" block @click="playToCheckout">PLAY NOW</van-button>
      </div>
    </form>
  </div>
</template>
<script>
	import './index.scss'
  import { getPickList } from '@/api/data'
  import { formatMoney, produceRndArr, localSave, localRead, localRemove } from '@/lib/tools'
	export default {
		name: 'quick',
    data() {
      return {
        currency: '€',
        isLock: false,
        pickName: 'christmas-lottery',
        pickMinLine: 1,
        pickMaxLine: 20,
        pickLine: 5,
        pickedDraw: 1,
        pickList: [],
        ticketList: [],
        showPopup: false,
        buttonSize: 'large'
      }
    },
    computed: {
      frontTotalNum() {
        for (let i = 0; i < this.pickList.length; i++) {
          if (this.pickName === this.pickList[i].id) {
            return this.pickList[i].front_number;
          }
        }
      },
      frontPickNum() {
        for (let i = 0; i < this.pickList.length; i++) {
          if (this.pickName === this.pickList[i].id) {
            return this.pickList[i].front_pick_number;
          }
        }
      },
      backTotalNum() {
        for (let i = 0; i < this.pickList.length; i++) {
          if (this.pickName === this.pickList[i].id) {
            return this.pickList[i].back_number;
          }
        }
      },
      backPickNum() {
        for (let i = 0; i < this.pickList.length; i++) {
          if (this.pickName === this.pickList[i].id) {
            return this.pickList[i].back_pick_number;
          }
        }
      },
      filterPickList() {
        let filterPickList = [];
        for (let i = 0; i < this.pickList.length; i++) {
          filterPickList.push(this.pickList[i].id);
        }
        return filterPickList;
      },
      pickDrawPrice() {
        for (let i = 0; i < this.pickList.length; i++) {
          if (this.pickName === this.pickList[i].id) {
            return this.pickList[i].draw_price;
          }
        }
      },
      pickTotalPrice() {
        return formatMoney(this.pickLine*this.pickedDraw*parseInt(this.pickDrawPrice),2);
      },
      pickTotalText() {
        return this.pickLine + ' Lines' + ' X ' + this.pickedDraw + ' Draws' + ' X ' + this.pickDrawPrice +' = €' + this.pickTotalPrice;
      },
    },
    mounted() {
      this.initPickList();
    },
    methods: {
      updatePickName(value, index) {
        this.pickName = value;
        this.showPopup = false;
      },
      async initPickList() {
        let response = await getPickList();
        let data = response && response.data;
        for (let i = 0; i < data.length; i++) {
          this.$set(this.pickList,i,data[i]);
        }
      },
      playToCheckout() {
        this.$router.push({name: 'checkout'});
        this.saveTicketList();
        this.saveTicketData();
      },
      getRandArr(totalNum, pickNum) {
        return (produceRndArr(totalNum, pickNum)).sort((a,b)=>{return a - b;})
      },
      saveTicketList() {
        for (let i = 0; i < this.pickLine; i++) {
          this.ticketList.push({
            'name':this.pickName,
            'numbers':{
              'frontList':this.getRandArr(this.frontTotalNum,this.frontPickNum),
              'backList':this.getRandArr(this.backTotalNum,this.backPickNum)
            },
            'price':formatMoney(this.pickDrawPrice),
            'draws':this.pickedDraw,
            'draws_total_price':formatMoney(this.pickDrawPrice*this.pickedDraw,2)
          })
        }
      },
      saveTicketData() {
        let ticketData = {
          'name':this.pickName,
          'currency':this.currency,
          'ticket_list':this.ticketList,
          'total_price':formatMoney(this.pickTotalPrice,2),
        }
        localSave('ticketData',JSON.stringify(ticketData));
      },
      showStepperToast() {
        if (this.pickLine==this.pickMinLine) {
          this.$toast.success({
            forbidClick: true,
            message: 'At least 1 lines is required'
          })
        }
        if (this.pickLine==this.pickMaxLine) {
          this.$toast.success({
            forbidClick: true,
            message: 'Only 20 lines can be selected at most'
          })
        }
      }
    }
	}
</script>