<template>
  <div class="inner-wrapper">
    <div class="play-banner-container">
      <div class="play-box-wrapper play-banner-wrapper">
        <h1 class="play-banner-title">Everything you need to know about play lottery online</h1>
      </div>
    </div>

    <div class="play-buy-wrapper">
      <div class="play-box-wrapper">
        <h3 class="play-box-title">Why Buy Lottery Tickets Online?</h3>
        <ul ref="list" class="play-buy-list">
          <li v-for="(item,index) in ticketList" :class="{'on':playList[index]=='1'}">
            <strong class="play-buy-stress">{{item.title}}</strong>
            <p :class="{'dissolve':playList[index]=='1'}" class="play-buy-text">{{item.text}}<a @click="expandResetText(index)" :class="{'dissolve':playList[index]=='1'}" class="play-buy-more">More</a></p>
          </li>
        </ul>
        <div class="play-buy-footer">
          <div class="play-buy-side">
            <h3 class="play-buy-title">Is it legal to buy lottery ticket online?</h3>
            <p class="play-buy-tip">Yes. Depending on the lottery and your local laws If from a different country. Is it allowed to play?</p>
            <a class="play-buy-link">Check the lottery law in your disctrict</a>
          </div>
          <img class="play-buy-avator" src="/images/play/index/play_buy_avator.png">
        </div>
      </div>
    </div>

    <div class="play-lottery-wrapper">
      <div class="play-box-wrapper">
        <h3 class="play-box-title">most popular lotteries that are open to non-residents</h3>
        <ul class="play-lottery-list">
          <li>
            <img class="play-lottery-logo" src="/images/play/lotto/usa-powerball.png">
            <p class="play-lottery-name">Powerball</p>
            <router-link class="play-lottery-link" :to="{name:'ticket',params:{id:'powerball'}}"></router-link>
          </li>
          <li>
            <img class="play-lottery-logo" src="/images/play/lotto/mega-millions.png">
            <p class="play-lottery-name">MegaMillion</p>
            <router-link class="play-lottery-link" :to="{name:'ticket',params:{id:'powerball'}}"></router-link>
          </li>
          <li>
            <img class="play-lottery-logo" src="/images/play/lotto/euromillions.png">
            <p class="play-lottery-name">Euromillions</p>
            <router-link class="play-lottery-link" :to="{name:'ticket',params:{id:'powerball'}}"></router-link>
          </li>
          <li>
            <img class="play-lottery-logo" src="/images/play/lotto/eurojackpot.png">
            <p class="play-lottery-name">EuroJackpot</p>
            <router-link class="play-lottery-link" :to="{name:'ticket',params:{id:'powerball'}}"></router-link>
          </li>
          <li>
            <img class="play-lottery-logo" src="/images/play/lotto/australia-powerball.png">
            <p class="play-lottery-name">Powerball Australia</p>
            <router-link class="play-lottery-link" :to="{name:'ticket',params:{id:'powerball'}}"></router-link>
          </li>
          <li>
            <img class="play-lottery-logo" src="/images/play/lotto/germany-lotto.png">
            <p class="play-lottery-name">Germany Lotto</p>
            <router-link class="play-lottery-link" :to="{name:'ticket',params:{id:'powerball'}}"></router-link>
          </li>
          <li>
            <img class="play-lottery-logo" src="/images/play/lotto/super-ena-lotto.png">
            <p class="play-lottery-name">SuperEnaLotto</p>
            <router-link class="play-lottery-link" :to="{name:'ticket',params:{id:'powerball'}}"></router-link>
          </li>
          <li>
            <img class="play-lottery-logo" src="/images/play/lotto/bonoloto.png">
            <p class="play-lottery-name">Bonoloto</p>
            <router-link class="play-lottery-link" :to="{name:'ticket',params:{id:'powerball'}}"></router-link>
          </li>
          <li>
            <img class="play-lottery-logo" src="/images/play/lotto/el-gordo.png">
            <p class="play-lottery-name">El Gordo</p>
            <router-link class="play-lottery-link" :to="{name:'ticket',params:{id:'powerball'}}"></router-link>
          </li>
          <li>
            <img class="play-lottery-logo" src="/images/play/lotto/la-primitiva.png">
            <p class="play-lottery-name">La Primitiva</p>
            <router-link class="play-lottery-link" :to="{name:'ticket',params:{id:'powerball'}}"></router-link>
          </li>
          <li>
            <img class="play-lottery-logo" src="/images/play/lotto/south-africa-daily-lotto.png">
            <p class="play-lottery-name">Daily Lotto</p>
            <router-link class="play-lottery-link" :to="{name:'ticket',params:{id:'powerball'}}"></router-link>
          </li>
          <li>
            <img class="play-lottery-logo" src="/images/play/lotto/australia-saturday-lotto.png">
            <p class="play-lottery-name">Australian Saturday Lotto</p>
            <router-link class="play-lottery-link" :to="{name:'ticket',params:{id:'powerball'}}"></router-link>
          </li>
          <li>
            <img class="play-lottery-logo" src="/images/play/lotto/finland-lotto.png">
            <p class="play-lottery-name">Finland Lotto</p>
            <router-link class="play-lottery-link" :to="{name:'ticket',params:{id:'powerball'}}"></router-link>
          </li>
          <li>
            <img class="play-lottery-logo" src="/images/play/lotto/bitcoin-jackpot.png">
            <p class="play-lottery-name">Bitcoin Jackpot</p>
            <router-link class="play-lottery-link" :to="{name:'ticket',params:{id:'powerball'}}"></router-link>
          </li>
        </ul>
        <a class="play-box-btn" href="">Check What's the Best Lottery to Play?</a>
      </div>
    </div>

    <div class="play-step-wrapper">
      <div class="play-box-wrapper">
        <h3 class="play-box-title">FAQs about How to Play Lottery Online</h3>
        <ul class="play-step-list">
          <li>
            <span class="play-step-icon auth"></span>
            <h4 class="play-step-title">step01</h4>
            <p class="play-step-text">Pick a lottery website,Check its safety</p>
          </li>
          <li>
            <span class="play-step-icon user"></span>
            <h4 class="play-step-title">step02</h4>
            <p class="play-step-text">Signup for an account</p>
          </li>
          <li>
            <span class="play-step-icon ticket"></span>
            <h4 class="play-step-title">step03</h4>
            <p class="play-step-text">Buy a ticket</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="play-site-wrapper">
      <div class="play-box-wrapper">
        <div class="play-site-box">
          <h3 class="play-box-title">How to pick a safe lottery site?</h3>
          <ul class="play-site-list">
            <li>
              <h4>SSL</h4>
              <p>SSL (Secure Sockets Layer) is a security feature</p>
            </li>
            <li>
              <h4>Licensed icon</h4>
              <p>A platfom without License is illegal..</p>
            </li>
            <li>
              <h4>Users Review</h4>
              <p>SSL (Secure Sockets Layer) is a security feature</p>
            </li>
            <li>
              <h4>Reliable Payment</h4>
              <p>Safely</p>
              <a href="">Pick your safety payment in your country</a>
            </li>
            <li>
              <h4>Transparency</h4>
              <p>Terms of Use</p>
            </li>
            <li>
              <h4>Support</h4>
              <p>Easily connect with support team</p>
            </li>
          </ul>
        </div>
        <div class="play-site-box">
          <h3 class="play-box-title">Wordwide Safety Payment</h3>
          <ul class="play-payment-list">
            <li>
              <img src="/images/play/pay/dinersclub.png">
            </li>
            <li>
              <img src="/images/play/pay/mastercard.png">
            </li>
            <li>
              <img src="/images/play/pay/visa.png">
            </li>
            <li>
              <img src="/images/play/pay/wirecard.png">
            </li>
            <li>
              <img src="/images/play/pay/interac.png">
            </li>
            <li>
              <img src="/images/play/pay/express-cashout.png">
            </li>
            <li>
              <img src="/images/play/pay/neteller.png">
            </li>
            <li>
              <img src="/images/play/pay/skrill.png">
            </li>
            <li>
              <img src="/images/play/pay/pagesafecard.png">
            </li>
            <li>
              <img src="/images/play/pay/trustly.png">
            </li>
            <li>
              <img src="/images/play/pay/zimpler.png">
            </li>
            <li>
              <img src="/images/play/pay/payment-indianNetBank.png">
            </li>
            <li>
              <img src="/images/play/pay/payment-paynet.png">
            </li>
            <li>
              <img src="/images/play/pay/payment-dusupay-airtel.png">
            </li>
            <li>
              <img src="/images/play/pay/payment-dusupay-ecocash.png">
            </li>
            <li>
              <img src="/images/play/pay/payment-dusupay-mpesa.png">
            </li>
            <li>
              <img src="/images/play/pay/payment-dusupay-mtn.png">
            </li>
            <li>
              <img src="/images/play/pay/payment-dusupay-orangeMoney.png">
            </li>
            <li>
              <img src="/images/play/pay/payment-dusupay-tigo.png">
            </li>
            <li>
              <img src="/images/play/pay/payment-dusupay-vodafone.png">
            </li>
            <li>
              <img src="/images/play/pay/payment-dusupay-verve.png">
            </li>
            <li>
              <img src="/images/play/pay/payment-dusupay-onlineBank.png">
            </li>
          </ul>
        </div>
        <a class="play-box-btn" href="">Play lottery online</a>
      </div>
    </div>

    <div class="play-faq-wrapper">
      <div class="play-box-wrapper">
        <h3 class="play-box-title">FAQs about How to Play Lottery Online</h3>
        <ul class="play-faq-list">
          <li v-bind:class="{'on':aboutIndex == 0}">
            <h4 class="play-faq-title">How do I register for lottery online?<a @click="toggleAboutBox(0)" class="play-faq-add"></a></h4>
            <p v-show="aboutIndex==0" class="play-faq-text js-play-faq-text">To register click on the "Register Now" button on the top menu. Complete the registration form and click on the "Register Now" button. You will receive an activation email with a link which you need to click on to activate your account.To register click on the "Register Now" button on the top menu. Complete the registration form and click on the "Register Now" button. You will receive an activation email with a link which you need to click on to activate your account.To register click on the "Register Now" button on the top menu. Complete the registration form and click on the "Register Now" button. You will receive an activation email with a link which you need to click on to activate your account</p>
          </li>
          <li v-bind:class="{'on':aboutIndex == 1}">
            <h4 class="play-faq-title">How do I register for lottery online?<a @click="toggleAboutBox(1)" class="play-faq-add"></a></h4>
            <p v-show="aboutIndex==1" class="play-faq-text js-play-faq-text">To register click on the "Register Now" button on the top menu. Complete the registration form and click on the "Register Now" button. You will receive an activation email with a link which you need to click on to activate your account.To register click on the "Register Now" button on the top menu. Complete the registration form and click on the "Register Now" button. You will receive an activation email with a link which you need to click on to activate your account</p>
          </li>
          <li v-bind:class="{'on':aboutIndex == 2}">
            <h4 class="play-faq-title">How do I register for lottery online?<a @click="toggleAboutBox(2)" class="play-faq-add"></a></h4>
            <p v-show="aboutIndex==2" class="play-faq-text js-play-faq-text">To register click on the "Register Now" button on the top menu. Complete the registration form and click on the "Register Now" button. You will receive an activation email with a link which you need to click on to activate your account.Complete the registration form and click on the "Register Now" button. To register click on the "Register Now" button on the top menu. Complete the registration form and click on the "Register Now" button. You will receive an activation email with a link which you need to click on to activate your account.Complete the registration form and click on the "Register Now" button. </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
  import './index.scss'
  export default {
    name: 'play',
    data() {
      return {
        aboutIndex: 0,
        maxHeight: 54,
        playList: [],
        ticketList: [
          {
            'title':'Participate in as many jackpots as you want',
            'text':'This is one of the major advantages of getting online lottery tickets. It doesn’t matter where you live, you can get lottery tickets of any jackpot. For instance, if your present state does not support a particular jackpot, you don’t need to drive to another state just to buy a lottery ticket. Just use an online platform like Multilotto and get as many tickets as you want. The best part is that you can participate in multiple jackpots and manage your tickets all under one roof.'
          },
          {
            'title':'Automatic prize payout for winners',
            'text':'Not only for buying lottery tickets, these online platforms can also help you with the payout of the prize. For instance, if we talk about Multilotto – the platform provides dedicated support for lottery winners. The prize money would automatically be obtained for you and you will be given different payout options. This means, there is no need to go through any unwanted hassle to get a payout of your prize money anymore.'
          },
          {
            'title':'You would never lose your winning lottery ticket',
            'text':'You might already know that we are supposed to verify the winning lottery ticket for payout. If you have bought your lottery ticket from any brick and mortar store, then the chances of losing it are there. After all, not all of us have a dedicated space to keep our lottery tickets safe. Well, if you are using an online platform, then you never have to worry about losing your ticket. It will be kept safe in your online account and would also be emailed to you, so that you can regenerate it whenever you want.'
          },
          {
            'title':'Never miss a lottery result (especially when you win)',
            'text':'If you have bought lottery tickets of different jackpots, then it can be tough to keep a track of their results. After all, not every jackpot result is announced on the same day or at the same place. Instead of visiting their websites regularly or being hooked to the radio, consider buying a ticket online. An authentic platform like Multilotto will automatically let you know if you have won anything. Besides that, you can just visit the platform and get to know the winning numbers of various lotteries pretty easily.'
          },
          {
            'title':'Keep a track of your spending',
            'text':'Consistency is one of the key characteristics of pro lottery players. Nevertheless, there are times when people are concerned about overspending on lottery tickets. To help you with this, most of the online lottery providers have come up with a dedicated section to track our spending. You can monitor your spending over any duration and can easily keep a check on your purchases th'
          },
          {
            'title':'Play anytime and from anywhere you want',
            'text':'One of the best things about online lottery platforms is that they don’t have any restricted business hours (unlike most of the brick and mortar stores). You can just go to their website or app on any device and buy your preferred lottery tickets whenever you want. It is really as simple as that!'
          },
          {
            'title':'Never miss out on a big jackpot',
            'text':'A lot times, the jackpot in big lotteries like Powerball or MegaMillions remain unclaimed, which adds the value of the next jackpot. This can lead to a huge accumulated jackpot value at times. For instance, both Powerball and MegaMillions have a record big jackpot of worth more than $1.5 billion. If you are using a responsive online platform regularly, then you would never have to worry about missing out on a big jackpot like this. You can easily try your luck by getting a ticket online and participating in these big draws whenever you want.'
          },
          {
            'title':'Never worry to lost the ticket',
            'text':'if you hit a big find out the ticket to claim the prize'
          }
        ]
      }
    },
    mounted() {
      this.setPlayList();
    },
    methods: {
      setPlayList() {
        let children = this.$refs.list.children;
        for (let i = 0; i < children.length; i++) {
          let height = children[i].querySelector('.play-buy-text').offsetHeight;
          if (this.maxHeight<=height) {
            this.$set(this.playList,i,'1');
          } else {
            this.$set(this.playList,i,'0');
          }
        }
      },
      expandResetText(index) {
        ((this.playList)[index] == '1') && this.$set(this.playList,index,'0');
      },
      toggleAboutBox(index) {
        (this.aboutIndex==index) ? this.aboutIndex=-1 : this.aboutIndex=index;
      }
    }
  }
</script>