@charset "utf-8";

.play-box-wrapper {
  width: 960px;
  margin: 0 auto;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.play-box-title {
  font-size: 24px;
  line-height: 30px;
  font-family: 'mu black';
  font-weight: 900;
  color: #000;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.play-box-btn {
  display: table;
  margin: 0 auto;
  background: #0299E9;
  padding: 0 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  font-size: 14px;
  font-family: 'mu eb';
  font-weight: 800;
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #fff;
    text-decoration: underline;
  };
  @media (max-width: 768px) {
    display: flex;
    padding: 0 20px;
    line-height: 1;
    align-items: center;
    justify-content: center;
  }
}

.play-banner-container {
  margin: 0 -0.15rem;
  height: 250px;
  @include imageUrl('play/index/play_banner.png');
  @media (max-width: 768px) {
    height: 200px;
  }
}

.play-banner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 0.15rem;
}

.play-banner-title {
  font-size: 40px;
  line-height: 48px;
  font-family: 'mon sb';
  font-weight: 600;
  color: #fff;
  @media (max-width: 768px) {
    font-size: 36px;
    line-height: 40px;
  }
}

.play-buy-wrapper {
  padding: 30px 0;
  background: #fff;
}

.play-buy-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
  counter-reset: num;
  >li {
    position: relative;
    padding-top: 27px;
    counter-increment: num;
    &:nth-child(n+5) {
      margin-top: 20px;
    }
    &:not(:last-child) {
      margin-right: calc(4% / 3);
    };
    width: calc(94% / 4);
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 22px;
      font-family: 'mon b';
      font-weight: bold;
      color: #0299E9;
      line-height: 27px;
      content: '0'counter(num);
    };
  }
  @media (max-width: 767px) {
    margin-top: 20px;
    >li {
      &:nth-child(n+5) {
        margin-top: 10px;
      }
      &:not(:last-child) {
        margin-right: 0;
      };
      width: 100%;
      + li {
        margin-top: 10px;
      }
    }
  }
}

.play-buy-stress {
  margin-top: 2px;
  font-size: 16px;
  font-family: 'mu sb';
  font-weight: 600;
  color: #000;
  line-height: 20px;
}

.play-buy-text {
  position: relative;
  margin-top: 10px;
  font-size: 14px;
  font-family: 'mu r';
  font-weight: 400;
  color: rgba(0,0,0,0.6);
  line-height: 18px;
  &.dissolve {
    max-height: 54px;
    overflow: hidden;
  }
  @media (max-width: 767px) {
    margin-top: 0;
  }
}

.play-buy-more {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 15px;
  font-size: 14px;
  font-family: 'mu r';
  font-weight: 400;
  color: #0299E9;
  line-height: 18px;
  background: #fff;
  &.dissolve {
    display: block;
  }
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '...';
    color: rgba(0,0,0,.6);
  };
}

.play-buy-footer {
  position: relative;
  margin-top: 90px;
  @media (max-width: 767px) {
    margin-top: 30px;
  }
}

.play-buy-side {
  width: 80%;
  min-height: 260px;
  padding: 40px 310px 40px 40px;
  background: rgba(138, 187, 208, 0.1);
  @media (max-width: 768px) {
    width: 100%;
    min-height: auto;
    padding: 20px;
  }
}

.play-buy-title {
  width: 371px;
  height: 60px;
  font-size: 24px;
  line-height: 30px;
  font-family: 'mu black';
  font-weight: 900;
  color: #000;
  @media (max-width: 767px) {
    width: 100%;
    height: auto;
  }
}

.play-buy-tip {
  margin-top: 18px;
  margin-bottom: 30px;
  font-size: 16px;
  font-family: 'mu sb';
  font-weight: 600;
  color: rgba(0,0,0,0.6);
  line-height: 20px;
  @media (max-width: 767px) {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.play-buy-link {
  font-size: 14px;
  font-family: 'mu sb';
  font-weight: 600;
  color: #0089FF;
  line-height: 18px;
  &:hover {
    color: #0089FF;
  };
}

.play-buy-avator {
  position: absolute;
  right: 0;
  top: -40px;
  width: 465px;
  height: 260px;
  @media (max-width: 768px) {
    position: initial;
    right: initial;
    top: initial;
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}

.play-lottery-wrapper {
  padding: 45px 0;
  @include imageUrl('/play/index/play_site_bg.png');
  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.play-lottery-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #EAEAEA;
  >li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    width: calc(100% / 7);
    height: 150px;
    border-right: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    &:nth-child(n+8) {
      border-bottom: none;
    };
    &:nth-child(7n) {
      border-right: none;
    };
  }
  @media (max-width: 767px) {
    margin-top: 20px;
    margin-bottom: 20px;
    >li {
      width: 25%;
      height: 120px;
      &:nth-child(n+5) {
        border-top: none;
      };
      &:nth-child(7n) {
        border-right: 1px solid #EAEAEA;;
      };
      &:nth-child(4n) {
        border-right: none;
      };
      &:nth-child(n+8) {
        border-bottom: 1px solid #EAEAEA;
      };
      &:last-child {
        border-bottom: none;
      };
      &:nth-last-child(2) {
        border-bottom: none;
      };
    }
  }
}

.play-lottery-logo {
  width: 80px;
  height: 75px;
  max-width: 100%;
  @media (max-width: 767px) {
    height: auto;
  }
}

.play-lottery-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.play-site-wrapper {
  padding-top: 60px;
  padding-bottom: 44px;
  @include imageUrl('/play/index/play_site_bg.png');
  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.play-site-box {
  + .play-site-box {
    margin-top: 40px;
  }
  @media (max-width: 767px) {
    + .play-site-box {
      margin-top: 30px;
    }
  }
}

.play-site-list {
  display: flex;
  margin-top: 48px;
  >li {
    &:not(:last-child) {
      margin-right: calc(6% / 5);
    };
    width: calc(94% / 6);
    h4 {
      position: relative;
      padding-left: 24px;
      font-size: 16px;
      line-height: 24px;
      font-family: 'mu eb';
      font-weight: 800;
      color: #000;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        content: '';
        width: 20px;
        height: 20px;
        @include imageUrl('/play/index/play_site_round.png');
      };
    }
    p {
      font-size: 14px;
      line-height: 18px;
      font-family: 'mu r';
      font-weight: 400;
      color: rgba(0,0,0,0.6);
    }
  }
  @media (max-width: 767px) {
    margin-top: 20px;
    flex-wrap: wrap;
    >li {
      &:not(:last-child) {
        margin-right: 0;
      };
      width: 100%;
      + li {
        margin-top: 10px;
      }
      p,a {
        padding-left: 24px;
      }
    }
  }
}

.play-payment-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 32px;
  >li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    height: 40px;
    background: #fff;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 20px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  @media (max-width: 767px) {
    margin-top: 10px;
    margin-bottom: 20px;
    >li {
      padding: 10px 5px;
      height: 40px;
      margin-right: 5px;
      margin-top: 10px;
    }
  }
}

.play-lottery-name {
  margin-top: 15px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-family: 'mu r';
  font-weight: 400;
  color: #000;
  @media (max-width: 767px) {
    margin-top: 0;
    font-size: 12px;
    line-height: 16px;
  }
}

.play-step-wrapper {
  padding-top: 40px;
  padding-bottom: 50px;
  background: #fff;
  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.play-step-list {
  margin-top: 36px;
  display: flex;
  >li {
    padding: 20px 40px;
    width: 32%;
    background: #fff;
    box-shadow: -10px 0px 50px 0px rgba(0, 0, 0, 0.1);
    &:not(:last-child) {
      margin-right: calc(4% / 2);
    };
  }
  @media (max-width: 768px) {
    margin-top: 20px;
    flex-wrap: wrap;
    >li {
      padding: 20px;
      width: 100%;
      + li {
        margin-top: 10px;
      }
      &:not(:last-child) {
        margin-right: 0;
      };
    }
  }
}

$playStepMap: (
  'auth': auth,
  'user': user,
  'ticket': ticket,
);

@each $key, $values in $playStepMap {
  .play-step-icon {
    &.#{$key} { 
      @include imageUrl('/play/index/play_step_#{$key}.png');
    }
  }
}

.play-step-icon {
  display: flex;
  height: 46px;
  &.auth {
    width: 44px;
  }
  &.user {
    width: 48px;
  }
  &.ticket {
    width: 52px;
  }
}

.play-step-title {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 30px;
  font-family: 'mon b';
  font-weight: bold;
  color: #0299E9;
  text-transform: uppercase;
}

.play-step-text {
  font-size: 16px;
  line-height: 20px;
  font-family: 'mu sb';
  font-weight: 600;
  color: #000000;
}

.play-faq-wrapper {
  padding-top: 10px;
  padding-bottom: 40px;
  background: #fff;
  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.play-faq-list {
  margin-top: 24px;
  >li {
    padding: 20px 0;
    border-bottom: solid 1px rgba(0,0,0,0.2);
    &.on {
      .play-faq-add {
        &:after {
          height: 0;
        };
      }
    }
  }
  @media (max-width: 767px) {
    margin-top: 20px;
    >li {
      padding: 10px 0;
    }
  }
}

.play-faq-title {
  position: relative;
  padding-left: 25px;
  padding-right: 40px;
  font-size: 18px;
  line-height: 24px;
  font-family: 'mu eb';
  font-weight: 800;
  color: #000;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #0299E9;
    border-radius: 50%;
    content: '?';
    color: #fff;
  };
  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.play-faq-add {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  &:before,&:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #D8D8D8;
    content: '';
    transition: all 0.3s ease;
  };
  &:hover {
    &:before,&:after {
      display: block !important;
    };
  };
  &:before {
    width: 11px;
    height: 1px;
  };
  &:after {
    width: 1px;
    height: 11px;
  };
}

.play-faq-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
  font-family: 'mu sb';
  font-weight: 600;
  color: rgba(0,0,0,0.6);
  @media (max-width: 767px) {
    margin-top: 7px;
    font-size: 14px;
    line-height: 18px;
  }
}