<template>
  <div id="app" v-bind:class="{'hasAppLoading':appLoading,'app-casino':isCasinoRoute}">
    <router-view></router-view>
    <app-modal :show="ageLimitTag" :showTitle="false" @close="closeAgeLimitModal">
      <p slot="tip" class="modal-text">This website requires you to be 18 years or older to enter.  Please confirm you are 18 years old or older.</p>
      <a slot="btn" class="modal-btn" @click="closeAgeLimitModal">I confirm</a>
    </app-modal>
    <load :appLoading="appLoading"></load>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import load from '@/components/load/load.vue'
import { fixedAppView, localRead, localSave } from '@/lib/tools'
export default {
  name: 'app',
  components: { load },
  data() {
	  return {
      ageLimitTag: true,
      isCasinoRoute: false
	  }
	},
  computed: {
    ...mapState({
      appLoading: state => state.appLoading
    })
  },
  watch: {
    $route: {
      immediate: true,
      handler() {
        fixedAppView(false);
        this.setCasinoRouteTag();
      }
    }
  },
	mounted() {
    this.initAgeLimitModal();
  },
  methods: {
    setCasinoRouteTag() {
      if (['casino_page','casino_play','casino_introduce'].includes(this.$route.name)) {
        this.isCasinoRoute = true;
      } else {
        this.isCasinoRoute = false;
      }
    },
    closeAgeLimitModal() {
      this.ageLimitTag = false;

      localSave('over18',false);
      
      fixedAppView(this.ageLimitTag);
    },
    initAgeLimitModal() {
      this.initAgeLimitTag();
      
      fixedAppView(this.ageLimitTag);
    },
    initAgeLimitTag() {
      if ('true'===localRead('over18')) {
        this.ageLimitTag = true;
      } else {
        this.ageLimitTag = false;
      }
    }
  }
}
</script>