<template>
  <div class="forgot-wrapper">
    <div class="page-box">
      <div class="forgot-box">
        <h1 class="forgot-title">Password reset form</h1>
        <p class="forgot-text">Please enter the e-mail address you used to register and we will send you a link to reset your password.</p>
        <input class="forgot-email-input" placeholder="Please enter the e-mail address" type="email"/>
        <Button type="primary" :size="buttonSize">reset password</Button>
        <router-link class="forgot-link" to="/login">login</router-link>
      </div>
    </div>
  </div>
</template>
<script>
  import './index.scss'
	export default {
    name:'forgot',
    data() {
      return {
        buttonSize: 'large'
      }
    }
	}
</script>