@charset "utf-8";

.forgot-wrapper {
  padding: 30px 0;
  background: #f0f0f0;
  .ivu-btn-large {
    display: block;
    margin: 0 auto 5px;
    width: 400px;
  } 
}

.forgot-box {
  padding: 60px 30px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.forgot-title {
  font-size: 32px;
  line-height: 36px;
  color: #000;
}

.forgot-email-input {
  display: table;
  margin: 30px auto 15px;
  line-height: 1.5;
  padding: 4px 7px;
  width: 400px;
  border: 1px solid #dcdee2;
  border-radius: 4px;
  color: #515a6e;
  background-color: #fff;
  background-image: none;
  position: relative;
  font-family: "mu sb";
  font-size: 16px;
  height: 40px;
  cursor: text;
  transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
  &:hover,&:focus {
    border: 2px solid #57a3f3;
    box-shadow: 0 0 0 2px rgba(45, 140, 240, 0.2);
  };
}

.forgot-btn {

}

.forgot-link {
  display: inline-block;
}