<template>
  <div class="casino-index-container">
    <div class="casino-index-wrapper">
      <div class="casino-index-box">

        <!--casino-search-box-->
        <div class="casino-search-box" @click="openSearchModal">
          <a class="btn"></a>
          <span class="casino-search-tap">search</span>
        </div>
        <div class="casino-search-modal" v-bind:class="{'active':searchModalTag}">
          <div class="casino-modal-header">
            <a class="search-btn"></a>
            <div class="search-box">
              <input v-model="searchName" class="search-input" type="text" placeholder="search">
            </div>
            <a class="close-btn" @click="closeSearchModal"><i class="close-arrow-tip"></i></a>
          </div>
          <div class="casino-modal-box">
            <div v-if="filterSearchList.length===0" class="casino-modal-empty">no "{{searchName}}" game data</div>
            <ul class="casino-modal-ul">
              <li v-for="(item,index) in filterSearchList">
                <img v-lazy="item.logo" :alt="item.name">
                <p><span class="casino-modal-label">{{item.name}}</span></p>
                <router-link class="casino-modal-link" :to="{name:'casino_play',params:{id:item.play_url}}"></router-link>
              </li>
            </ul>
          </div>
        </div>
        <!--/casino-search-box-->

        <!--casino-index-slider-->
        <swiper id="casinoSwiper" ref="casinoSwiper" class="casino-swiper-container" :options="casinoSwiperOption">
          <swiper-slide v-for="(slide,index) in casinoList" :key="slide.id">
            <div class="casino-index-slider">
              <img :src="slide.background">
              <div class="casino-slider-box">
                <h3>{{slide.name}}</h3>
                <p>{{slide.describe}}</p>
                <div v-if="hasGetInfo" class="casino-slider-footer">
                  <router-link class="casino-slider-btn" :to="{name:'casino_play',params:{id:slide.demo_url}}">play now</router-link>
                </div>
                <div v-else class="casino-slider-footer">
                  <router-link class="casino-slider-btn" to="/register">Sign up</router-link>
                  <router-link class="casino-slider-btn grey" to="/login">Log in</router-link>
                </div>
              </div>
            </div>
          </swiper-slide>
          <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
        <!--/casino-index-slider-->

        <!--casino-mobile-menu-->
        <div class="casino-mobile-menu" v-bind:class="{'active':isFixedMenu}">
          <div class="casino-menu-wrapper">
            <ul class="casino-menu-list">
              <li @click="toggleGategory(item.type)" v-for="(item,index) in gategoryList" v-bind:class="{'on':gategoryType===item.type}">
                <i class="casino-menu-icons" v-bind:class="item.type"></i>{{item.name}}
              </li>
            </ul>
          </div>
          <div class="casino-filter-wrapper">
            <ul class="casino-filter-list">
              <li @click="toggleProvider(item.name)" v-for="(item,index) in providerList" v-bind:class="{'on':providerName===item.name}">{{item.name}}</li>
            </ul>
          </div>
        </div>
        <!--casino-mobile-menu-->

        <!-- AllGameList -->
        <div v-show="isAllGategory">
          <gameModule :gameInfo="newInfo" :gameList="newList"></gameModule>
          <gameModule :gameInfo="slotsInfo" :gameList="slotsList"></gameModule>
          <gameModule :gameInfo="jackpotInfo" :gameList="jackpotList"></gameModule>
          <gameModule :gameInfo="playInfo" :gameList="playList"></gameModule>
        </div>
        <!-- AllGameList -->

        <!-- providerGameList -->
        <div v-show="!isAllGategory">
          <div class="casino-index-module">
            <div class="casino-module-top">
              <h3><i class="casino-module-square"></i>{{gategoryName}}</h3>
            </div>
            <ul class="casino-module-list">
              <li v-for="(item,index) in gameList" :key="item.name">
                <img :alt="item.name" v-lazy="item.logo">
                <p>{{item.name}}</p>
                <router-link class="casino-module-mask" :to="{name:'casino_play',params:{id:item.play_url}}">
                  <p>{{item.provider}}</p>
                  <h3>{{item.name}}</h3>
                  <span v-if="hasGetInfo==1" class="casino-module-btn">play now</span>
                  <span v-else class="casino-module-btn">Try it out</span>
                </router-link>
                <router-link class="casino-module-help" :to="{name:'casino_introduce',params:{id:item.play_url}}"></router-link>
              </li>
            </ul>
          </div>
        </div>
        <!-- providerGameList -->
      </div>
    </div>
  </div>
</template>
<script>
  import './index.scss'
  import { mapState } from 'vuex'
  import gameModule from './components/game/index'
  import { fixedAppView, on, off } from '@/lib/tools'
  import { getCasinoInfo, getSlideCasinoList, getSearchCasinoList } from '@/api/data'
  export default {
    name: 'casino',
    components: { gameModule },
    data() {
      return {
        casinoSwiperOption: {
          autoplay: 3000,
          speed: 1000,
          freeMode: true,
          paginationClickable: true,
          pagination: '.swiper-pagination'
        },
        casinoList: [],
        gategoryType: 'all',
        gategoryList: [],
        providerName: 'All',
        providerList: [],
        gameList: [],
        newInfo: {},
        newList: [],
        slotsInfo: {},
        slotsList: [],
        jackpotInfo: {},
        jackpotList: [],
        playInfo: {},
        playList: [],
        isFixedMenu: false,
        searchName: '',
        searchList: [],
        searchModalTag: false
      }
    },
    computed: {
      ...mapState({
        hasGetInfo: state => Number(state.hasGetInfo)
      }),
      isAllGategory() {
        if (this.gategoryType != 'undefined') {
          if (this.gategoryType==='all') {
            return true;
          } else {
            return false;
          }
        }
      },
      gategoryListNum() {
        return this.gategoryList.length;
      },
      gategoryName() {
        let gategoryList = this.gategoryList;
        if (this.gategoryListNum<0) return;
        for (let i = 0; i < this.gategoryListNum; i++) {
          if (this.gategoryType === gategoryList[i].type) {
            return gategoryList[i].name;
          }
        }
      },
      filterSearchList() {
        let searchName = this.searchName.trim().toLowerCase();
        if (!this.searchName) {
          return this.searchList;
        } else {
          return this.searchList.filter((item)=>{
            if (item.name.trim().toLowerCase().indexOf(searchName) !== -1) {
              return item;
            }
          })
        }
      }
    },
    mounted() {
      this.setSearchList();

      this.getCarouselList();

      this.setGategoryList();

      this.setProviderList();

      this.setGameList();

      this.fixedCasinoMenu();

      on(window, 'scroll', this.fixedCasinoMenu);
    },
    methods: {
      openSearchModal() {
        fixedAppView(true);
        this.searchModalTag = true;
      },
      closeSearchModal() {
        fixedAppView(false);
        this.searchModalTag = false;
      },
      async setSearchList() {
        let response = await getSearchCasinoList();
        let searchList = response && response.data;
        for (let i = 0; i < searchList.length; i++) {
          this.$set(this.searchList,i,searchList[i]);
        }
      },
      async getCarouselList() {
        let response = await getSlideCasinoList();
        let casinoList = response && response.data;
        for (let i = 0; i < casinoList.length; i++) {
          this.$set(this.casinoList,i,casinoList[i]);
        }
      },
      toggleGategory(type) {
        this.gategoryType = type;
        this.providerName = 'All',
        this.setProviderList(type);
        this.setGameList(type,'All');
      },
      async setGategoryList() {
        let response = await getCasinoInfo();
        let gategory = response.data.gategory;
        for (let i = 0; i < gategory.length; i++) {
          this.$set(this.gategoryList,i,gategory[i]);
        }
      },
      toggleProvider(name) {
        this.providerName = name;
        this.setGameList(this.gategoryType, name);
      },
      async setProviderList(type=this.gategoryType) {
        let response = await getCasinoInfo();
        let provider = response.data.provider;
        for (let i = 0; i < provider.length; i++) {
          if (provider[i].type !== type) continue;
          let list = provider[i].list;
          this.providerList.length = 0;
          for (let index = 0; index < list.length; index++) {
            this.$set(this.providerList,index,list[index]);
          }
        }
      },
      async setGameList(type=this.gategoryType, name=this.providerName) {
        let response = await getCasinoInfo();
        let game = response && response.data.game;
        game.forEach((item,index)=>{

          //type 'all'
          if (item.type === 'all') {
            this.setGategoryGameList(item);
            return false;
          }
          
          //type 'other'
          if (item.type != type) return;
          let gameList = item.list;
          gameList.forEach((game,index)=>{
            if (game.name != name) return;
            let data = game.list;
            this.gameList.length = 0;
            for (let i = 0; i < data.length; i++) {
              this.$set(this.gameList,i,data[i]);
            }
          })
        })
      },
      mathGategoryGameList(item) {
        let actions = new Map([
          ['new',[this.newInfo, this.newList]],
          ['slots',[this.slotsInfo, this.slotsList]],
          ['jackpot',[this.jackpotInfo, this.jackpotList]],
          ['games',[this.playInfo, this.playList]]
        ]);

        let rulesList = item.list;
        let action = actions.get(item.type);
        for (let key in item) {
          this.$set(action[0], key, item[key]);
        }
        for (let i = 0; i < rulesList.length; i++) {
          this.$set(action[1], i, rulesList[i]);
        }
      },
      setGategoryGameList(item) {
        let data = item.list;
        for (let index = 0; index < data.length; index++) {
          this.mathGategoryGameList(data[index]);
        }
      },
      fixedCasinoMenu() {
        let offsetHeight = this.$refs.casinoSwiper.$el.offsetHeight;
        let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        if (scrollTop>0 && scrollTop>=offsetHeight) {
          this.isFixedMenu = true;
        } else {
          this.isFixedMenu = false;
        }
      }
    },
    destroyed() {
      off(window, 'scroll', this.fixedCasinoMenu);
    }
  }
</script>