@charset "utf-8";

/**
*
* casino-search-box
*
*/
.casino-search-box {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0.1rem;
	left: 0.15rem;
	right: 0.15rem;
	padding: 0 0.3rem;
	height: 0.8rem;
	border-radius: 5px;
	z-index: 2;
	background: rgba(255,255,255,0.2);
	> .casino-search-tap {
		font-size: 0.3rem;
		color: rgba(255, 255, 255, 0.5);
	}
	> .btn {
		margin-right: 0.2rem;
		width: 0.4rem;
		height: 0.4rem;
		@include bgImg('casino/index-search-btn.png');
	}
}

.casino-search-modal {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	z-index: 3;
	padding: 0.2rem;
	pointer-events: none;
	transition: all 0.3s ease; 
	background: rgba(0, 0, 0, 0.9);
	&.active {
		opacity: 1;
		pointer-events: auto;
	}
}

.casino-modal-header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	> .search-box {
		margin-right: 0.1rem;
		flex: auto;
	}
	.search-input {
		width: 100%;
		height: 1rem;
		padding: 0 0.1rem 0 0.7rem;
		border-radius: 0.5rem;
		font-size: 0.32rem;
		font-family: 'mu sb';
		font-weight: 600;
		color: #fff;
		background: transparent;
		border: 1px solid rgba(255,255,255,0.8);
	}
	> .search-btn {
		position: absolute;
		left: 0.2rem;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 0.4rem;
		height: 0.4rem;
		@include bgImg("casino/index-search-btn.png");
	}
	> .close-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1rem;
		height: 1rem;
		border-radius: 50%;
		background: rgba(255,255,255,0.3);
	}
	.close-arrow-tip {
		position: relative;
		width: 18px;
		height: 18px;
		transform: rotate(45deg);
		&:before,&:after {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			content: '';
			background: #fff;
			border-radius: 2px;
		}
		&:before {
			width: 100%;
			height: 2px;
		}
		&:after {
			width: 2px;
			height: 100%;
		}
	}
}

.casino-modal-box {
	margin-top: 0.2rem;
	overflow: auto;
	flex: 1;
	background: #212121;
}

.casino-modal-box::-webkit-scrollbar {
	width: 0;
}

.casino-modal-empty {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.32rem;
	min-height: 2rem;
	font-family: 'mu sb';
	font-weight: 600;
	color: #fff;
}

.casino-modal-ul {
	padding: 0 0.2rem;
	> li {
		position: relative;
		display: flex;
		align-items: center;
		padding: 0.2rem 0;
		&:not(:last-child) {
		  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		};
		> img {
			margin-right: 0.3rem;
			width: 2rem;
		}
		> p {
	    word-break: break-word;	
			font-size: 0.32rem;
			font-family: 'mu sb';
			font-weight: 600;
			color: #fff;
		}
	}
}

.casino-modal-link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/**
*
* casino-index-slider
*
*/
.casino-index-box {
	position: relative;
	flex: 1;
}

.casino-swiper-container {
	margin: 0 -0.15rem;
	overflow: hidden;
	> .swiper-pagination-bullets {
		text-align: right;
		.swiper-pagination-bullet {
		  margin: 0 0.1rem;
		  border-width: 2px;
		  transition: all 0.3s ease;
		  border-color: transparent;
		  &:after {
				width: 6px;
				height: 6px;
				opacity: 0.5;
				transition: all 0.3s ease;
				background: linear-gradient(180deg, #3B96FF 0%, #0166DA 100%);
			}
		}
		.swiper-pagination-bullet-active {
			border-color: rgba(59, 150, 255, 1);
			&:after {
				background: transparent;
			}
		}
	}
}

.casino-index-slider {
	position: relative;
	height: 3.8rem;
	> img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.casino-slider-box {
	display: flex;
	flex-direction: column;
	@extend %absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.2rem 0.3rem;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
	> h3 {
		margin-top: auto;
		margin-bottom: 0.1rem;
		line-height: 0.48rem;
		font-size: 0.42rem;
		font-family: 'mu b';
		font-weight: bold;
		color: #fff;
	}
	> p {
		margin-bottom: 0.24rem;
		line-height: 1;
		font-family: 'mu r';
		font-weight: 400;
		color: #fff;
	}
}

.casino-slider-footer {
	display: flex;
}

.casino-slider-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 0.1rem;
	min-width: 2rem;
	width: max-content;
	height: 0.8rem;
	color: #fff;
	font-weight: bold;
	font-family: 'mu b';
	border-radius: 4px;
	font-size: 0.28rem;
	text-decoration: none;
	transition: all 0.3s ease;
	background: rgba(1, 102, 218, 0.5);
	+ .casino-slider-btn {
		margin-left: 0.2rem;
	}
	&.grey {
		background: rgba(255, 255, 255, 0.3);
	}
}

/**
*
* casino-menu-wrapper
*
*/
.casino-menu-wrapper {
	width: 100vw;
	height: 1rem;
	overflow-x: auto;
	-webkit-overflow-scrolling: auto;
	border-bottom: solid 1px rgba(255,255,255,0.2);
	.casino-menu-list > li {
		.casino-menu-icons {
		  margin-right: 0.1rem;
	  }
	}
}

.casino-menu-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent; 
}

.casino-menu-list {
	position: relative;
	display: flex;
	height: 100%;
	> li {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 0.2rem;
		line-height: 1;
		text-align: left;
		font-family: 'mu sb';
		font-weight: 600;
		cursor: pointer;
		color: rgba(255,255,255,0.7);
		&.on {
			color: rgba(255,255,255,1);
			&:after {
				transform: scale(1,1);
			}
			.casino-menu-checkbox {
				border-color: #0166DA;
				&:after {
					transform: scale(1);
				}
			}
		}
		&:after {
			position: absolute;
			left: -5px;
			right: -5px;
			bottom: 0;
			height: 3px;
			content: '';
			background: #0166DA;
			transform: scale(0,1);
			transition: all 0.3s ease;
		}
	}
}

.casino-mobile-menu {
	margin-bottom: 0.2rem;
	&.active {
		position: fixed;
		top: 0.8rem;
		left: 0;
		right: 0;
		z-index: 2;
		padding: 0 0.15rem;
		background: #1B1A1F;
		.casino-filter-wrapper {
			padding-bottom: 0.2rem;
		}
	}
}

.casino-filter-wrapper {
	width: 100vw;
	margin-top: 0.2rem;
}

.casino-filter-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.casino-filter-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0 0.15rem;
	> li {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0.2rem;
		padding: 0 0.4rem;
		height: 0.6rem;
		font-family: 'mu sb';
		font-weight: 600;
		border-radius: 0.3rem;
		color: rgba(255,255,255,0.6);
		background: rgba(255,255,255,0.1);
		+ li {
			margin-left: 0.2rem;
		}
		&.on {
			color: rgba(255,255,255,1);
		  background: rgba(1, 102, 218, 1);
		}
	}
}

/**
*
* @description add for casino menu list Logo configuration
* @author yuany
*
*/
$casinoMenuListMap:(
  (name: all, width: 18px, height: 14px, maxwidth: 56px, maxheight: 56px),
  (name: new, width: 18px, height: 18px, maxwidth: 56px, maxheight: 56px),
  (name: slots, width: 15px, height: 14px, maxwidth: 56px, maxheight: 56px),
  (name: jackpot, width: 15px, height: 18px, maxwidth: 56px, maxheight: 56px),
  (name: games, width: 18px, height: 12px, maxwidth: 56px, maxheight: 56px),
  (name: instant, width: 14px, height: 18px, maxwidth: 56px, maxheight: 56px),
  (name: live, width: 18px, height: 14px, maxwidth: 56px, maxheight: 56px)
);

@for $i from 1 through length($casinoMenuListMap) {
  $item: nth($casinoMenuListMap, $i);
  .on {
  	.casino-menu-icons {
	  	&.#{map-get($item,name)} {
		  	&:after {
		  		transform: scale(1);
		  	}
		  }
	  }
  }
  .casino-menu-icons {
  	&.#{map-get($item,name)} {
	  	display: flex;
	  	align-items: center;
	  	justify-content: center;
	  	position: relative;
	  	width: 18px;
	  	height: 18px;
	  	margin-right: rem(12);
	  	&:before {
	  		content: '';
	  		width: #{map-get($item,width)};
			  height: #{map-get($item,height)};
			  @include bgImg("casino/index-menu-#{map-get($item,name)}.png");
	  	}
	  	&:after {
	  		position: absolute;
	  		top: 50%;
	  		left: 50%;
	  		margin: -28px;
	  		content: '';
	  		transform: scale(0);
	  		transition: all 0.3s ease;
	  		width: #{map-get($item,maxwidth)};
			  height: #{map-get($item,maxheight)};
			  @include bgImg("casino/index-menu-active-#{map-get($item,name)}.png");
	  	}
	  }
  }
}

.on {
	.casino-menu-icons {
		@media (max-width: 1440px) {
			&:after {
				width: 48px;
				height: 48px;
				margin: -24px;
			}
		}
	}
}

/**
*
* casino-index-module
*
*/
.casino-index-module {
	padding: 0 2%;
	+ .casino-index-module {
		margin-top: 0.3rem;
	}
}

.casino-module-top {
	display: flex;
  align-items: center;
  justify-content: space-between;
	margin-bottom: 0.2rem;
	> h3 {
		display: inline-flex;
	  align-items: center;
		font-size: 0.28rem;
		font-family: 'mu b';
		font-weight: bold;
		color: #fff;
	}
}

.casino-module-square {
	position: relative;
	display: inline-block;
	margin-right: 0.3rem;
	width: 0.32rem;
	height: 0.32rem;
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		content: '';
		width: 0.48rem;
		height: 0.48rem;
		@include bgImg("casino/casino_module_square.png");
	};
}

.casino-module-link {
	display: inline-flex;
	align-items: center;
	font-family: 'mu sb';
	text-decoration: none;
	text-transform: uppercase;
	min-width: 1.6rem;
	padding: 0 0.2rem;
	height: 0.6rem;
	border-radius: 3px;
	font-weight: 600;
	border: 1px solid #0166DA;
	color: rgba(255,255,255,0.8);
	background: rgba(1, 102, 218, 0.1);
}

.active {
	.casino-module-arrow {
		transform: rotate(270deg);
	}
}

.casino-module-list {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	> li {
		display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
		position: relative;
		margin-left: 3%;
		width: 45%;
		float: left;
		&:nth-child(n+6) {
			margin-top: 0.15rem;
		}
		&:nth-child(n+3) {
			margin-top: 0.15rem;
		}
		&:hover {
			.casino-module-mask {
				opacity: 0;
	      pointer-events: auto;
			}
		}
		> img {
			max-width: 100%;
			border-radius: 4px;
		}
		> p {
			margin-top: 0.1rem;
			font-family: 'mu r';
			font-weight: 400;
			color: rgba(255,255,255,0.5);
		}
	}
}

.casino-module-mask {
	display: flex;
  flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	border-radius: 4px;
	text-decoration: none;
	transition: all 0.3s ease;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}

.casino-module-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0.1rem;
	width: 100%;
	height: 0.32rem;
	background: #0166DA;
	border-radius: 4px;
	font-size: 0.28rem;
	font-family: 'mu b';
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	transition: all 0.3s ease;
	&:hover {
		color: #80bbea;
	}
}

.casino-module-help {
	position: absolute;
	top: 0.1rem;
	right: 0.1rem;
	width: 0.3rem;
	height: 0.3rem;
  text-decoration: none;
	@include bgImg("casino/index-help-btn.png");
}