<template>
  <div class="casino-introduce-container">
    <div class="casino-introduce-wrapper">
      <div class="casino-introduce-header">
        <img v-if="gameInfo.background" class="casino-header-bg" :src="gameInfo.background">
        <img v-else class="casino-header-bg" src="/images/casino/introduce-bg.jpg">
        <div class="casino-introduce-logo">
          <img v-if="gameInfo.logo" :alt="gameInfo.name" v-lazy="gameInfo.logo">
          <img v-else :alt="gameInfo.name" src="/images/casino/introduce-logo.png">
        </div>
        <div class="casino-introduce-top">
          <h1>{{gameInfo.name}}</h1>
          <p>{{gameInfo.describe}}</p>
          <router-link class="casino-introduce-btn" :to="{name:'casino_play',params:{id:gameInfo.demo_url}}">play now</router-link>
        </div>
      </div>
      <div class="casino-introduce-box">
        <div class="casino-introduce-group">
          <h3>Play Book of Dead</h3>
          <p>If you have ever played an Egyptian-based video slots game, then you are going to find Book of Dead very familiar. It takes you all the way to Egypt and on there, you will find some very familiar symbols. It is worth mentioning that Play’n Go, the developers of the Book of Dead slots game, have done their very best to ensure this game is able to stand out among similar games. This is seen not only in the gameplay, but also in the graphics, bonuses and wins that players play for. Speaking of gameplay, Book of Dead is a 5 reel, 10 payline video slots game with a jackpot of 250,000 coins. To get started, players have to set their bets per line as well as the number of lines they would like to wager on. Coin value range from 0.01 to 1.</p>
        </div>
        <div class="casino-introduce-group">
          <h3>Play Book of Dead</h3>
          <div class="casino-group-box">
            <ul class="casino-group-list">
              <li>Game Type: Video slots</li>
              <li>Software: Play’n Go</li>
              <li>Return to Player: 96.2%</li>
              <li>Volatility: High</li>
              <li>Reels: 5</li>
              <li>Skill Level: Expert</li>
            </ul>
          </div>
        </div>
        <div class="casino-introduce-group">
          <h3>Book of Dead | Special Features</h3>
          <p>Symbols and their respective wins Play’n Go decided to cut down on the symbols and so this game has very few of them. The low-value symbols include all card symbols from 9 to Aces. The portraits of Anubis and Osiris are the high-value symbols here. The one symbol you ought to be on the look out for is the Rich Wilde symbol as it is the highest paying symbol. Mr Wilde in this game is key to winning the 250,000 coin jackpot. In regular play, 5 of him will win you 5000x of your initial bet. Wild and scatter symbols The golden book of dead functions and the wild and scatter symbol at the same time. The book of dead is responsible for the free spins features in the Book of Dead. Free spins Being both the wild and scatter symbol, the Golden Book of Dead is able to substitute for all other symbols. For this, it is able to start the free spins bonus feature. Three or more scatters will start the free spins bonus feature. For the three symbols, you will get 10 free spins. Should you land three more scatter symbols on the reels during the free spins rounds, you also get three additional spins. Expanding scatters A random symbol becomes the expanding scatter. When 2 or three of these chosen symbols appear, they expand to fill the whole screen and pay out the whole amount won. Very high volatility Although the high volatility of Book of Dead slots is not a feature, it ought to be mentioned. Players have reported that it is very hard to win any meaningful amount in this game. Although Play’n Go have specified an RTP of 95%, this does not seem to be true.</p>
        </div>
        <div class="casino-introduce-group">
          <h3>Why Play Book of Dead</h3>
          <p>Book of Dead brings a sort of familiarity that players who have played Egyptian-based games should be well versed in. It has a very interesting gameplay, with the symbols, sights and sounds all working very well together. The game has a number of interesting features including free spins, bonus rounds, expanding scatters and other wilds. When you play Book of Dead, you will find the entry barrier of 0.01 also very appealing. As with most other games from Play’n Go, Book of Dead is compatible with all modern mobile devices that can handle HTML5 apps. There are rumors of an app coming soon, so that might be a reason to stick around.</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import './introduce.scss'
  import { getGameDetailInfo } from '@/api/data'
  export default {
    name: 'casino_introduce',
    data() {
      return {
        gameInfo: {}
      }
    },
    mounted() {
      this.getCasinoGame();
    },
    methods: {
      async getCasinoGame() {
        let response = await getGameDetailInfo(this.$route.params.id);
        let data = response && response.data;
        for (let key in data) {
          this.$set(this.gameInfo,key,data[key]);
        } 
      }
    }
  }
</script>