@charset "utf-8";

.casino-introduce-container {
	position: relative;
	min-height: 4.7rem;
	margin: 0 -0.15rem;
	background: #1B1A1F;
}

.casino-introduce-wrapper {
	position: relative;
	display: table;
	margin: 0 auto;
	z-index: 1;
	max-width: 100%;
}

.casino-introduce-header {
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	position: relative;
	padding: 0.3rem 0.1rem 0;
	margin-bottom: 0.3rem;
	&:before {
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	z-index: 1;
  	content: '';
  	height: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #1B1A1F 100%);
  }
}

.casino-header-bg {
	position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.casino-introduce-logo {
	position: relative;
  z-index: 1;
  max-width: 100%;
  margin-top: 0.2rem;
  > img {
  	max-width: 100%;
  }
}

.casino-introduce-top {
	position: relative;
	flex: 1;
	z-index: 1;
	text-align: center;
	> h1 {
		margin-bottom: 0.1rem;
		line-height: 0.48rem;
		font-size: 0.4rem;
		font-family: 'mu black';
		font-weight: 900;
		color: #fff;
		text-shadow: 0px 0px 0.15rem rgba(22, 22, 22, 0.5);
	}
	> p {
		margin-bottom: 0.1rem;
		line-height: 0.36rem;
		font-size: 0.28rem;
		font-family: 'mu sb';
		font-weight: 600;
		color: rgba(255,255,255,0.8);
		text-shadow: 0px 0px 0.15rem rgba(22, 22, 22, 0.5);
	}
}

.casino-introduce-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 0.2rem;
	min-width: 3rem;
	height: 0.8rem;
	font-size: 0.3rem;
	background: #0166DA;
	border-radius: 0.4rem;
	font-family: 'mu b';
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	transition: all 0.3s ease;
}

.casino-introduce-box {
	position: relative;
	padding: 0.1rem 0.15rem;
  background: #1B1A1F
}

.casino-introduce-group {
	+ .casino-introduce-group {
	  margin-top: 0.3rem;
	}
  > h3 {
  	margin-bottom: 0.1rem;
		font-size: 0.28rem;
		font-family: 'mu b';
		font-weight: bold;
		color: #fff;
	}
	> p {
		font-family: 'mu sb';
		font-weight: 600;
		color: rgba(255,255,255,0.6);
	}
}

.casino-group-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.casino-group-list {
	> li {
		position: relative;
		padding-left: 0.2rem;
		line-height: 0.36rem;
		font-size: 0.28rem;
		font-family: 'mu sb';
		font-weight: 600;
		color: rgba(255,255,255,0.6);
		+ li {
			margin-top: 0.1rem;
		}
		&:before {
			position: absolute;
			top: 0.1rem;
			left: 0;
			content: '';
			width: 0;
      height: 0;
      border-width: 3px;
      border-style: solid;
      border-top-color: #fff;
      border-right-color: #fff;
      border-left-color: transparent;
      border-bottom-color: transparent;
		}
	}
}