<template>
  <div class="casino-detail-page">
    <div class="casino-detail-header">
      <div class="casino-detail-navigation">
        <div class="casino-nav-module">
          <a class="casino-nav-age">18+</a>
          <span class="casino-nav-text">{{casinoInfo.name}}</span>
          <span class="casino-nav-times">{{casinoTime}}</span>
        </div>
        <div class="casino-nav-module">
          <i-switch size="large" true-color="#0066dc" v-model="playModel" @on-change="togglePlayModel">
            <span slot="open">Real</span>
            <span slot="close">Demo</span>
          </i-switch>
        </div>
        <div class="casino-nav-module">
          <div v-if="!hasGetInfo" class="casino-detail-forms">
            <Button type="success" to="/login">LOG IN</Button>
            <Button type="primary" to="/register">SIGN UP</Button>
          </div>
          <div v-else class="header-user-wrapper">
            <div class="header-user-box">
            <ul class="header-user-balance">
              <li>real balance:<span>€{{realMoney}}.00</span></li>
              <li>lotto balance:<span>€{{lottoMoney}}.00</span></li>
              <li>casino balance:<span>€{{casinoMoney}}.00</span></li>
            </ul>
              <div class="header-user-avator">
                <div class="header-user-layer">
                  <div class="header-user-top">
                    <div class="header-user-avator"></div>
                    <div class="header-user-info">
                      <span class="header-user-name">{{userName}}</span>
                      <span class="header-user-nationality">{{nation}}</span>
                    </div>
                  </div>
                  <ul class="header-user-account">
                    <li>
                      <div class="header-account-item">
                        <p>lotto balance</p><b>€{{lottoMoney}}.00</b>
                      </div>
                      <div class="header-account-item">
                        <p>casino balance</p><b>€{{casinoMoney}}.00</b>
                      </div>
                    </li>
                  </ul>
                  <Button type="success" size="large" long to="/deposit/deposit_page">deposit</Button>
                  <ul class="header-user-menu">
                    <li><a class="header-user-link" href="/">my account</a></li>
                    <li><a class="header-user-link" href="/">my lotto games</a></li>
                    <li><a class="header-user-link" href="/">my favorite numbers</a></li>
                    <li><a class="header-user-link" href="/">my active bonuses</a></li>
                    <li><a class="header-user-link header-user-logout">logout</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <Button type="success" to="/deposit/deposit_page">deposit</Button>
          </div>
        </div>
      </div>
    </div>

    <!--casino-container-->
    <div class="casino-detail-container">
      <img v-if="casinoInfo.background" class="casino-detail-bg" :src="casinoInfo.background">
      <img v-else class="casino-detail-bg" src="/images/casino/detail-bg.png">

      <div class="marquee-container casino-notice-container">
        <div ref="marquee" class="marquee-wrapper">
          <div class="marquee-box">
            <ul ref="List" class="marquee-list">
              <li v-for="(item,index) in drawList">
                <div class="casino-notice-column">
                  {{item.firstname}} Recently Won €{{item.onedatepayout}} in <span class="casino-notice-label">{{item.gamename}}</span>
                </div>
              </li>
            </ul>
            <ul ref="cloneList" class="marquee-list">
              <li v-for="(item,index) in drawList">
                <div class="casino-notice-column">
                  {{item.firstname}} Recently Won €{{item.onedatepayout}} in <span class="casino-notice-label">{{item.gamename}}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="casino-iframe-wrapper">
        <iframe ref="iframe" class="casino-iframe-box" v-bind:style="styleObject" :src="casinoInfo.address" allow="autoplay" allowfullscreen="allowfullscreen"></iframe>
        <!--page Load-->
        <div style="display:block;" class="casino-load-wrapper" v-show="iframeLoad">
          <div class="ivu-spin ivu-spin-default ivu-spin-fix ivu-spin-show-text">
            <div class="ivu-spin-main">
              <span class="ivu-spin-dot"></span> 
              <div class="ivu-spin-text">
                <i class="demo-spin-icon-load ivu-icon ivu-icon-ios-loading" style="font-size: 60px;"></i>
                <div>loading...</div>
              </div>
            </div>
          </div>
        </div>
        <!--/page Load-->
        <a class="casino-close-btn" @click="routerToCasinoIndex"></a>
      </div>
      
      <!--casino-interpret-wrapper-->
      <div class="casino-interpret-container">
        <div class="casino-interpret-wrapper">
          <div class="casino-interpret-logo">
            <img v-if="casinoInfo.logo" v-lazy="casinoInfo.logo">
            <img v-else src="/images/casino/detail-logo.png">
          </div>
          <div class="casino-interpret-box">
            <h3>{{casinoInfo.name}}</h3>
            <ul class="casino-interpret-list">
              <li v-for="item in casinoInfo.type">{{item}}</li>
            </ul>
            <p>{{casinoInfo.describe}}</p>
          </div>
        </div>
      </div>
      <!--/casino-interpret-wrapper-->
    </div>
    <!--/Book of Dead-->
  </div>
</template>
<script>
  import './play.scss'
  import { mapState } from 'vuex'
  import { localSave } from '@/lib/tools'
  import { getGameDetailInfo, getDrawList } from '@/api/data'
  export default {
    name: 'casino_play',
    data() {
      return {
        playModel: false,
        casinoInfo: {},
        casinoTime: '',
        width: '10px',
        height: '10px',
        value: false,
        drawList: [],
        iframeLoad: true
      }
    },
    watch: {
      '$route': {
        handler: 'closeIframeLoad',
        immediate: true
      }
    },
    computed: {
      ...mapState({
        token: state => state.token,
        nation: state => state.nation,
        userName: state => state.userName,
        realMoney: state => state.realMoney,
        lottoMoney: state => state.lottoMoney,
        casinoMoney: state => state.casinoMoney,
        hasGetInfo: state => Number(state.hasGetInfo)
      }),
      styleObject: function() {
        return {
          width: this.width,
          height: this.height
        }
      }
    },
    mounted() {
      this.getGameDetailInfo();

      this.initPlayModel();
      
      this.showLocalTime();
      
      this.setIframeStyle();

      this.setDrawList();
    },
    beforeRouteUpdate(to, from, next) {

      this.$nextTick(()=>{this.getGameDetailInfo()});
      
      next();
    },
    methods: {
      marqueeList() {
        let list = this.$refs.list;
        let marquee = this.$refs.marquee;
        let cloneList = this.$refs.cloneList;
        if (!marquee) return;
        let marqueeResult = setInterval(() => {
          if (marquee.scrollLeft - cloneList.offsetWidth >= 0) {
            marquee.scrollLeft -= list.offsetWidth;
          } else {
            marquee.scrollLeft++;
          }
        }, 30);
        
        this.$once('hook:beforeDestroy',() => {
          clearInterval(marqueeResult);
          marqueeResult = null;
        })
      },
      async setDrawList() {
        let response = await getDrawList();
        let drawList = response && response.data;
        for (let index = 0; index < drawList.length; index++) {
          this.$set(this.drawList,index,drawList[index]);
        }
        this.marqueeList(); 
      },
      showLocalTime() {
        let now = new Date();
        let h = now.getHours();
        let m = now.getMinutes();
        let s = now.getSeconds();
        this.casinoTime = h + ":" + this.checkTime(m) + ":" + this.checkTime(s);
        let timer = setTimeout(this.showLocalTime,500);
        this.$once('hook:beforeDestroy',()=>{
          clearTimeout(timer);
          timer = null;
        });
      },
      checkTime(i) {
        return (i<10) ? ("0"+i):i;
      },
      initPlayModel() {
        this.playModel = this.hasGetInfo ? true:false;
      },
      togglePlayModel(state) {
        if (!this.hasGetInfo && state) {
          localSave('playGameUrl',this.$route.path);
          this.$router.push({name: 'login'});
        }
      },
      async getGameDetailInfo() {
        let response = await getGameDetailInfo(this.$route.params.id);
        let data = response && response.data;
        for (let key in data) {
          this.$set(this.casinoInfo,key,data[key]);
        }
      },
      routerToCasinoIndex() {
        this.$router.push({name: 'casino_page'});
      },
      closeIframeLoad() {
        this.$nextTick(()=>{
          this.iframeLoad = true;
          let iframe = this.$refs.iframe;
          if (iframe.attachEvent) {
            iframe.attachEvent('onload',()=>{
              this.iframeLoad = false;
            })
          } else {
            iframe.onload = ()=>{
              this.iframeLoad = false;
            }
          }
        })
      },
      setIframeStyle() {
        let gameRate = 1050/591;
        let relaRate = 1280/1920;
        let width = document.documentElement.clientWidth;
        this.width = parseInt(width*relaRate)+'px';
        this.height = parseInt((parseInt(width*relaRate))/gameRate)+'px';
      }
    }
  }
</script>