@charset "utf-8";

.casino-detail-page {
	padding-top: rem(56);
	min-height: 100vh;
	background: rgba(0,0,0,1);
	.header-user-balance > li {
		font-size: 14px;
    color: #fff;
	}
	.header-user-balance > li span {
		font-size: 14px;
    color: #fff;
	}
	.header-user-wrapper {
		margin-left: rem(30);
	  margin-right: rem(30);
	}
	.header-user-layer {
		width: rem(300);
	}
}

.casino-load-wrapper {
  .ivu-spin-show-text .ivu-spin-text {
  	margin-top: 136px;
  	font-size: 18px;
  }
  .demo-spin-icon-load {
		margin-bottom: 10px;
	}
}

.demo-spin-icon-load {
  animation: ani-demo-spin 1s linear infinite;
}

@keyframes ani-demo-spin {
  from { transform: rotate(0deg);}
  50%  { transform: rotate(180deg);}
  to   { transform: rotate(360deg);}
}

/**
*
* casino-detail-header
*
*/
.casino-detail-header {
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
	min-width: 1260px;
	.head-nav {
		display: flex;
		justify-content: space-between;
		&:before,&:after {
			display: none;
		};
		.time {
			margin-left: rem(30);
			font-size: rem(16);
			font-family: "mu b";
			color: #33373a;
		}
	}
}

.casino-detail-navigation {
	display: flex;
  justify-content: space-between;
	padding: 0 rem(20) 0 rem(30);
	height: rem(56);
	background-color: #00a9e9;
	background-image: linear-gradient(90deg, #00a9e9 0%, #0079e9 100%), linear-gradient(#00a9e9, #00a9e9);
	background-blend-mode: normal, normal;
}

.casino-nav-module {
	display: flex;
	align-items: center;
	color: #fff;
}

.casino-nav-age {
	width: 30px;
	height: 30px;
	line-height: 26px;
	border-radius: 50%;
	text-align: center;
	border: solid 2px #fff;
	font-family: $mon-sb;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	&:hover {
		color: #fff;
	}
	+ .casino-nav-text {
		margin-left: rem(20);
	}
	@media (max-width: 1440px) {
		width: 28px;
		height: 28px;
		line-height: 24px;
	}
}

.casino-nav-text {
	font-size: rem(22);
	font-family: $mu-b;
	+ .casino-nav-times {
		margin-left: rem(20);
	}
}

.casino-nav-times {
	font-size: 14px;
	font-family: $mu-b;
	@media (max-width: 1440px) {
		font-size: 12px;
	}
}

.casino-play-type {
	@extend %relative;
	display: inline-flex;
	min-width: 226px;
	height: 38px;
	font-size: 0;
	border-radius: 19px;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.1) inset;
  background: #0068e0;
	vertical-align: middle;
	border: solid 2px transparent;
	>li {
		@extend %relative;
		@extend %flexCenter;
		width: 50%;
		height: 34px;
		border-radius: 17px;
		text-align: center;
		color: #fff;
		font-family: $mu-sb;
	  @extend %fs14;
	  cursor: pointer;
	  opacity: 0.7;
	  &:before {
	  	@extend %absolute;
	  	top: 0;
	  	left: 0;
	  	right: 0;
	  	bottom: 0;
	  	content: '';
	  	opacity: 0;
	  	border-radius: 17px;
	  	transform: scale(0,1);
	  	transition: all 0.4s ease;
	  };
	  &.on {
	  	opacity: 1;
	  	&:before {
	  		opacity: 1;
	  		transform: scale(1,1);
	  		background-color: #00a9e9;
				background-image: linear-gradient(90deg, #00a9e9 0%, #0079e9 100%), linear-gradient(#0da1d5, #0da1d5);
				background-blend-mode: normal, normal;
	  	}
			.casino-play-unit {
				&:after {
					transform: scale(1);
			  	background-color: #fff;
			  }
			}
		}
		&.disable {
			cursor: no-drop;
		}
	}
	@media (max-width: 1440px) {
		min-width: 170px;
		height: 28px;
		border-radius: 14px;
		border-width: 1px;
		>li {
			height: 26px;
			border-radius: 13px;
			font-size: 12px;
		}
	}
}

.casino-play-unit {
	@extend %relative;
	@extend %inline-block;
	padding-left: 15px;
	width: 75%;
	&:after {
  	@extend %absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	width: 7px;
  	height: 7px;
  	margin: auto;
  	@extend %radius;
  	content: '';
  	transform: scale(0);
  	transition: all 0.3s ease;
  	background-color: transparent;
  }
  @media (max-width: 1440px) {
  	padding-left: 8px;
  	&:after {
	  	width: 5px;
	  	height: 5px;
	  }
  }
}

.casino-search-wrapper {
	@extend %inline-block;
	@extend %relative;
	margin-right: rem(10);
	width: rem(290);
	padding: rem(10) 0;
	line-height: normal;
	vertical-align: middle;
}

.casino-detail-search {
	@extend %absolute;
	left: rem(10);
	top: 0;
	bottom: 0;
	margin: auto;
	width: 22px;
	height: 22px;
	@include bgImg('casino/detail-search-btn.png');
	@media (max-width: 1440px) {
		width: 16px;
		height: 16px;
	}
}

.casino-search-input {
	@extend %w100;
	padding-left: 42px;
	height: 38px;
	border-radius: 19px;
	color: #fff;
	font-size: 14px;
	font-family: $mon-r;
	background-color: rgba(255,255,255,0.4);
	@media (max-width: 1440px) {
		padding-left: 32px;
		height: 28px;
		border-radius: 14px;
	}
}

.casino-search-input::-moz-placeholder {
	font-family: $mon-r;
	font-size: 14px;
	color: #fff !important;
	opacity: 1 !important;
	line-height: 38px;
	@media (max-width: 1440px) {
		line-height: 38px;
	}
}

.casino-search-input::-webkit-input-placeholder {
	font-family: $mon-r;
	font-size: 14px;
	color: #fff !important;
	opacity: 1 !important;
}

.casino-search-input::-ms-input-placeholder {
	font-family: $mon-r;
	font-size: 14px;
	color: #fff !important;
	opacity: 1 !important;
}

.casino-search-input:-ms-input-placeholder {
	font-family: $mon-r;
	font-size: 14px;
	color: #fff !important;
	opacity: 1 !important;
}

.casino-search-select {
	@extend %absolute;
	top: 100%;
	left: 0;
	right: 0;
	opacity: 1;
	padding: rem(20) rem(10);
	border-radius: rem(10);
	background: #fff;
	transition: all 0.4s ease-out;
	transform: translateY(0);
	pointer-events: auto;
	z-index: 2;
	&.casino-search-hide {
		opacity: 0;
		pointer-events: none;
		transform: translateY(5px);
	}
}

.casino-select-module {
	+ .casino-select-module {
		border-top: solid 1px #e0e6ee;
		padding-top: rem(10);
		margin-top: rem(20);
	}
}

.casino-select-title {
	margin: 0;
	padding-bottom: rem(10);
	font-size: rem(16);
	font-family: $mu-b;
	line-height: 1;
	color: #33373a;
	border-bottom: solid 1px #e0e6ee;
	@extend %lineTextHide;
}

.casino-suggested-games {
	padding-top: rem(20);
	max-height: 480px;
	overflow-y: auto; 
	&:not(:last-child) {
		padding-bottom: rem(20);
	  border-bottom: solid 1px #f1f1f1;
	}
	>li {
		padding-left: rem(10);
		line-height: rem(36);
		overflow: hidden;
		cursor: pointer;
		&:not(:first-child) {
			margin-top: rem(10);
		}
	}
	@media (max-width: 1440px) {
		max-height: 324px;
	}
}

.casino-suggested-link {
	@extend %block;
}

.casino-suggested-logo {
	@extend %left;
	margin-right: rem(10);
	width: rem(48);
	height: 36px;
	@media (max-width: 1440px) {
		height: auto;
	}
}

.casino-suggested-text {
	font-size: 18px;
	font-family: "mu r";
	overflow: hidden;
	color: #33373a;
	text-align: left;
	@extend %lineTextHide;
	@media (max-width: 1440px) {
		font-size: 16px;
	}
}

/**
*
* casino-detail-forms
*
*/
.casino-detail-forms {
	display: flex;
	margin-left: rem(30);
	margin-right: rem(30);
	>.ivu-btn {
		+ .ivu-btn {
			margin-left: rem(10);
		}
	}
}

.casino-forms-login {
	@extend %inlineflexCenter;
	padding: 0 rem(10);
	min-width: rem(112);
	height: rem(38);
	border-radius: rem(20);
	font-size: 14px;
	background-color: #00d656;
	font-family: $mon-sb;
	color: #fff;
	@extend %tc;
	text-decoration: none;
	transition: all 0.3s ease;
	+ .casino-forms-signup {
		margin-left: rem(10);
	}
	&:hover {
		color: #fff;
		background-color: #00a342;
	}
	@media (max-width: 1440px) {
		font-size: 12px;
	}
}

.casino-forms-signup {
	@extend %inlineflexCenter;
	min-width: rem(112);
	padding: 0 rem(10);
	height: rem(38);
	border-radius: rem(20);
	font-size: 14px;
	border: solid 2px #fff;
	font-family: $mon-sb;
	color: #fff;
	@extend %tc;
	text-decoration: none;
	&:hover {
		color: #fff;
	}
	@media (max-width: 1440px) {
		font-size: 12px;
		border-width: 1px;
	}
}

.casino-lan {
	@extend %relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	.lan-name {
		color: #fff;
	}
	.pop-lan {
		top: 100%;
		right: -50px;
	}
	@media (max-width: 1440px) {
		.pop-lan {
			&:before {
				top: -7px;
		    right: 68px;
				margin-left: inherit;
		    margin-right: inherit;
			}
		}
	}
}

.casino-account {
	@extend %relative;
	display: flex;
	align-items: center;
	margin-left: rem(15);
	margin-right: rem(20);
	.user-icon {
		width: 27px;
    height: 27px;
    cursor: pointer;
    @include bgImg('casino/detail-user.png');
	}
	.user-text {
		@extend %relative;
		margin-left: rem(8);
		padding-right: rem(18);
		font-family: $mu-b;
		color: #fff;
		font-size: 14px;
		cursor: pointer;
		&:hover {
			&:after {
				transform: rotate(-180deg);
			}
		}
		&:after {
			@extend %absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 12px;
			height: 8px;
			content: '';
			margin: auto;
      transition: all 0.4s ease;
			@include bgImg('casino/detail-user-arrow.png');
		}
	}
	.pop-acc {
		top: 100%;
		right: 50%;
		left: initial;
		line-height: normal;
		transform: translate(50%,0);
		&:before {
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}
		.log-out {
			display: inline-block;
		}
	}
	@media (max-width: 1440px) {
		.pop-acc {
			&:before {
				top: -7px;
			}
		}
	}
}

.casino-detail-container {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 10px;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		width: 100%;
		background: rgba(0,0,0,0.6);
	}
}

.casino-detail-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/**
*
* casino-iframe-wrapper
*
*/
.casino-iframe-wrapper {
	position: relative;
	display: table;
	display: flex;
	margin: 0 auto;
	z-index: 1;
}

.casino-iframe-box {
	display: flex;
	margin: 0 auto;
	border: 0px;
	width: 67%;
	max-width: 100%;
}

.casino-close-btn {
	position: absolute;
	top: 0;
	left: 100%;
	width: rem(40);
	height: rem(40);
	@include bgImg('casino/detail-close-btn.png');
}

.casino-error-container {
	display: flex;
	align-items: center;
  justify-content: center;
	height: 100%;
	background-color: #000;
}

@media screen and(-ms-high-contrast:active),(-ms-high-contrast:none) {
	.casino-error-container {
		height: 100% !important;
	}
}

@media screen and(-ms-high-contrast:active),(-ms-high-contrast:none) {
	:-webkit-full-screen {
		object {
			display: block;
			margin: 0 auto !important;
			max-width: 100%;
			width: 100% !important;
			height: 100% !important;
		}
	}

	:fullscreen {
		object {
			display: block;
			margin: 0 auto !important;
			max-width: 100%;
			width: 100% !important;
			height: 100% !important;
		}
	}

	:full-screen {
		object {
			display: block;
			margin: 0 auto !important;
			max-width: 100%;
			width: 100% !important;
			height: 100% !important;
		}
	}
}

/**
*
* casino-notice-wrapper
*
*/
.casino-notice-container {
	position: relative;
	padding-left: rem(70);
	width: rem(1280);
	height: rem(58);
	line-height: rem(58);
	margin: 0 auto rem(10);
	background: linear-gradient(to right, #013149 0%, #011f42 100%);
	border-radius: rem(4);
	overflow: hidden;
	z-index: 1;
	border: 1px solid #325273;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		content: '';
		margin: auto;
		width: rem(58);
		height: rem(58);
		@include bgImg('casino/detail-notice-btn.png');
	}
}

.casino-notice-list {
	float: left;
	+ .casino-notice-list {
		margin-left: rem(10);
	}
	> li {
		float: left;
		+ li {
			margin-left: rem(10);
		}
	}
}

.casino-notice-column {
	display: flex;
	align-items: center;
	position: relative;
	padding-left: rem(14);
	font-size: rem(16);
	font-family: 'mu b';
	font-weight: bold;
	color: #fff;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		margin: auto;
		content: '';
		width: rem(8);
		height: rem(8);
		border-radius: 50%;
		background: #0166DA;
	}
}

.casino-notice-label {
	margin-left: rem(5);
	font-family: 'mu eb';
	color: rgba(255, 242, 0, 1);
}

/**
*
* casino-interpret-wrapper
*
*/
.casino-interpret-container {
	position: relative;
	padding: rem(40) 0 rem(60);
	z-index: 1;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}

.casino-interpret-wrapper {
	display: flex;
	margin: 0 auto;
	max-width: rem(1280);
}

.casino-interpret-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-right: rem(10);
	padding: rem(7);
	width: rem(230);
	height: rem(178);
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
	  opacity: 0.5;
		border-radius: rem(6);
		background: linear-gradient(180deg, #fff 0%, #939393 100%);
	}
	> img {
		position: relative;
		max-width: 100%;
		object-fit: cover;
	}
}

.casino-interpret-box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex: 1;
	> h3 {
		margin-top: rem(5);
		margin-bottom: rem(5);
		line-height: rem(30);
		font-size: rem(24);
		font-family: 'mu b';
		font-weight: 900;
		color: #fff;
	}
	> p {
		line-height: rem(20);
		font-size: rem(16);
		font-family: 'mu sb';
		font-weight: 600;
		color: rgba(255,255,255,0.8);
		+ p {
			margin-top: rem(10);
		}
	}
}

.casino-interpret-list {
	display: flex;
	margin-bottom: rem(10);
	> li {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;
		border: solid 1px #fff;
		border-right: none;
		padding: 0 0 0 rem(10);
		height: 24px;
		font-size: 16px;
		font-family: 'mu sb';
		font-weight: 600;
		color: #fff;
		border-radius: 2px;
		+ li {
			margin-left: 32px;
		}
		&:after {
			position: absolute;
			top: 0;
			right: -22px;
			bottom: 0;
			margin: auto;
			content: '';
			width: 23px;
			height: 24px;
			@include bgImg("casino/detail-icons-arrow.png");
		}
	}
}