@charset "utf-8";

/**
*
* @module page-side
*
*/
.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  overflow: auto;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  &.is-active {
    transform: translateX(0);
    .page-side-modal {
      transform: translateX(0);
    }
    .page-side-close {
      > .page-close-box {
        > .line {
          &:nth-child(1) {
            transform: translateY(7px) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-7px) rotate(-45deg);
          }
        }
      }
    }
  }
}

.page-side-nav {
  position: relative;
  padding: 15px;
  min-height: 100vh;
  width: 85vw;
  overflow-y: auto;
  background-color: #fff;
  &::-webkit-scrollbar {
    display: none;
  }
}

.page-side-subnav {
  @extend %none;
  transition: all .25s ease;
  z-index: 100;
  padding: 15px;
  min-height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  transform: translateX(-100%);
  &::-webkit-scrollbar {
    display: none;
  }
  &.show {
    @extend %block;
    transform: translateX(0);
  }
}

.page-side-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.35s ease;
  background: rgba(0,0,0,0.5);
  transform: translateX(-100%);
}

.page-side-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 15vw;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  > .page-close-box {
    > .line {
      &:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }
  > .page-close-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    border: solid 2px #fff;
    > .line {
      display: block;
      margin: 2px auto;
      width: 0.4rem;
      height: 3px;
      background-color: #fff;
      transition: all 0.2s ease-in-out;
    }
  }
}

.side-close {
  @extend %fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  background-color: #fff;
  z-index: 100;
  transition: all .2s ease-out;
  transform: translate3d(-100%,0,0);
  &.show {
    transition: all .25s ease-out;
    transform: translateZ(0);
  }
  .close-btn {
    @extend %flexCenter;
    margin-left: auto;
    width: 20%;
    height: 100%;
  }
  i {
    width: 18px;
    height: 18px;
    @include bgImg('new-mobile/public/side-close.png');
  }
}

/** 
*
* @module side-topheader
*
*/
.side-topheader {
  display: flex;
  min-height: 44px;
  margin: -15px -15px 0 -15px;
  padding: 0 15px;
  .home-box {
    display: inline-flex;
    align-items: center;
    flex: 1;
    font-family: 'mon b';
    font-size: 17px;
    color: #00a9e9;
    text-decoration: none;
    .home {
      margin-right: 6px;
      width: 32px;
      height: 32px;
      @include bgImg('new-mobile/public/side-home.png');
    }
  }
  .cart-box {
    display: inline-flex;
    align-items: center;
    flex: 1;
    text-decoration: none;
    .cart {
      @extend %relative;
      margin-right: 6px;
      width: 32px;
      height: 32px;
      @include bgImg('new-mobile/public/side-cart.png');
    }
    .nums {
      @extend %flexCenter;
      @extend %absolute;
      top: 0;
      right: -4px;
      width: 18px;
      height: 18px;
      @extend %radius;
      background-color: #ff003c;
      font-family: 'mon m';
      @extend %fs12;
      color: #fff;
    }
    .money {
      @extend %block;
      font-family: 'mon b';
      font-size: 15px;
      color: #101010;
    }
    .text {
      font-family: 'mu r';
      @extend %fs12;
      color: #9195a0;
    }
  }
}

/** 
*
* @module side-users
*
*/
.side-users {
  .users-forms {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .login-btn {
    @extend %inlineflexCenter;
    min-width: 125px;
    padding: 0 10px;
    height: 32px;
    background-color: #00a9e9;
    border-radius: 16px;
    font-family: 'mu eb';
    font-size: 13px;
    color: #fff;
    text-decoration: none;
  }
  .signup-btn {
    @extend %inlineflexCenter;
    min-width: 125px;
    padding: 0 10px;
    height: 32px;
    background-color: #03c85a;
    border-radius: 16px;
    font-family: 'mu eb';
    font-size: 13px;
    color: #fff;
    text-decoration: none;
  }
  .deposit-btn {
    margin-top: 12px;
    @extend %flexCenter;
    height: 32px;
    background-color: #00a9e9;
    border-radius: 16px;
    font-family: 'mu eb';
    font-size: 13px;
    color: #fff;
    text-decoration: none;
  }
  .users-container {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
  .users-name {
    padding: 0 12px;
    font-family: 'mon b';
    font-size: 17px;
    color: #00a9e9;
  }
  .users-account {
    @extend %relative;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    >li {
      text-align: center;
    }
    &:after {
      @extend %absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      content: '';
      width: 1px;
      background-color: #cbcfdb;
    };
    .money {
      font-family: 'mon b';
      font-size: 15px;
      color: #101010;
    }
    .name {
      font-family: 'mu r';
      @extend %fs12;
      color: #9195a0;
    }
  }
  @media (max-width: 320px) {
    .login-btn {
      min-width: 100px;
    }
    .signup-btn {
      min-width: 100px;
    }
  }
}

/** 
*
* @module page-side
*
*/
.side-module {
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 0 12px;
  background-color: #ecf5f9;
  background-image: linear-gradient(-90deg, #ecf5f9 0%, #f7fdff 100%), linear-gradient(#ffffff, #ffffff);
  border-radius: 4px;
  &.promotion {
    @extend %relative;
    &:before {
      @extend %absolute;
      right: 7px;
      bottom: 0;
      content: ''; 
      width: 72px;
      height: 44px;
      @include bgImg('new-mobile/public/side-gift.png');
    };
  }
  &.lotto-results {
    margin-top: 20px;
  }
  .title {
    display: flex;
    align-items: center;
    height: 50px;
    font-family: 'mu r';
    font-style: italic;
    font-size: 14px;
    color: #00a9e9;
    border-bottom: solid 1px #e5e5e5;
  }
  .list {
    &.large {
      >li {
        min-height: 50px;
      }
    }
    &.lotteries {
      >li {
        .logo {
          margin-right: 10px;
          width: 44px;
        }
      }
    }
    &.casino {
      >li {
        .main {
          @extend %relative;
          background-color: #007af9;
          background-image: linear-gradient(0deg,#007af9 0,#009efa 100%),linear-gradient(#9da7c0,#9da7c0);
          border-radius: 3px;
          width: 38px;
          height: 29px;
          margin-right: 10px;
        }
        .logo {
          width: 38px;
          border-radius: 3px;
        }
        .index-default-logo {
          width: 26px;
          height: 16px;
          max-width: 100%;
        }
      }
    }
    &.scratchcard {
      >li {
        .main {
          @extend %relative;
          background-color: #007af9;
          background-image: linear-gradient(0deg,#007af9 0,#009efa 100%),linear-gradient(#9da7c0,#9da7c0);
          border-radius: 3px;
          margin-right: 10px;
        }
        .logo {
          width: 40px;
          border-radius: 3px;
        }
        .index-default-logo {
          width: 20px;
          height: 12px;
          max-width: 100%;
        }
      }
    }
    >li {
      @extend %relative;
      display: flex;
      align-items: center;
      min-height: 44px;
      &:not(:last-child) {
        border-bottom: solid 1px #e5e5e5;
      };
      .circular {
        @extend %relative;
        width: 6px;
        height: 6px;
        margin-left: 14px;
        margin-right: 20px;
        background-color: #fff;
        border: solid 2px #9da7c0;
        @extend %radius;
        &:before,&:after {
          @extend %absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          content: '';
          width: 6px;
          height: 6px;
          background-color: #fff;
          border: solid 2px #9da7c0;
          @extend %radius;
          box-sizing: border-box;
        };
        &:before {
          left: -10px;
        };
        &:after {
          right: -10px;
        };
      }
      .details { 
        flex: 1;
        padding-right: 7px;
      }
      .name {
        font-family: 'mu b';
        font-size: 15px;
        color: #33373a;
      }
      .award {
        margin-top: 2px;
        font-family: 'mu r';
        font-style: italic;
        @extend %fs12; 
        color: #00a9e9;
      }
      .total {
        margin-right: 15px;
        font-family: 'mu r';
        font-style: italic;
        font-size: 13px;
        color: #9195a0;
      }
      .download {
        width: 16px;
        height: 16px;
        @include bgImg('new-mobile/public/side-download.png');
      }
      .skip {
        @extend %absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @extend %pointer;
      }
      .link {
        @extend %absolute;
        top: 0;
        left: -12px;
        right: -12px;
        bottom: 0;
        @extend %pointer;
        &:after {
          @extend %absolute;
          top: 0;
          bottom: 0;
          right: 12px;
          width: 7px;
          height: 12px;
          margin: auto;
          content: '';
          @include bgImg('new-mobile/public/guide-arrow.png');
        };
      }
    }
  }
}

.mobile-index-label {
  @extend %inline-block;
  min-width: 40px;
  padding: 0 8px;
  height: 16px;
  margin-left: 10px;
  @extend %fs12;
  font-family: 'mu black';
  color: $white;
  border-radius: 2px;
  transform: skew(-14deg);
  .text {
    @extend %inline-block;
    transform: skew(14deg);
  }
  &.boost {
    background-color: #ff003c;
    background-image: linear-gradient(90deg, #ff3f00 0%, #ff9000 100%), linear-gradient(#ffffff, #ffffff);
  }
  &.new {
    background-color: #ff003c;
    background-image: linear-gradient(90deg, #ff003c 0%, #ff00aa 100%), linear-gradient(#ffffff, #ffffff);
  }
  &.bonus {
    font-family: 'mu eb';
    background-color: #ff003c;
    background-image: linear-gradient(90deg, #ff3f00 0%, #ff9000 100%), linear-gradient(#ffffff, #ffffff);
  }
}

/** 
*
* @module side-exit
*
*/
.side-exit {
  margin-top: 20px;
  font-family: 'mu b';
  font-size: 15px;
  color: #33373a;
  .logout-btn {
    @extennd %inline;
    padding: 10px 0;
    color: #00a9e9;
  }
}

/** 
*
* @module side-sublist
*
*/
.side-back {
  display: flex;
  align-items: center;
  margin-top: -15px;
  height: 44px;
  .button {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 17px;
    font-family: 'mon b';
    color: #33373a;
    text-decoration: none;
  }
  .arrow {
    @extend %inline-block;
    width: 10px;
    height: 18px;
    margin-right: 8px;
    @include bgImg('new-mobile/public/side-back-arrow.png');
  }
}

.side-sublist {
  &.justify {
    >li {
      .link {
        justify-content: space-between;
      }
    }
  }
  >li {
    border-bottom: solid 1px #e0e6ee;
    .link {
      position: relative;
      display: flex;
      align-items: center;
      height: 50px;
      font-family: 'mu b';
      font-size: 15px;
      color: #33373a;
      text-decoration: none;
      &.on {
        font-family: "mu black";
        color: #00a9e9;
      }
      &.active {
        .arrow {
          transform: rotate(90deg);
        }
      }
      .circle {
        margin-top: -8px;
        width: 6px;
        height: 6px;
        margin-left: 2px;
        background: #ff003c;
        border-radius: 50%;
      }
    }
    .arrow {
      @extend %absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 7px;
      height: 12px;
      @include bgImg('new-mobile/public/guide-arrow.png');
      transition: all 0.3s ease;
    }
    .menu-item-pill {
      display: flex;
      align-items: center;
    }
  }
}

$ListMap: (
  (code:af,lan:af-south-africa),
  (code:am,lan:am-ethiopia),
  (code:ar,lan:ar-saudi-arabia),
  (code:az,lan:az-azerbaijan),
  (code:be,lan:be-belarus),
  (code:bg,lan:bg-bulgaria),
  (code:bn,lan:bn-bangladesh),
  (code:bs,lan:bs-bosnia-and-herzegovina),
  (code:ceb,lan:ceb-philippines),
  (code:ca,lan:ca-canada),
  (code:cl,lan:cl-spain),
  (code:zh-CN,lan:cn-china),
  (code:co,lan:co-italy),
  (code:cs,lan:cs-czech-republic),
  (code:cy,lan:cy-wales),
  (code:da,lan:da-denmark),
  (code:de,lan:de-germany),
  (code:el,lan:el-greece),
  (code:en-US,lan:en-united-kingdom),
  (code:eo,lan:eo-esperanto),
  (code:es,lan:es-spain),
  (code:et,lan:et-estonia),
  (code:eu,lan:eu-spain),
  (code:fa,lan:fa-iran),
  (code:fi,lan:fi-finland),
  (code:fr,lan:fr-france),
  (code:fy,lan:fy-netherlands),
  (code:ga,lan:ga-ireland),
  (code:gd,lan:gd-scotland),
  (code:gl,lan:gl-spain),
  (code:gr,lan:gr-greece),
  (code:gu,lan:gu-india),
  (code:ha,lan:ha-nigeria),
  (code:haw,lan:haw-hawaii),
  (code:hi,lan:hi-india),
  (code:hmn,lan:hmn-china),
  (code:hr,lan:hr-croatia),
  (code:ht,lan:ht-haiti),
  (code:hu,lan:hu-hungary),
  (code:hy,lan:hy-armenia),
  (code:id,lan:id-indonesia),
  (code:ig,lan:ig-nigeria),
  (code:ir,lan:ir-ireland),
  (code:is,lan:is-iceland),
  (code:it,lan:it-italy),
  (code:iw,lan:iw-israel),
  (code:ja,lan:ja-japan),
  (code:jw,lan:jw-indonesia),
  (code:ka,lan:ka-georgia),
  (code:kk,lan:kk-kazakhstan),
  (code:km,lan:km-myanmar),
  (code:kn,lan:kn-india),
  (code:ko,lan:ko-south-korea),
  (code:ku,lan:ku-iraq),
  (code:ky,lan:ky-kyrgyzstan),
  (code:la,lan:la-vatican-city),
  (code:lb,lan:lb-luxembourg),
  (code:lo,lan:lo-laos),
  (code:lt,lan:lt-lithuania),
  (code:lv,lan:lv-latvia),
  (code:mg,lan:mg-madagascar),
  (code:mi,lan:mi-new-zealand),
  (code:mk,lan:mk-macedonia),
  (code:ml,lan:ml-india),
  (code:mn,lan:mn-mongolia),
  (code:mr,lan:mr-india),
  (code:ms,lan:ms-malaysia),
  (code:mt,lan:mt-malta),
  (code:my,lan:my-myanmar),
  (code:ne,lan:ne-nepal),
  (code:nl,lan:nl-netherlands),
  (code:no,lan:no-norway),
  (code:ny,lan:ny-malawi),
  (code:pa,lan:pa-india),
  (code:pl,lan:pl-republic-of-poland),
  (code:ps,lan:ps-afghanistan),
  (code:pt,lan:pt-portugal),
  (code:ro,lan:ro-romania),
  (code:ru,lan:ru-russia),
  (code:rs,lan:rs-serbia),
  (code:sd,lan:sd-pakistan),
  (code:se,lan:se-sweden),
  (code:si,lan:si-sri-lanka),
  (code:sk,lan:sk-slovakia),
  (code:sl,lan:sl-slovenia),
  (code:sm,lan:sm-samoa),
  (code:sn,lan:sn-zimbabwe),
  (code:so,lan:so-somalia),
  (code:sq,lan:sq-albania),
  (code:sr,lan:sr-serbia),
  (code:st,lan:st-lesotho),
  (code:su,lan:su-indonesia),
  (code:sv,lan:sv-sweden),
  (code:sw,lan:sw-africa),
  (code:ta,lan:ta-india),
  (code:te,lan:te-india),
  (code:tg,lan:tg-tajikistan),
  (code:th,lan:th-thailand),
  (code:tl,lan:tl-philippines),
  (code:tr,lan:tr-turkey),
  (code:tw,lan:tw-taiwan),
  (code:ua,lan:ua-ukraine),
  (code:uk,lan:uk-ukraine),
  (code:ur,lan:ur-pakistan),
  (code:uz,lan:uz-uzbekistn),
  (code:xh,lan:xh-africa),
  (code:vi,lan:vi-vietnam),
  (code:yi,lan:yi-yiddish),
  (code:yo,lan:yo-nigeria),
  (code:zu,lan:zu-south-africa)
);

@for $i from 1 through length($ListMap) {
  $item: nth($ListMap, $i);
  .country-flag {
    &.#{map-get($item,code)} {
      display: inline-block;
      background-image: url('/images/public/state_sprites_bg.png');
      background-position: 0 ($i - 1)*(-28px);
      background-size: 28px;
    }
  }
}

.side-sublist>li {
  .country-flag {
    width: 28px;
    height: 28px;
    margin-left: 5px;
    transform: scale(0.7);
  }
}

.page-side-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background: #fff;
  transform: translateX(0%);
  transition: transform 0.3s ease;
}

.page-side-nav {
  &.is-active {
    .page-side-main {
      transform: translateX(-100%);
    }
    .page-side-lan {
      transform: translateX(0%);
    }
  }
}

.page-side-lan {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-innerlist {
  >li {
    border-top: solid 1px #e0e6ee;
    .innerlink {
      display: flex;
      align-items: center;
      height: 50px;
      font-family: 'mu b';
      font-size: 15px;
      color: #33373a;
    }
  }
}

.mobile-index-cooper .list>li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  height: 40px;
}

.mobile-index-cooper .list>li img {
  max-height: 100%;
}

.menu-lan-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @extend %absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .lan-flag,
  .lan-select-flag {
    margin-left: 5px;
    transform: scale(0.7);
  }
}

.side-invited-title {
  line-height: 16px;
  font-size: 13px;
  font-family: 'mon m';
  font-weight: 500;
  color: #fff;
}

.side-invited-num {
  font-size: 15px;
  line-height: 19px;
  font-weight: 500;
}

.side-invited-text {
  line-height: 15px;
  font-size: 12px;
  font-family: 'mon m';
  font-weight: 500;
  color: rgba(255,255,255,0.8);
}

.side-invited-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}