<template>
	<div class="menu-wrapper" v-bind:class="{'is-active':openMenu}">
    <div class="page-side-modal">
      <a @click="closeHeadMenu" class="page-side-close">
        <span class="page-close-box">
          <i class="line"></i>
          <i class="line"></i>
          <i class="line"></i>
        </span>
      </a>
    </div>
    <div class="page-side-nav" v-bind:class="{'is-active':showLanModal}">
      <div class="page-side-main">
        <!--topheader module-->
        <div class="side-topheader">
          <router-link class="home-box" to="/index"><b class="home"></b>Home</router-link>
        </div>
        <!--users module-->
        <div class="side-users">
          <!--unlogin-->
          <div v-show="hasGetInfo!==1" class="users-forms">
            <router-link class="login-btn" to="/login">LOG IN</router-link>
            <router-link class="signup-btn" to="/register">SIGN UP</router-link>
          </div>

          <!--alreay login-->
          <div v-show="hasGetInfo==1" class="users-container">
            <p class="users-name">{{userName}}</p>
            <ul class="users-account">
              <li>
                <b class="money">{{lottoMoney}}</b>
                <p class="name">Lotto balance</p>
              </li>
              <li>
                <b class="money">{{casinoMoney}}</b>
                <p class="name">Casino balance</p>
              </li>
            </ul>
            <van-button type="primary" block to="/deposit/deposit">Deposit</van-button>
          </div>
        </div>
        <!--My Account module-->   
        <div v-show="hasGetInfo==1" class="side-module">
          <ul class="list large"> 
            <li> 
              <div class="details"> 
                <p class="name">My Account</p>
              </div>
              <a class="link"></a>          
            </li>
          </ul>
        </div>
        <!--Language module-->   
        <div class="side-module">
          <ul class="list large"> 
            <li> 
              <div class="details"> 
                <p class="name">Language</p>
              </div>
              <div class="total">English</div>
              <a @click="showLanModal=true" href="javascript:void(0);" class="link"></a>          
            </li>
          </ul>
        </div>

        <!--Lotteries module-->   
        <div class="side-module">
          <h2 class="title">Lotteries</h2>
          <ul class="list lotteries"> 
            <li> 
              <img class="logo" src="/images/lotto/md/usa-powerball.png">
              <div class="details">
                <p class="name">Powerball<span class="mobile-index-label boost"><b class="text">Boost</b></span></p>
                <p class="award">€337.9 Million</p>
              </div>
              <span class="link" @click="handleTicket('powerball')"></span>          
            </li>
            <li> 
              <img class="logo" src="/images/lotto/sm/euromillions.png">
              <div class="details">
                <p class="name">euromillions</p>
                <p class="award">€18.1 Million</p>
              </div>
              <span class="link" @click="handleTicket('euromillions')"></span>          
            </li>
            <li> 
              <img class="logo" src="/images/lotto/sm/eurojackpot.png">
              <div class="details">
                <p class="name">Eurojackpot<span class="mobile-index-label boost"><b class="text">Boost</b></span></p>
                <p class="award">€90 Million</p>
              </div>
              <span class="link" @click="handleTicket('eurojackpot')"></span>          
            </li>
            <li> 
              <div class="circular"></div>
              <div class="details">
                <p class="name">More</p>
              </div>
              <router-link class="link" to="/lotto/lotto"></router-link>          
            </li>
          </ul>
        </div>
        <!--Quick Lottery module-->   
        <div class="side-module">
          <h2 class="title">Quick Lottery</h2>
          <ul class="list lotteries"> 
            <li> 
              <img class="logo" src="/images/quick/logo.png">
              <div class="details">
                <p class="name">Lotto 5/11</p>
                <p class="award">Every 5 minutes</p>
              </div>
              <router-link class="link" to="/quick/quick"></router-link>          
            </li>
          </ul>
        </div>

        <!--casino module-->   
        <div class="side-module">
          <h2 class="title">Casino</h2>
          <ul class="list scratchcard"> 
            <li v-for="item in casinoList" :key="item.id">
              <div class="main">
                <img class="logo" v-lazy="item.logo">
              </div> 
              <div class="details"> 
                <p class="name">{{item.name}}</p>
              </div>
              <router-link class="link" :to="{name:'casino_play',params:{id:item.play_url}}"></router-link>
            </li>
            <li> 
              <div class="circular"></div>
              <div class="details"> 
                <p class="name">More</p>
              </div>
              <router-link class="link" to="/casino/casino_page"></router-link>       
            </li>
          </ul>
        </div>
        
        <!--Scratchcards module-->   
        <div class="side-module">
          <h2 class="title">Scratchcards</h2>
          <ul class="list scratchcard"> 
            <li>
              <div class="main">
                <img class="logo" src="https://d2ss3jaw6yg7ks.cloudfront.net/assets/img/casino/thumbnails/5e940c029e6e3.png">
              </div> 
              <div class="details"> 
                <p class="name">Eggstra Cash</p>
              </div>
              <a class="link" href=""></a>          
            </li>
            <li> 
              <div class="main">
                <img class="logo" src="https://d2ss3jaw6yg7ks.cloudfront.net/assets/img/casino/thumbnails/5f6dc92ef368b.png">
              </div> 
              <div class="details"> 
                <p class="name">Chaos Crew</p>
              </div>
              <a class="link" href=""></a>          
            </li>
            <li> 
              <div class="main">
                <img class="logo" src="https://d2ss3jaw6yg7ks.cloudfront.net/assets/img/casino/thumbnails/5f6dcc127844f.png">
              </div> 
              <div class="details"> 
                <p class="name">The Respinners</p>
              </div>
              <a class="link" href=""></a>          
            </li>
            <li> 
              <div class="circular"></div>
              <div class="details"> 
                <p class="name">More</p>
              </div>
              <router-link class="link" to="/game/game"></router-link>       
            </li>
          </ul>
        </div>
        
        <!--Lotto Results module-->   
        <div class="side-module lotto-results">
          <ul class="list large"> 
            <li> 
              <div class="details"> 
                <p class="name">Lotto Results</p>
              </div>
              <router-link class="link" to="/result/result"></router-link>          
            </li>
          </ul>
        </div>
        <!--logout module-->
        <div v-show="hasGetInfo==1" class="side-exit">Not me? <a class="logout-btn" @click="exitLogin" href="javascript:void(0);">Log out</a></div>
      </div>
      <div class="page-side-lan">
        <div class="side-back"><a @click="showLanModal=false" class="button"><i class="arrow"></i>Back</a></div>
        <ul class="side-sublist justify">
          <li v-for="item in stateList" :key="item.code">
            <a class="link">{{item.name}}<span class="menu-item-pill">{{item.Abbreviation}}<i class="country-flag" v-bind:class="item.code"></i></span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
	import './index.scss'
  import { mapState } from 'vuex'
  import { mapActions } from 'vuex'
  import { fixedAppView } from '@/lib/tools'
  import { getLanList, getSlideCasinoList } from '@/api/data'
	export default {
		name: 'nav-menu',
    props: {
      openMenu: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        stateList: [],
        casinoList: [],
        showLanModal: false,
        authList: ['checkout','deposit']
      }
    },
    computed: {
      ...mapState({
        userName: state => state.userName,
        lottoMoney: state => state.lottoMoney,
        casinoMoney: state => state.casinoMoney,
        hasGetInfo: state => Number(state.hasGetInfo)
      })
    },
    mounted() {
      this.initLanList();

      this.getCasinoList();
    },
    methods: {
      ...mapActions(['handleLogOut']),
      async initLanList() {
        let response = await getLanList();
        let data = response && response.data;
        for (let i = 0; i < data.length; i++) {
          this.$set(this.stateList,i,data[i])
        }
      },
      async exitLogin() {
        let isAuth = this.isAuth();

        await this.$store.dispatch('handleLogOut');
        
        // await this.handleLogOut();
        
        this.$toast.success({
          forbidClick: true,
          message: 'you are logOut...'
        });

        isAuth && this.$router.push({name:'index'});
      },
      isAuth() {
        if (this.authList.indexOf(this.$route.name)>-1) {
          return true;
        } else {
          return false;
        }
      },
      async getCasinoList() {
        let response = await getSlideCasinoList();
        let casinoList = response && response.data;
        for (let i = 0; i < casinoList.length; i++) {
          this.$set(this.casinoList,i,casinoList[i]);
        }
      },
      closeHeadMenu() {
        this.$emit('closeHeadMenu');
      },
      handleTicket(name) {
        if (this.$route.params.id===name) {
          fixedAppView(false);
          this.$emit('closeHeadMenu');
        } else {
          this.$router.push({name:'ticket', params:{id:name}});
        }
      }
    }
	}
</script>