<template>
  <div>
    <banner></banner>
    <!--gluck module-->
    <div class="index-module-box">
      <h3 class="index-module-title">
        <span>Scratchcards</span>
        <router-link to="/game/game" class="index-module-link">View all scratchcards</router-link>
      </h3>
      <div class="index-module-list index-gluck-list">
        <swiper :options="gameSwiperOption">
          <swiper-slide class="index-module-item" v-for="(item,index) in gameList" :key="item.name">
            <div class="index-gluck-game">
              <img class="index-gluck-backdrop" v-bind:src="item.background">
              <img class="index-gluck-avator" v-lazy="item.logo" :alt="item.name">
              <router-link :to="item.demo_url" class="page-link"></router-link>
            </div>
            <div class="index-gluck-middle">
              <p class="index-gluck-detail">
                <span class="index-gluck-name">{{item.name || 'scratchcard game'}}</span>
                <router-link :to="item.demo_url" class="index-gluck-play">play demo</router-link>
              </p>
              <h3 class="index-gluck-award">{{item.currentjackpot_str}}</h3>
            </div>
          </swiper-slide>
        </swiper>
      </div>
    </div>
    <!--/gluck module-->
    <!--Must play Lotto module-->
    <div class="index-module-box index-lotto-box">
      <h3 class="index-module-title">
        <span>Must play Lotto</span>
        <router-link class="index-module-link" to="/lotto/lotto">View all lotteries</router-link>
      </h3>
      <div class="index-module-list index-lotto-list">
        <swiper :options="lottoSwiperOption">
          <swiper-slide class="index-module-item" v-for="(item,index) in lottoList" :key="item.name">
            <img class="index-must-bg" :src="item.mustbg"/>
            <div class="index-must-card">
              <div class="index-must-inner">
                <img class="index-must-avator" v-lazy="item.logo" :alt="item.name"/>
                <h3 class="index-must-title">{{item.name}}</h3>
                <p class="index-must-price">{{item.user_currency}} {{item.boost_jackpot || item.jackpot}}</p>
                <router-link :to="{name:'ticket',params:{id:formateLowercase(item.name)}}" class="btn" type="inlineblock" size="middle" theme="green">
                  Play now
                </router-link>
              </div>
            </div>
          </swiper-slide>
        </swiper>
      </div>
    </div>
    <!--/Must play Lotto module-->
    <!--Lotto Results module-->
    <div class="index-module-box">
      <h3 class="index-module-title">
        <span>Lotto Results</span>
        <router-link class="index-module-link" to="/result/result">More lotto results</router-link>
      </h3>
      <ul class="index-results-list">
        <li v-for="item in drawResultList">
          <h3 class="index-results-name">{{item.name}}</h3>
          <p class="index-results-time">{{item.date}}</p>
          <div class="index-results-wrapper">
            <ul v-if="(item.ball_number).length>0" class="index-results-balls">
              <li v-for="num in item.ball_number">{{num}}</li>
            </ul>
            <ul v-if="(item.extra_number).length>0" class="index-results-balls">
              <li v-for="num in item.extra_number" class="extra-number">{{num}}</li>
            </ul>
            <ul v-if="(item.bonus_number).length>0" class="index-results-balls">
              <li v-for="num in item.bonus_number" class="bonus-number">{{num}}</li>
            </ul>
          </div>
          <router-link :to="{path:'/result/resdetail',query:{name:formateLowercase(item.name)}}" class="index-results-link"></router-link>
        </li>
      </ul>
    </div>
    <!--/Lotto Results module-->
    <!--Lotto News module-->
    <div class="index-module-box">
      <h3 class="index-module-title">
        <span>Lotto News</span>
        <router-link class="index-module-link" to="/news/news">More News</router-link>
      </h3>
      <ul class="index-news-list">
        <li v-for="item in newsList" :key="item.maxlogo">
          <router-link class="index-news-main" :to="{name:'newsdetail', params:{id:item.id}}">
            <div class="index-news-logo"><img v-lazy="item.maxlogo" :alt="item.name"></div>
            <div class="index-news-box">
              <h3 class="index-news-title">{{item.title}}</h3>
              <div class="index-news-footer">
                <p class="index-news-time">{{item.time}}</p>
                <router-link class="index-news-btn" to="/news/news">Lotto News</router-link>
              </div>
            </div>
          </router-link>
        </li>
      </ul>
    </div>
    <!--/Lotto News module-->
  </div>
</template>
<script>
  import './index.scss'
  import mixin from '@/mixins/mixin'
  import { getLottoInfo, getGameInfo, getNewsInfo, getResultInfo } from '@/api/data'
	export default {
    name: "index",
    mixins: [ mixin ],
    data() {
      return {
        gametype: 6,
        lottoType: 4,
        indexList: [],
        newsList: [],
        gameList: [],
        gameSwiperOption: {
          freeMode: true,
          slidesPerView: 'auto',
        },
        lottoList: [],
        lottoSwiperOption: {
          freeMode: true,
          slidesPerView: 'auto',
        },
        drawResultList: []
      }
    },
    mounted() {
      
      this.getGameList();

      this.getLottoList();

      this.getResultList();
      
      this.getNewsList();
    },
    methods: {
      async getGameList() {
        let response = await getGameInfo();
        let ticket = response && response.data;
        ticket.forEach((item,index)=>{
          if (this.gametype !== item.gametype) return;
          let gameList = (item.list) && (item.list).slice(0,4);
          for (let i = 0; i < gameList.length; i++) {
            this.$set(this.gameList,i,gameList[i]);
          }
        })
      },
      async getLottoList() {
        let response = await getLottoInfo();
        let lotto = response && response.data;
        lotto.forEach((item,index)=>{
          if (this.lottoType !== item.type) return;
          let lottoList = (item.list) && (item.list).slice(0,4);
          for (let i = 0; i < lottoList.length; i++) {
            this.$set(this.lottoList,i,lottoList[i]);
          }
        })
      },
      async getResultList() {
        let response = await getResultInfo();
        let drawResultList = response && response.data && (response.data.list).slice(0,3);
        for (let i = 0; i < drawResultList.length; i++) {
          this.$set(this.drawResultList,i,drawResultList[i]);
        }
      },
      async getNewsList() {
        let response = await getNewsInfo();
        let newsList = response && response.data && response.data.slice(0,3);
        for (let i = 0; i < newsList.length; i++) {
          this.$set(this.newsList,i,newsList[i]);
        }
      }
    }
	}
</script>