@charset "utf-8";

/**
*
* @module index-module-box
*
*/
.index-module-box {
	+ .index-module-box {
		margin-top: 0.2rem;
	}
}

.index-module-title {
	@extend %flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.2rem;
	padding: 0.15rem 0;
	border-bottom: 1px solid  #e0e6ee;
	font-family: "mu black";
  font-size: 0.3rem;
  color: $black;
}

.index-module-link {
	@extend %relative;
	padding-right: 0.14rem;
  color: $black;
  font-size: 0.24rem;
  &:after {
  	@extend %absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	margin: auto;
  	content: '';
  	width: 0.14rem;
  	height: 0.14rem;
  	border-right: solid 2px #000;
  	border-bottom: solid 2px #000;
  	transform: rotate(-45deg);
  };
  &:hover {
  	text-decoration: underline;
  };
}

.index-module-list {
	@extend %flex;
	>li {
		@extend %relative;
		width: 24%;
		background-color: $white;
		&:not(:first-child) {
			margin-left: calc(4% / 3);
		}
	}
}

.index-module-item {
	@extend %relative;
	width: 3rem;
	background-color: $white;
	&:not(:first-child) {
		margin-left: 0.15rem;
	}
}

/**
*
* @module index-lotteries
*
*/
.index-lotteries-nav {
	@extend %flex;
	margin-left: -20px;
	>li {
		@extend %relative;
		font-family: "mu black";
    font-weight: normal;
    font-size: 14px;
    padding: 0 20px;
    cursor: pointer;
    font-weight: bold;
    &.active {
    	color: #00a9e9;
    }
    &:not(:last-child) {
    	&:after {
	    	@extend %absolute;
	    	top: 0;
	    	right: 0;
	    	bottom: 0;
	    	background-color: #9195a0;
	    	width: 1px;
	    	content: '';
	    	transform: rotate(20deg);
	    };
    };
	}
}

$lotteries: (
	(name: euromillions),
	(name: powerball),
	(name: eurojackpot),
	(name: mega-millions),
	(name: finland-lotto),
	(name: swiss-lotto),
	(name: superenaLotto),
	(name: california-superlotto),
	(name: new-york-lotto),
	(name: lotto2020),
	(name: bitcoin-jackpot),
	(name: el-gordo),
	(name: viking-lotto)
);

@for $i from 1 through length( $lotteries ) {
  $item: nth($lotteries,$i);
  .index-lotteries-list {
		.index-lotteries-item {
			.index-lotteries-header {
			  background: url('/images/index/lotto-bg.png') no-repeat;
			}
			&.#{ map-get($item,name) } {
				.index-lotteries-header {
				  background-position: 0 $i*-120px;
				  @media (max-width: 1440px) {
				  	background-position: -130px $i*-120px;
				  }
				}
			}
		}
	}	
}

.index-lotteries-list {
	@extend %flex;
	position: relative;
	.swiper-button-prev {
		left: -40px;
	}
	.swiper-button-next {
		right: -40px;
	}
}

.index-lotteries-item {
	@extend %relative;
	width: 24%;
	background-color: $white;
}

.index-lotteries-link {
	@extend %block;
}

.index-lotteries-header {
	@extend %flex;
	align-items: center;
	height: 120px;
}

.index-lotteries-box {
	@extend %relative;
}

.index-lotteries-avator {
	width: 90px;
}

.index-lotteries-detail {
	font-size: 12px;
	font-family: "mu r";
  color: $white;
}

.index-lotteries-price {
	margin-top: 3px;
	font-family: 'mon b';
  font-size: rem(20);
  color: $white;
}

.index-lotteries-footer {
	@extend %flex;
	justify-content: space-between;
	align-items: center;
	height: 45px;
	padding: 0 5px;
	background: $white;
}

.index-lotteries-time {
	font-size: 12px;
	color: $black;
}

.index-boost-icon {
	@extend %absolute;
	top: 0;
	left: 0;
	padding: 0 10px;
	background: #ff9f00;
	height: 27px;
  line-height: 27px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  font-size: 12px;
  text-align: center;
  color: $white;
  font-weight: bold;
}

/**
*
* @module index-gluck
*
*/
.index-gluck-list {
	min-height: 2.6rem;
	.swiper-container {
		margin-bottom: -7px;
		padding-bottom: 7px;
	}
	.index-module-item {
		box-shadow: 0px 0px 7px 0px rgba(7,7,7,0.16);
	}
}

.index-gluck-game {
	@extend %relative;
	@extend %flexCenter;
	padding: 6% 0;
}

.index-gluck-backdrop {
	@extend %absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin: auto;
}

.index-gluck-avator {
	@extend %relative;
	max-width: 90%;
}

.index-gluck-middle {
	padding: 0.1rem 2px;
}

.index-gluck-detail {
	@extend %flex;
	align-items: center;
	justify-content: space-between;
}

.index-gluck-name {
	@extend %inline-block;
	font-family: 'mu r';
  font-size: 0.24rem;
  color: $black;
  max-width: 56%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.index-gluck-play {
	font-size: 0.24rem;
  color: #00a9e9;
  font-family: 'mu b';
  text-decoration: underline;
}

.index-gluck-award {
	margin-top: 0.2rem;
  font-size: 0.28rem;
  font-family: 'mon b';
  color: $black;
  max-width: 100%;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/**
*
* @module index-must
*
*/
.index-lotto-list {
	min-height: 3.1rem;
}

.index-must-bg {
	max-width: 100%;
}

.index-must-card {
	@extend %absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@extend %flexCenter;
	background-color: rgba(0,0,0,0.5);
}

.index-must-inner {
	text-align: center;
}

.index-must-avator {
	width: 1.2rem;
}

.index-must-title {
  font-size: 0.24rem;
  font-family: "mon b";
  color: $white;
}

.index-must-price {
	margin-top: 0.1rem;
	font-size: 0.2rem;
	font-family: 'mu b';
	color: $white;
	+ .btn {
		margin-top: 0.1rem;
	}
}

/**
*
* @module index-results
*
*/
.index-results-list {
	display: flex;
  flex-direction: column;
	>li {
		@extend %relative;
		padding: 0.2rem;
		color: $black;
	  background: $white;
	  box-shadow: 0 0 0.1rem rgba(0,0,0,0.1);
		+li {
			margin-top: 0.1rem;
		}
	}
}

.index-results-name {
  font-size: 0.28rem;
}

.index-results-time {
	margin-top: 0.1rem;
	font-size: 0.24rem;
	font-family: 'mu r';
}

.index-results-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.2rem;
}

.index-results-balls {
	display: flex;
	+ .index-results-balls {
		margin-left: 2px;
	}
	>li {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 0.64rem;
    height: 0.64rem;
    font-size: 0.28rem;
    background: #cbcfdb;
    @extend %radius;
    font-family: "mu b";
    color: $white;
    text-align: center;
    &.extra-number {
    	background: #9195a0;
    }
    &.bonus-number {
    	background: $black;
    }
    &:nth-child(n+7) {
    	margin-top: 5px;
    }
    + li {
    	margin-left: 2px;
    }
	}
}

.index-results-link {
	@extend %absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;
	&:after {
		@extend %absolute;
		top: 0;
		bottom: 0;
		right: 0.2rem;
		margin: auto;
		width: 0.2rem;
		height: 0.2rem;
		content: '';
		border-right: solid 2px #cbcfdb;
		border-bottom: solid 2px #cbcfdb;
		transform: rotate(-45deg);
	};
}

/**
*
* @module index-news-list
*
*/

.index-news-list {
	display: flex;
	flex-direction: column;
	min-height: 2.82rem;
	>li {
		padding: 0.1rem;
	}
}

.index-news-main {
	position: relative;
	display: flex;
	align-items: center;
	color: #33373a;
}

.index-news-logo {
	margin-right: 0.2rem;
	width: 2.4rem;
	> img {
		max-width: 100%;
	}
}

.index-news-box {
	flex: 1;
}

.index-news-title {
	font-size: 0.26rem;
	font-family: "mu eb";
}

.index-news-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 0.2rem;
	font-size: 0.24rem;
}

.index-news-btn {
	display: inline-flex;
	align-items: center;
	height: 0.4rem;
	padding: 0 0.1rem;
	text-align: center;
  border: 1px solid #c7c9c9;
  font-size: 0.24rem;
  color: #9195a0;
  font-family: 'mu r';
}