<template>
  <div class="banner-wrapper">
    <swiper :options="banSwiperOption">
      <swiper-slide v-for="(slide,index) in banList" :key="slide.name">
        <img class="banner-avator" v-lazy="{src: slide.background, error: 'url(../../images/banner/bg.png', loading: 'url(../../images/banner/bg.png'}"/>
        <div class="banner-inner">
          <div class="banner-box">
            <img class="banner-logo" :src="slide.logo" :alt="slide.name">
            <h3 class="banner-jackpot">{{slide.user_currency}}{{slide.boost_jackpot || slide.jackpot}} Million</h3>
            <p class="banner-time">{{slide.draw_date}}</p>
            <router-link :to="{name:'ticket', params:{id:formateLowercase(slide.name)}}" class="btn" type="inlineblock" size="middle" theme="green">play now</router-link>
          </div>
        </div>
      </swiper-slide>
      <div class="swiper-pagination" slot="pagination"></div>
    </swiper>
  </div>
</template>
<script>
  import './index.scss'
  import mixin from '@/mixins/mixin'
  import { getBanList } from '@/api/data'
  export default {
    name: 'banner',
    mixins: [ mixin ],
    data() {
      return {
        banList: [],
        banSwiperOption: {
          autoplay: 3000,
          speed: 1000,
          freeMode: true,
          paginationClickable: true,
          pagination: '.swiper-pagination'
        }
      }
    },
    mounted() {
      this.getBanList();
    },
    methods: {
      async getBanList() {
        let response = await getBanList();
        let banList = response && response.data;
        for (let i = 0; i < banList.length; i++) {
          this.$set(this.banList,i,banList[i]);
        }
      }
    }
  }
</script>