@charset "utf-8";

/**
*
* @module banner-wrapper
*
*/
.banner-wrapper {
	@extend %relative;
	height: 3.66rem;
	margin: 0 -0.15rem;
}

.banner-avator {
	@extend %relative;
	@extend %block;
	width: 100%;
	object-fit: cover;
	object-position: center center;
	height: 3.66rem;
}

.banner-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	@extend %absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 92%;
}

.banner-box {
	text-align: center;
}

.banner-logo {
	width: 1.4rem;
}

.banner-jackpot {
	color: #fff;
	font-size: 0.44rem;
  font-family: "mon b";
}

.banner-time {
	margin-bottom: 0.16rem;
  font-size: 0.2rem;
	font-family: "mu sb";
  color: rgba(255,255,255,0.8);
}

.swiper-container-horizontal > .swiper-pagination-bullets {
 	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.swiper-pagination-bullet {
	margin: 0 2px;
	width: 0.2rem;
	height: 4px;
	background-color: rgba(255,255,255,.7);
	border-radius: 2px;
}

.swiper-pagination-bullet-active {
	width: 0.28rem;
	background-color: #0099e9;
}