@charset "utf-8";

.error-page {
	display: flex;
	align-items: center;
	justify-content: center;
  height: 100vh;
  background: linear-gradient(#0391d3, #0282c1);
  background: url('/images/error/error-bg.jpg') center center no-repeat;
  background-size: 100% 100%;
}

.error-wrapper {
	text-align: center;
	color: $white;
}

.error-logo {
  width: 145px;
}

.error-box {
  margin-top: 40px;
}

.error-icon-tip {
  width: 80px;
}

.error-title {
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 600;
}

.error-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: $white;
}