<template>
  <div class="error-page">
    <div class="error-wrapper">
      <img class="error-logo" src="/images/error/error-logo-white.svg">
      <div class="error-box">
        <img class="error-icon-tip" src="/images/error/error-icon-tip.png">
        <h1 class="error-title">Currently unavailable</h1>
        <p class="error-text">We're sorry to tell you that we don't operate in your location... yet.</p>
        <p class="error-text">Maybe it's time to relocate...or check back with us soon!</p>
        <p class="error-text">For further information, please contact support@multilotto.net</p>
        <h3 class="error-text">Back to home page {{counter}} seconds</h3>
      </div>
    </div>
  </div>
</template>
<script>
  import './index.scss'
	export default {
    data() {
      return {
        counter: 5
      }
    },
    mounted() {
      let timer = setInterval(()=>{
        this.counter--;
      },1000);
      this.$once('hook:beforeDestroy',()=>{
        clearInterval(timer);
        timer = null;
      });
    },
    watch: {
      'counter': function (newVal,oldVal) {
        (0 === newVal) && this.$router.push({name:this.$config.homeName});
      }
    }
	}
</script>